p {
    font: 14px verdana,sans-serif;
}
ol {
    margin: 10px;
    padding-right: 25px;
}
li {
    list-style-position: inside;
}
.description {
    font-size: 12px;
    margin: 2px;
    font-style: italic;
    text-align: center;
}
#wrap > ol {
    display: inline-block;
}
#contents td, #contents th {
    border: none;
}
@media only screen and (max-width: 1100px) {
    .shotinfo {
        width: 213px;
        height: 160px;
    }
    #yuitia {
        width: 117px;
        height: 228px;
    }
}
@media only screen and (max-width: 800px) {
    #boxart {
        width: 140px;
        height: 140px;
    }
    #graze {
        width: 175px;
        height: 72px;
    }
    #table {
        font-size: 11px;
    }
}
