h1, h2, h3, h4, table:not(.poll):not(.rendering), label, li, figcaption, dt, p:not(.language):not(#ack), caption:not(.legend_surv), input[type='file'], #nav, #hy_text {
    color: white;
}
.rendering th, .rendering td:not(.overview):not(.overview_half), .donation a, .PoDD, .PoDDp, .LLS, .LLSp, .PCB, .PCBp, .PoFV, .PoFVp, .MoF, .MoFp, .GFW, .GFWp, .TD, .TDp, .DDC, .DDCp, .UM, .UMp, .UDoALG, .UDoALGp, .FW, .FWp,
.PoDDt th, .LLSt th, .PCBt th, .PoFVt th, .MoFt th, .GFWt th, .DDCt th, .UMt th, .UDoALGt th, .FWt th, .tier th, .tier {
    color: black;
}
body, div:not(.dropdown):not(.dropdown_content):not(.nav_right):not(.dark_bg):not(.dropdowns):not(.ext_menu):not(#ext_mobile):not(#ext_desktop):not(#modal) {
    background-color: #202020;
}
#replays a:link, #replay a:link {
    color: #00bfff;
}
a:link:not(.replay):not(.i):not(.dropdown_button):not(.donation a) {
    color: #0fa7ff;
}
a:active:not(.replay):not(.i):not(.dropdown_button):not(.donation a) {
    color: red;
}
a:visited:not(.replay):not(.i):not(.dropdown_button):not(.donation a) {
    color: #ff69b4;
}
#hy {
    background-position: -632px 0px;
}
.contents, #contents_new, .pofv_chara_art, table:not(.noborders), table:not(.noborders) tr, table:not(.noborders) th, table:not(.noborders) td:not(.noborders) {
    border: 1px solid #808080;
}
.Winter, .FinalA, .FinalB, .in_route {
    color: cyan;
}
.does_not_even_score {
    color: gold;
}
.barely_even_scores {
    color: #FF8C00;
}
.moderately_even_scores {
    color: #00A000;
}
.does_even_score {
    color: dodgerblue;
}
.does_even_score_well, .hrtp_route {
    color: #E768C3;
}
.lolk_mode {
    color: #9370DB;
}
a:link.dropdown_button, a:visited.dropdown_button {
    color: white;
}
.donation {
    background-color: white;
    border: 1px solid white;
}
.dropdown_content, .ext_menu {
    background-color: #202020;
}
.dropdown_content p a:hover, .link a:hover .menu p a:hover {
    background-color: #555;
}
#ext_mobile .menu-icon .nav-icon, #ext_mobile .menu-icon .nav-icon:before, #ext_mobile .menu-icon .nav-icon:after {
    background-color: white;
}
.page_table {
    background-color: #333;
    border: 3px solid #aaa;
}
.dimgrey {
    color: #999999;
}
.dl_icon {
    background-image: url('/assets/games/wr/dl_white.png');
}
.Spring {
    color: fuchsia;
}
.Summer {
    color: lime;
}
.Autumn {
    color: orange;
}
.Winter {
    color: cyan;
}
.replay {
    color: white;
}
::before {
    color: white;
}
.cs {
    border-bottom: 1px dotted white;
}
.g {
    color: lime;
}
.r {
    color: black;
}
.hellsinker th {
    background-color: #333;
}
.slowdown, .warning, .unver {
    color: #f87;
}
.general_header {
    background-color: #888;
}
#hy_link {
    color: white;
}
#lang_icon {
    display: none;
}
#lang_icon_dark {
    display: inline;
}
.foot {
    border-top: 3px solid #fff;
}
.dropdown-check-list .anchor::after {
    border-left: 2px solid white;
    border-top: 2px solid white;
}
.github_icon {
    background-position: -1040px 0px;
}
.source_icon {
    background-position: -1056px 0px;
}
.thvote_icon {
    background-position: -1072px 0px;
}
.matrix_icon {
    background-position: -1104px 0px;
}
.dev_instance {
    color: #ff69b4;
}
