li {
    list-style-position: inside;
}
input[type=number] {
    height: 20px;
}
.nomargin {
    margin-left: auto;
    margin-right: auto;
}
.error {
    color: red;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
#wrap {
    padding-bottom: 15px;
}
#nav {
    margin-bottom: 5px;
}
#result {
    margin: 4px;
}
#countdown {
    font-size: 16px;
    font-weight: bold;
}
#route, #season, #calculator, #scoring_button, #survival_button {
    display: none;
}
