li {
    list-style-position: inside;
}
input[type=number] {
    height: 20px;
}
.nomargin {
    margin-left: auto;
    margin-right: auto;
}
.error {
    color: red;
}
#wrap {
    padding-bottom: 15px;
}
#result {
    margin: 4px;
}
#countdown {
    font-size: 16px;
    font-weight: bold;
}
#route, #season, #calculator, #scoring_button, #survival_button {
    display: none;
}
