div > div > p {
    margin: 4px;
}
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.fangame {
    background: url('/assets/shared/spritesheets/fangame_sheet.png');
    display: inline-block;
    width: 50px;
    height: 50px;
}
.sg {
    background-position: 0px 0px;
}
.kg {
    background-position: -50px 0px;
}
.bsr {
    background-position: -100px 0px;
}
.smd {
    background-position: -150px 0px;
}
.mrs {
    background-position: -200px 0px;
}
.sss {
    background-position: -250px 0px;
}
.mb {
    background-position: -300px 0px;
}
.wnsp {
    background-position: -350px 0px;
}
.fos {
    background-position: -400px 0px;
}
.fdf {
    background-position: -450px 0px;
}
.fdf2 {
    background-position: -500px 0px;
}
.tfs {
    background-position: -550px 0px;
}
.hsob {
    background-position: -600px 0px;
}
.mpp {
    background-position: -650px 0px;
}
.bosm {
    background-position: -700px 0px;
}
.gods {
    background-position: -750px 0px;
}
.rss {
    background-position: -800px 0px;
}
.ibp {
    background-position: -850px 0px;
}
.pt {
    background-position: -900px 0px;
}
.eios {
    background-position: -950px 0px;
}
.sohw {
    background-position: -1000px 0px;
}
.bm {
    background-position: -1050px 0px;
}
.msd {
    background-position: -1100px 0px;
}
.dead {
    text-decoration: line-through;
}
.sortable {
    margin-top: 25px;
}
#lastupdate {
    background-color: lightsalmon;
    font-size: 24px;
    font-weight: bold;
}
#sheet_link {
    white-space: nowrap;
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .ack_br {
        display: inline;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1 {
        clear: both;
    }
}
