a:link.dropdown_button {
    color: black;
}
a:visited.dropdown_button {
    color: black;
}
div > div > p {
    margin: 4px;
}
table:not(#jargontable):not(#spelltable) {
    white-space: nowrap;
}
ol {
    text-align: left;
    margin: 25px 0 25px 25px;
}
.tt {
    font-family: 'courier new';
}
.code {
    font-family: 'courier new';
    border: 2px solid #606060;
    background-color: grey;
    color: white;
}
.files, .files_text {
    clear: both;
}
.green {
    color: green;
    font-weight: bold;
}
.red {
    color: red;
    font-weight: bold;
}
.plain_red {
    color: red;
}
.gpu {
    width: 75%;
}
.img_caption {
    margin-top: 1px;
}
.shots th, .shots td, .unlocks th, .unlocks td, .res th, .res td {
    white-space: normal;
}
.cover {
    background-image: url('/assets/shared/spritesheets/game_sheet50x50.png');
    display: inline-block;
    width: 50px;
    height: 50px;
}
.jargon {
    width: 150px;
}
.contents ul {
    padding-left: 20%;
}
.recommended {
    color: orangered;
    font-size: 16px;
    line-height: 14px;
}
.small_screen {
    display: none !important;
}
.sign {
    font-weight: 800;
    font-size: 18px;
    line-height: 14px;
}
.flat {
    margin-top: 2px;
    margin-bottom: 2px;
}
.wide-bottom {
    margin-top: 2px;
    margin-bottom: 15px;
}
.dual_images {
    overflow: hidden;
}
.dual_left {
    float: left;
    margin-left: 5%;
}
.dual_right {
    float: right;
    margin-right: 5%;
}
#contents {
    margin-left: auto;
    margin-right: auto;
}
#eosd_files {
    overflow: hidden;
    margin-left: 25%;
    margin-right: 25%;
}
#back {
    float: left;
    margin-top: 2px;
}
#files_mb {
    float: left;
}
#files_jp {
    float: right;
}
#jargontable tr:not(:first-child):not(:last-child) td {
    padding-top: 3px;
    padding-bottom: 3px;
}
#jargontable tr:first-child td {
    padding-bottom: 3px;
}
#jargontable tr:last-child td {
    padding-top: 3px;
}
#bullettable, #jargontable, #spelltable {
    text-align: left;
}
#bullettable {
    margin-left: auto;
    margin-right: auto;
}
#EoSD_image {
    background-position: -250px 0px;
}
#PCB_image {
    background-position: -300px 0px;
}
#IN_image {
    background-position: -350px 0px;
}
#PoFV_image {
    background-position: -400px 0px;
}
#MoF_image {
    background-position: -450px 0px;
}
#SA_image {
    background-position: -500px 0px;
}
#UFO_image {
    background-position: -550px 0px;
}
#GFW_image {
    background-position: -600px 0px;
}
#TD_image {
    background-position: -650px 0px;
}
#DDC_image {
    background-position: -700px 0px;
}
#LoLK_image {
    background-position: -750px 0px;
}
#HSiFS_image {
    background-position: -800px 0px;
}
#WBaWC_image {
    background-position: -850px 0px;
}
#UM_image {
    background-position: -900px 0px;
}
#emus {
    border-spacing: 30px 0;
}
#emus li {
    list-style-type: none;
    text-align: left;
}
#emus .t98next {
    padding: 8px;
}
#t98_hotkeys {
    border-spacing: 10px;
}
@media only screen and (max-width: 2300px) {
    #emus {
        display: flex;
        margin-left: 25%;
        margin-right: 25%;
    }
    #emus tbody {
        display: flex;
    }
    #emus tr {
        display: flex;
        flex-basis: 10%;
        flex-wrap: wrap;
    }
    #emus th, #emus td {
        flex-basis: 100%;
        height: 120px;
    }
    #emus th {
        height: 16px;
        padding-bottom: 8px;
    }
    .dual_left, .dual_right {
        margin: 0;
    }
    .small_screen {
        display: flex !important;
    }
    .recommended:not(.small_screen) {
        display: none !important;
    }
}
@media only screen and (max-width: 2000px) {
    #fonts .dual_left, #fonts .dual_right {
        float: none;
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 1800px) {
    #eosd_files {
        margin-left: 10%;
        margin-right: 10%;
    }
    #neko_config .dual_left, #neko_config .dual_right {
        float: none;
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 1400px) {
    .jargon {
        width: auto;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1225px) {
    .wrap {
        margin-left: 5%;
        margin-right: 5%;
    }
    .dual_left, .dual_right {
        float: none;
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 1000px) {
    img:not(.emu) {
        width: 80%;
        height: 80%;
    }
    #wrap {
        font-size: 11px;
    }
    #emus {
        display: flex;
        margin-left: 0%;
        margin-right: 0%;
    }
    #eosd_files {
        margin-left: 0%;
        margin-right: 0%;
    }
    .sign {
        font-size: 15px;
        line-height: 11px;
    }
    .recommended {
        font-size: 13px;
        line-height: 11px;
    }
    .dual_left, .dual_right {
        float: none;
        margin-bottom: 15px;
    }
}
