p {
    margin: 10px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
form {
    margin-bottom: 10px;
}
label > img {
    padding-bottom: 4px;
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.general_header {
    background-color: #aaaaaa;
}
.sorttable_mmdd {
    white-space: nowrap;
}
#nav {
    margin-bottom: 5px;
}
#searchtable {
    border: none;
    margin-left: auto;
    margin-right: auto;
}
#searchtable td {
    border: none;
}
#previous {
    float: left;
}
#next {
    float: right;
}
#player {
    width: 150px;
}
#shot {
    width: 90px;
}
#back {
    padding-top: 5px;
    padding-bottom: 5px;
}
#replays, #replay {
    margin-left: auto;
    margin-right: auto;
}
#conditions {
    margin-bottom: 20px !important;
}
#conditions span {
    display: inline-block;
}
@media only screen and (max-width: 800px) {
    #replays {
        overflow-x: scroll;
    }

}
