p {
    margin: 10px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
form {
    margin-bottom: 10px;
}
label > img {
    padding-bottom: 4px;
}
.general_header {
    background-color: #aaaaaa;
}
.sorttable_mmdd {
    white-space: nowrap;
}
.comment {
    max-width: 250px;
}
#searchtable {
    border: none;
    margin-left: auto;
    margin-right: auto;
}
#searchtable td {
    border: none;
}
#previous {
    float: left;
}
#next {
    float: right;
}
#player {
    width: 150px;
}
#shot {
    width: 90px;
}
#back {
    padding-top: 5px;
    padding-bottom: 5px;
}
#replays, #replay {
    margin-left: auto;
    margin-right: auto;
}
#conditions {
    margin-bottom: 20px !important;
}
#conditions span {
    display: inline-block;
}
@media only screen and (max-width: 2350px) {
    .wrap {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media only screen and (max-width: 2050px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (max-width: 1750px) {
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
    p {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media only screen and (max-width: 1450px) {
    .wrap {
        margin-left: 5%;
        margin-right: 5%;
    }
    p {
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media only screen and (max-width: 1100px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
    p {
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (max-width: 800px) {
    #replays {
        overflow-x: scroll;
    }
}
