.index_icon {
    background-position: 0px 0px;
}
.c67_icon {
    background-position: -16px 0px;
}
.drc_icon {
    background-position: -32px 0px;
}
.gensokyo_icon {
    background-position: -48px 0px;
}
.history_icon {
    background-position: -64px 0px;
}
.jargon_icon {
    background-position: -80px 0px;
}
.lnn_icon {
    background-position: -96px 0px;
}
.pofv_icon {
    background-position: -112px 0px;
}
.scoring_icon {
    background-position: -128px 0px;
}
.slots_icon {
    background-position: -144px 0px;
}
.survival_icon {
    background-position: -160px 0px;
}
.thvote_icon {
    background-position: -176px 0px;
}
.tiers_icon {
    background-position: -192px 0px;
}
.tools_icon {
    background-position: -208px 0px;
}
.wr_icon {
    background-position: -224px 0px;
}
.discord_icon {
    background-position: -240px 0px;
}
.docs_icon {
    background-position: -256px 0px;
}
.exphp_icon {
    background-position: -288px 0px;
}
.github_icon {
    background-position: -304px 0px;
}
.lunarcast_icon {
    background-position: -320px 0px;
}
.pndsng_icon {
    background-position: -336px 0px;
}
.priw8_icon {
    background-position: -352px 0px;
}
.royalflare_icon {
    background-position: -368px 0px;
}
.source_icon {
    background-position: -384px 0px;
}
.sheets_icon {
    background-position: -400px 0px;
}
.steam_icon {
    background-position: -416px 0px;
}
.thcrap_icon {
    background-position: -432px 0px;
}
.twitch_icon {
    background-position: -448px 0px;
}
.twitter_icon {
    background-position: -464px 0px;
}
.youtube_icon {
    background-position: -480px 0px;
}
.zerotier_icon {
    background-position: -496px 0px;
}
.twc_icon {
    background-position: -752px 0px;
}
.kg_icon {
    background-position: -768px 0px;
}
.unknown_icon {
    background-position: -784px 0px;
}
.forms_icon {
    background-position: -800px 0px;
}
.trs_icon {
    background-position: -816px 0px;
}
.fangame_icon {
    background-position: -832px 0px;
}
.wiki_icon {
    background-position: -848px 0px;
}
.faq_icon {
    background-position: -864px 0px;
}
.gsd_icon {
    background-position: -976px 0px;
}
.thspotify_icon {
    background-position: -992px 0px;
}
.nylilsa_icon {
    background-position: -1088px 0px;
}
.matrix_icon {
    background-position: -1120px 0px;
}
