table {
    border-collapse: separate;
}
table, th, td {
    border: 1px solid #000;
}
tr:not(.irregular_tr):nth-child(even), tr.irregular_tr:nth-child(odd) {
    background-color: #dddddd;
}
.nowrap {
    white-space: nowrap;
}
.cover, .game_img {
    background-image: url('/assets/shared/spritesheets/game_sheet50x50.png');
    display: inline-block;
    height: 50px;
    width: 50px;
}
.game_img {
    cursor: pointer;
}
.cover98 {
    border: 1px solid #000;
}
.general_header {
    background-color: #aaaaaa;
}
.HRtPt th, .HRtPp, .HRtP {
    color: white;
    background-color: #b6423c;
}
.SoEWt th, .SoEWp, .SoEW {
    color: white;
    background-color: #7d3884;
}
.PoDDt th, .PoDDp, .PoDD {
    background-color: gold;
}
.LLSt th, .LLSp, .LLS {
    background-color: #90ee90;
}
.MSt th, .MSp, .MS {
    color: white;
    background-color: #ae11d5;
}
.EoSDt th, .EoSDp, .EoSD {
    background-color: #ff2400;
}
.PCBt th, .PCBp, .PCB {
    background-color: #ff8ed2;
}
.INt th, .INp, .IN {
    color: white;
    background-color: #339;
}
.PoFVt th, .PoFVp, .PoFV {
    background-color: #009973;
}
.MoFt th, .MoFp, .MoF {
    background-color: #96b300;
}
.SAt th, .SAp, .SA {
    color: white;
    background-color: #591400;
}
.UFOt th, .UFOp, .UFO {
    color: white;
    background-color: #4169e1;
}
.GFWt th, .GFWp, .GFW {
    background-color: #00c8c8;
}
.TDt th, .TDp, .TD {
    background-color: #4a808c;
}
.DDCt th, .DDCp, .DDC {
    background-color: #a77;
}
.LoLKt th, .LoLKp, .LoLK {
    color: white;
    background-color: #6a47be;
}
.HSiFSt th, .HSiFSp, .HSiFS {
    color: white;
    background-color: #176e0e;
}
.WBaWCt th, .WBaWCp, .WBaWC {
    color: white;
    background-color: #190e0e;
}
.UMt th, .UMp, .UM {
    background-color: #23fcb1;
}
.FinalA, .FinalB, .in_route {
    font-size: 12px;
    color: #339;
}
.Spring {
    color: #990099;
}
.Summer {
    color: green;
}
.Autumn {
    color: #8D4500;
}
.Winter {
    color: blue;
}
.border p {
    margin: 4px;
}
.game_image {
    position: relative;
}
.game_image .tooltip {
    left: 0%;
    margin-left: -60px;
}
.tooltip {
    font-weight: initial;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.game_image:hover .tooltip {
    visibility: visible;
}
.full_name {
    width: 300px;
}
.foot {
    border-top: 3px solid #000;
}
.dl_icon {
    width: 11px;
    height: 11px;
    display: inline-block;
    background-image: url('/assets/games/wr/dl.png');
}
#wrap:after {
    content: "\200C";
    display: block;
    line-height: 1em;
    color: #000;
}
#nav {
    margin-bottom: 5px;
}
#newlayout, #player_search, #playersearchlink, #contents_new, #lnn_list, #player_list, #search_label {
    display: none;
}
#newlayout, #player_search {
    text-align: center;
}
#lnn_list, #player_list {
    margin-top: 10px;
}
#ranking tbody {
    counter-reset: sortabletablescope;
}
#ranking tbody td:first-child::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
}
#toggle {
    float: left;
}
#HRtPt, #SoEWt {
    width: 400px;
}
#HRtP_image, #HRtP_image_old {
    background-position: 0px 0px;
}
#SoEW_image, #SoEW_image_old {
    background-position: -50px 0px;
}
#PoDD_image, #PoDD_image_old {
    background-position: -100px 0px;
}
#LLS_image, #LLS_image_old {
    background-position: -150px 0px;
}
#MS_image, #MS_image_old {
    background-position: -200px 0px;
}
#EoSD_image, #EoSD_image_old {
    background-position: -250px 0px;
}
#PCB_image, #PCB_image_old {
    background-position: -300px 0px;
}
#IN_image, #IN_image_old {
    background-position: -350px 0px;
}
#PoFV_image, #PoFV_image_old {
    background-position: -400px 0px;
}
#MoF_image, #MoF_image_old {
    background-position: -450px 0px;
}
#SA_image, #SA_image_old {
    background-position: -500px 0px;
}
#UFO_image, #UFO_image_old {
    background-position: -550px 0px;
}
#GFW_image, #GFW_image_old {
    background-position: -600px 0px;
}
#TD_image, #TD_image_old {
    background-position: -650px 0px;
}
#DDC_image, #DDC_image_old {
    background-position: -700px 0px;
}
#LoLK_image, #LoLK_image_old {
    background-position: -750px 0px;
}
#HSiFS_image, #HSiFS_image_old {
    background-position: -800px 0px;
}
#WBaWC_image, #WBaWC_image_old {
    background-position: -850px 0px;
}
#UM_image, #UM_image_old {
    background-position: -900px 0px;
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1 {
        margin-top: 15px;
    }
    .wrap {
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        margin-bottom: 15px;
        margin-top: 0px;
    }
    h2 {
        margin-bottom: 10px;
        margin-top: 5px;
    }
}
