table {
    border-collapse: separate;
}
table, th, td {
    border: 1px solid #000;
}
tr:not(.irregular_tr):nth-child(even), tr.irregular_tr:nth-child(odd) {
    background-color: #dddddd;
}
.nowrap {
    white-space: nowrap;
}
.cover, .game_img {
    display: inline-block;
    height: 50px;
    width: 50px;
}
.game_img {
    cursor: pointer;
}
.sheet_1 {
    background-image: url('/assets/shared/spritesheets/game_sheet50x50_1.png');
}
.sheet_2 {
    background-image: url('/assets/shared/spritesheets/game_sheet50x50_2.png');
}
.general_header {
    background-color: #aaaaaa;
}
.FinalA, .FinalB, .in_route {
    font-size: 12px;
    color: #339;
}
.Spring {
    color: #990099;
}
.Summer {
    color: green;
}
.Autumn {
    color: #8D4500;
}
.Winter {
    color: blue;
}
.border p {
    margin: 4px;
}
.game_image {
    position: relative;
}
.game_image .tooltip {
    left: 0%;
    margin-left: -60px;
}
.game_image:hover .tooltip {
    visibility: visible;
}
.full_name {
    width: 300px;
}
.foot {
    border-top: 3px solid #000;
}
.dl_icon {
    width: 11px;
    height: 11px;
    display: inline-block;
    background-image: url('/assets/games/wr/dl.png');
}
#wrap:after {
    content: "\200C";
    display: block;
    line-height: 1em;
    color: #000;
}
#newlayout, #contents_new, #lnn_list, #search, #searchlink, #search_results, #empty_player, #empty_category, .search_label {
    display: none;
}
#newlayout, #pvp_games, #search {
    text-align: center;
}
#lnn_list, #search_results, #category_search {
    margin-top: 10px;
}
#ranking tbody {
    counter-reset: sortabletablescope;
}
#ranking tbody td:first-child::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
}
#toggle {
    float: left;
}
#HRtPt, #SoEWt {
    width: 400px;
}
#HRtP_image, #HRtP_image_old {
    background-position: 0px 0px;
}
#SoEW_image, #SoEW_image_old {
    background-position: -50px 0px;
}
#PoDD_image, #PoDD_image_old {
    background-position: -100px 0px;
}
#LLS_image, #LLS_image_old {
    background-position: -150px 0px;
}
#MS_image, #MS_image_old {
    background-position: -200px 0px;
}
#EoSD_image, #EoSD_image_old {
    background-position: -250px 0px;
}
#PCB_image, #PCB_image_old {
    background-position: -300px 0px;
}
#IN_image, #IN_image_old {
    background-position: -350px 0px;
}
#PoFV_image, #PoFV_image_old {
    background-position: -400px 0px;
}
#MoF_image, #MoF_image_old {
    background-position: 0px 0px;
}
#SA_image, #SA_image_old {
    background-position: -50px 0px;
}
#UFO_image, #UFO_image_old {
    background-position: -100px 0px;
}
#GFW_image, #GFW_image_old {
    background-position: -200px 0px;
}
#TD_image, #TD_image_old {
    background-position: -250px 0px;
}
#DDC_image, #DDC_image_old {
    background-position: -300px 0px;
}
#LoLK_image, #LoLK_image_old {
    background-position: -350px 0px;
}
#HSiFS_image, #HSiFS_image_old {
    background-position: -400px 0px;
}
#WBaWC_image, #WBaWC_image_old {
    background-position: -450px 0px;
}
#UM_image, #UM_image_old {
    background-position: -500px 0px;
}
#UDoALG_image, #UDoALG_image_old {
    background-position: -550px 0px;
}
#FW_image, #FW_image_old {
    background-position: -600px 0px;
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    .wrap {
        margin-left: 5%;
        margin-right: 5%;
    }
}