h1 {
    margin-bottom: 15px;
    clear: both;
}
h2 {
    margin-bottom: 0px;
    margin-top: 15px;
    clear: both;
}
h3 {
    margin-bottom: 0px;
    margin-top: 15px;
}
li {
    list-style-position: inside;
    margin: 3px;
}
p {
    margin: 4px;
}
input[type=button] {
    margin-top: 4px;
}
input[type=button].delete {
    margin-top: 4px;
    margin-bottom: 4px;
}
.wide {
    margin-top: 10px;
    margin-bottom: 10px;
}
.donation {
    border: 1px solid black;
    border-radius: 8px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    padding: 12px 0px 12px 0px;
}
.donation a {
    color: white;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
}
@supports not (width: fit-content) {
    .donation {
        width: 125px;
    }
}
.warning {
    color: darkred;
    font-weight: bold;
}
.sub_li {
    list-style-type: square;
    padding-left: 15px;
}
.credits {
    text-align: left;
    margin-top: 15px;
}
.dead {
    text-decoration: line-through;
}
.admin_icon {
    display: inline;
}
.pages_left {
    float: left;
    width: 50%;
}
.pages_right {
    float: right;
    width: 50%;
}
.page_table {
    border: 3px solid #444;
    border-radius: 16px;
    margin-right: 15px;
    margin-left: 15px;
    list-style: none;
}
.link {
    position: relative;
}
.link a {
    width: 100%;
}
.link a:hover {
    background-color: #bbb;
}
.link .tooltip {
    width: 300px;
}
.link:hover .tooltip {
    visibility: visible;
}
.link:hover .tooltip:hover {
    visibility: hidden;
}
.tooltip_link:link {
    color: #1e90ff;
}
.tooltip_link:active {
    color: red;
}
.tooltip_link:visited {
    color: #ff69b4;
}
.flag {
    width: 16px;
    height: 16px;
    background-image: url('/assets/shared/spritesheets/flags_sheet.png');
}
.flag_china {
    background-position: -880px 0px;
}
.flag_japan {
    background-position: -912px 0px;
}
.flag_russia {
    background-position: -928px 0px;
}
.flag_uk {
    background-position: -944px 0px;
}
.flag_us {
    background-position: -960px 0px;
}
.flag_germany {
    background-position: -1008px 0px;
}
.flag_spain {
    background-position: -1024px 0px;
}
.cookie {
    width: 250px;
}
#map {
    width: 53%;
}
#tiers {
    width: 68%;
}
#bottom {
    clear: both;
    padding-top: 25px;
    font-size: 11px;
    color: #505050;
}
#hy_text {
    margin: 4px 0px 0px 0px;
}
#music_links {
    text-align: left;
}
#errors {
    table-layout: fixed;
    width: 100%;
}
#errors td {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
#contact {
    list-style: none;
}
@media only screen and (max-width: 1100px) {
    .page_table > .link > .tooltip {
        width: 200px;
        top: 100%;
        left: 30%;
    }
}
@media only screen and (min-width: 2000px) and (max-width: 2300px) {
    ul:not(#contact) {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media only screen and (min-width: 1800px) and (max-width: 2000px) {
    ul:not(#contact) {
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1800px) {
    ul:not(#contact) {
        padding: 0px;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    ul:not(#contact) {
        padding: 0px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    ul:not(#contact) {
        padding: 0px;
    }
    #avatar {
        width: 95%;
    }
}
@media only screen and (max-width: 800px) {
    #avatar {
        width: 95%;
    }
}
