ul {
    margin: 0px 0% 0px;
}
li {
    margin: 0px;
}
.pages_left, .pages_right {
    float: none;
    width: 100%;
}
.link {
    margin-top: 15px;
    margin-bottom: 15px;
}
.link:first-child {
    margin-top: 4px;
}
.link:last-child {
    margin-bottom: 4px;
}
#avatar, #map, #tiers {
    width: 95%;
}
#desktop_hover {
    display: none;
}
#bottom a {
    font-size: 12px;
}
.cookie {
    width: 150px;
}