div > div > p {
    margin: 4px;
}
th {
    font-size: 32px;
    width: 120px;
    height: 120px;
    border: 1px solid black;
}
abbr > img {
    width: 120px;
    height: 120px;
}
ol > li {
    margin-top: 10px;
    margin-bottom: 10px;
}
.S {
    color: #8B0000;
}
.A {
    color: #FF8C00;
}
.B {
    color: #D6C218;
}
.C {
    color: #57A818;
}
.D {
    color: #008080;
}
.E {
    color: #00D0D0;
}
.flag_france {
    background-position: -896px 0px;
}
.pofv_chara_art {
    border: 1px solid black;
}
.scope {
    height: 300px;
    width: 187px;
}
.code {
    font-family: 'courier new';
}
.stats {
    text-align: left;
}
.char {
    width: 120px;
    height: 120px;
    cursor: pointer;
    display: inline-block;
    background-image: url('../games/pofv/images/faces.png');
}
.char:hover {
    background-color: #bbb;
}
.hidden {
    display: none;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.modal_inner {
    /*background-color: #fefefe;*/
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-height: 80%;
    display: none;
    overflow-y: auto;
}
.modal_inner > p {
    margin-bottom: 15px;
}
#modal {
    font: 14px verdana, sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 3%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4);
    /*color: #000;*/
}
#nav {
    margin-bottom: 5px;
}
#discord {
    white-space: nowrap;
}
#s {
    background: radial-gradient(#8B0000, #C54500, #FF8C00);
}
#a {
    background: radial-gradient(#FF8C00, #FFA500, #FFFF00);
}
#b {
    background: radial-gradient(#FFFF00, #D6FF18, #ADFF2F);
}
#c {
    background: radial-gradient(#ADFF2F, #57A818, #008000);
}
#d {
    background: radial-gradient(#004040, #006060, #008080);
}
#e {
    background: radial-gradient(#008080, #00BFBF, #00FFFF);
}
#marisa {
    background-position: -120px 0px;
}
#sakuya {
    background-position: -240px 0px;
}
#youmu {
    background-position: -360px 0px;
}
#reisen {
    background-position: -480px 0px;
}
#cirno {
    background-position: -600px 0px;
}
#lyrica {
    background-position: -720px 0px;
}
#merlin {
    background-position: -840px 0px;
}
#lunasa {
    background-position: -960px 0px;
}
#mystia {
    background-position: -1080px 0px;
}
#tewi {
    background-position: -1200px 0px;
}
#aya {
    background-position: -1320px 0px;
}
#medicine {
    background-position: -1440px 0px;
}
#yuuka {
    background-position: -1560px 0px;
}
#komachi {
    background-position: -1680px 0px;
}
#eiki {
    background-position: -1800px 0px;
}
@media only screen and (min-width: 1500px) and (max-width: 1800px) {
    .modal_inner {
        width: 55%;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1500px) {
    .modal_inner {
        width: 65%;
    }
}
@media only screen and (max-width: 1100px) {
    h1 {
        margin-top: 15px;
    }
    th {
        font-size: 24px;
        width: 80px;
        height: 80px;
    }
    .char {
        width: 80px;
        height: 80px;
        background-image: url('../games/pofv/images/faces80x80.png');
    }
    .modal_inner {
        font-size: 11px;
        width: 75%;
    }
    #wrap p:not(.language) {
        padding-left: 50px;
        padding-right: 50px;
    }
    #marisa {
        background-position: -80px 0px;
    }
    #sakuya {
        background-position: -160px 0px;
    }
    #youmu {
        background-position: -240px 0px;
    }
    #reisen {
        background-position: -320px 0px;
    }
    #cirno {
        background-position: -400px 0px;
    }
    #lyrica {
        background-position: -480px 0px;
    }
    #merlin {
        background-position: -560px 0px;
    }
    #lunasa {
        background-position: -640px 0px;
    }
    #mystia {
        background-position: -720px 0px;
    }
    #tewi {
        background-position: -800px 0px;
    }
    #aya {
        background-position: -880px 0px;
    }
    #medicine {
        background-position: -960px 0px;
    }
    #yuuka {
        background-position: -1040px 0px;
    }
    #komachi {
        background-position: -1120px 0px;
    }
    #eiki {
        background-position: -1200px 0px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1 {
        clear: both;
    }
}
@media only screen and (max-width: 800px) {
    .modal_inner {
        height: 80%;
        width: 90%;
    }
}
