@media only screen and (orientation: portrait) {
    table.stats {
        table-layout: fixed;
        width: 200px;
    }
    table.stats > td {
        width: 100px;
    }
    th {
        width: 60px;
        height: 60px;
    }
    ol {
        margin-left: 0px;
        margin-right: 0px;
    }
    .guide {
        width: 90%;
    }
    .char {
        width: 60px;
        height: 60px;
        background-image: url('../games/pofv/images/faces60x60.png');
    }
    .pofv_chara_art, .scope {
        display: none;
    }
    .modal_inner {
        height: 65%;
    }
    #marisa {
        background-position: -60px 0px;
    }
    #sakuya {
        background-position: -120px 0px;
    }
    #youmu {
        background-position: -180px 0px;
    }
    #reisen {
        background-position: -240px 0px;
    }
    #cirno {
        background-position: -300px 0px;
    }
    #lyrica {
        background-position: -360px 0px;
    }
    #merlin {
        background-position: -420px 0px;
    }
    #lunasa {
        background-position: -480px 0px;
    }
    #mystia {
        background-position: -540px 0px;
    }
    #tewi {
        background-position: -600px 0px;
    }
    #aya {
        background-position: -660px 0px;
    }
    #medicine {
        background-position: -720px 0px;
    }
    #yuuka {
        background-position: -780px 0px;
    }
    #komachi {
        background-position: -840px 0px;
    }
    #eiki {
        background-position: -900px 0px;
    }
}
@media only screen and (orientation: landscape) {
    table.stats {
        table-layout: fixed;
        width: 400px;
    }
    table.stats > td {
        width: 200px;
    }
    th {
        font-size: 24px;
        width: 75px;
        height: 75px;
    }
    ol {
        margin-left: 0px;
        margin-right: 0px;
    }
    .guide {
        width: 90%;
    }
    .art {
        display: none;
    }
}
