h3 {
    font: 14px verdana, sans-serif;
}
p {
    margin: 10px;
}
table tbody:not(.ranking) {
    counter-reset: sortabletablescope;
}
table tbody:not(.ranking) td:first-child::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    vertical-align: middle;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
form {
    margin-bottom: 10px;
}
ul {
    list-style-position: inside;
    list-style-type: circle;
    display: inline-block;
}
li:not(.scene_li):first-child {
    list-style-type: none;
}
li.scene_li {
    margin: 4px 0 4px 0;
}
a.scene {
    margin: 2px;
}
.head {
    content: '';
    display: table-cell;
}
.slowdown {
    color: darkred;
    font-weight: bold;
}
.nowrap {
    white-space: nowrap;
}
.break {
    word-break: break-all;
}
.nodata {
    margin-bottom: 20px;
}
.shottype, .diff {
    font-weight: bold;
}
.hatate {
    margin-top: 15px;
}
.general_header {
    background-color: #aaaaaa;
}
.alcostg th {
    background-color: #c89600;
}
.hellsinker th {
    background-color: #eeeeee;
}
.search_header th {
    background-color: #aaaaaa;
}
#wrap {
    padding-bottom: 15px;
}
#back {
    float: left;
    margin-top: 2px;
}
#hy_text {
    margin: 4px 0px 0px 0px;
}
#games > p {
    margin: 2px 0px 2px 0px;
}
@media only screen and (max-width: 1400px) {
    .wrap {
        margin-left: 0%;
        margin-right: 0%;
    }
    #wrap {
        font-size: 12px;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1800px) {
    .wrap {
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (min-width: 1800px) and (max-width: 2150px) {
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (max-width: 800px) {
    #replays {
        overflow-x: scroll;
    }
}
