h3 {
    font: 14px verdana, sans-serif;
}
p {
    margin: 10px;
}
table tbody:not(.ranking) {
    counter-reset: sortabletablescope;
}
table tbody:not(.ranking) td:first-child::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    vertical-align: middle;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
form {
    margin-bottom: 10px;
}
ul {
    list-style-position: inside;
    list-style-type: circle;
    display: inline-block;
}
li:not(.scene_li):first-child {
    list-style-type: none;
}
li.scene_li {
    margin: 4px 0 4px 0;
}
a.scene {
    margin: 2px;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.head {
    content: '';
    display: table-cell;
}
.slowdown {
    color: darkred;
    font-weight: bold;
}
.nowrap {
    white-space: nowrap;
}
.break {
    word-break: break-all;
}
.wide {
    margin-top: 20px;
}
.nodata {
    margin-bottom: 20px;
}
.shottype, .diff {
    font-weight: bold;
}
.hatate {
    margin-top: 15px;
}
.general_header {
    background-color: #aaaaaa;
}
.alcostg th {
    background-color: #c89600;
}
.hellsinker th {
    background-color: #eeeeee;
}
.search_header th {
    background-color: #aaaaaa;
}
.EoSDt th, .EoSDp, .EoSD {
    color: white;
    background-color: #990000;
}
.PCBt th, .PCBp, .PCB {
    background-color: #ff8ed2;
}
.INt th, .INp, .IN {
    color: white;
    background-color: #339;
}
.StBt th, .StBp, .StB {
    background-color: #009973;
}
.MoFt th, .MoFp, .MoF {
    background-color: #96b300;
}
.SAt th, .SAp, .SA {
    color: white;
    background-color: #591400;
}
.UFOt th, .UFOp, .UFO {
    color: white;
    background-color: #4169e1;
}
.DSt th, .DSp, .DS {
    color: white;
    background-color: #7D3884;
}
.GFWt th, .GFWp, .GFW {
    background-color: #00c8c8;
}
.TDt th, .TDp, .TD {
    color: white;
    background-color: #4a808c;
}
.DDCt th, .DDCp, .DDC {
    background-color: #a77;
}
.ISCt th, .ISCp, .ISC {
    background-color: #B6423C;
}
.LoLKt th, .LoLKp, .LoLK {
    color: white;
    background-color: #6a47be;
}
.HSiFSsmallt th, .HSiFSt th, .HSiFSp, .HSiFS {
    color: white;
    background-color: #176e0e;
}
.VDt th, .VDp, .VD {
    color: white;
    background-color: #ae11d5;
}
.WBaWCt th, .WBaWCp, .WBaWC {
    color: white;
    background-color: #190e0e;
}
.UMt th, .UMp, .UM {
    background-color: #23fcb1;
}
#wrap {
    padding-bottom: 15px;
}
#nav {
    margin-bottom: 5px;
}
#back {
    float: left;
    margin-top: 2px;
}
#hy_text {
    margin: 4px 0px 0px 0px;
}
#games > p {
    margin: 2px 0px 2px 0px;
}
@media only screen and (max-width: 1400px) {
    .wrap {
        margin-left: 0%;
        margin-right: 0%;
    }
    #wrap {
        font-size: 12px;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1800px) {
    .wrap {
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (min-width: 1800px) and (max-width: 2150px) {
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1 {
        margin-bottom: 15px;
    }
    h2 {
        margin-bottom: 15px;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    h2 {
        margin-bottom: 15px;
        margin-top: 10px;
    }
    #replays {
        overflow-x: scroll;
    }

}
