input {
    font-size: 11px;
}
input[type=text] {
    width: 65px;
    height: 10px;
}
th, td.progress {
    display: none;
}

#summary_table th {
    display: table-cell;
}
.label {
    display: inline;
    font-weight: bold;
}
#buttons {
    position: relative;
    border: none;
    padding-bottom: 0px;
    top: auto;
    left: auto;
}
#score_input tr {
    display: flex;
    flex-wrap: wrap;
}
#score_input td {
    display: flex;
    flex-basis: 100%;
}
