@font-face {
    font-family: Felipa;
    font-display: swap;
    src: url('/assets/shared/fonts/Felipa-Regular.woff2') format('woff2'),
         url('/assets/shared/fonts/Felipa-Regular.woff') format('woff'),
         url('/assets/shared/fonts/Felipa-Regular.ttf') format('ttf');
}
p, ol, ul {
    padding-left: 15%;
    padding-right: 15%;
}
h1, h2, h3, h4 {
    text-align: center;
}
h1 {
    font-family: Felipa;
    font-size: 48px;
    clear: both;
}
h2 {
    font-family: Felipa;
    font-size: 36px;
}
h3 {
    font-family: Felipa;
    font-size: 24px;
}
figure, section, table, #topbar {
    text-align: center;
}
footer {
    text-align: center;
    padding-bottom: 10px;
}
div:not(.dropdown):not(.dropdown_content):not(.nav_right):not(.dark_bg) {
    background-color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
}
a:link.dropdown_button {
    color: black;
}
a:visited.dropdown_button {
    color: black;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table:not(.noborders), table:not(.noborders) tr, table:not(.noborders) th, table:not(.noborders) td:not(.noborders) {
    border: 1px solid black;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.noborders {
    border: none;
}
.center {
    text-align: center;
    padding: 0px 0px 0px 0px;
}
.contents, #contents_new {
    display: block;
    border: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
}
.contents *, #contents_new * {
    margin: 4px;
}
.flag {
    display: inline-block;
}
.language {
    margin-top: 0px;
    margin-left: 3px;
    padding: 0px 0px 0px 0px;
}
.icon {
    background-image: url('/assets/shared/spritesheets/icon_sheet.png');
    display: inline-block;
    width: 16px;
    height: 16px;
}
.overflow {
    overflow-x: auto;
}
.dropdowns {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}
.dropdowns p {
    text-align: left;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_button {
    text-decoration: none;
    cursor: default;
}
.dropdown_content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    min-width: 120px;
    opacity: 1.0;
    z-index: 1;
}
.dropdown_content {
    background-color: white;
}
.dropdown_content p {
    margin: 4px;
    padding: 0px 0px 0px 0px;
}
.dropdown_content.dark_bg {
    background-color: #1b232e;
}
.dropdown_content p a:hover {
    background-color: #bbb;
}
.dropdown_content.dark_bg p a:hover {
    background-color: #555;
}
.dropdown_content p a {
    display: inline-block;
    width: 100%;
}
.dropdown_content:hover .dropdown_content {
    display: block;
}
.dropdown_right {
    right: 0;
}
.dropdown:hover .dropdown_content {
    display: block;
}
.nav_left {
    float: left;
    margin-left: 4px;
}
.nav_right {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
.wrap {
    border: 1px solid #000;
    text-align: left;
    margin-left: 24%;
    margin-right: 24%;
    font: 14px verdana, sans-serif;
}
#wrap {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    opacity: 0.8;
}
#ext_mobile {
    display: none;
}
#languages {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#hy {
    background-image: url('/assets/shared/spritesheets/icon_sheet.png');
    background-position: -512px 0px;
    display: inline-block;
    width: 120px;
    height: 16px;
}
#hy_container {
    position: relative;
    cursor: pointer;
    float: right;
    text-align: center;
}
#hy_container .tooltip {
    width: 150px;
    left: 0%;
}
#hy_container:hover .tooltip {
    visibility: visible;
}
#hy_text {
    margin-top: 4px;
}
#hy_link {
    color: black;
    text-decoration: none;
}
@media only screen and (max-width: 1100px) and (max-height: 1100px) {
    #wrap {
        font-size: 11px;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    li {
        text-align: left;
    }
    ul, ol {
        padding-left: 0px;
    }
    input, select {
        font-size: 11px;
    }
    .dropdowns {
        width: 100%;
    }
    .nav_left {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 100%;
    }
    .nav_right {
        display: none;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
    #hy_container {
        float: none;
    }
    #ext_mobile {
        display: inline-block;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1700px) {
    .wrap {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (max-width: 1100px) {
    #wrap {
        font-size: 12px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 1080px) and (min-height: 1680px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 1440px) and (min-height: 2440px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
.dev_instance {
    color: #990099;
}
.sortable:not(.poll) th:not(.no-sort) {
    cursor: pointer;
    vertical-align: baseline;
    white-space: nowrap;
}
.sortable:not(.poll) th:not(.no-sort):hover::after {
    color: inherit;
    font-size: 1.2em;
    content: ' \025B8';
}
.sortable:not(.poll) th:not(.no-sort)::after {
    color: transparent;
    font-size: 1.2em;
    content: ' \025B8';
}
.sortable:not(.poll) th:not(.no-sort).dir-d::after {
    color: inherit;
    content: ' \025BE';
}
.sortable:not(.poll) th:not(.no-sort).dir-u::after {
    color: inherit;
    content: ' \025B4';
}
th.no-sort {
    pointer-events: none;
}
