p {
    text-align: left;
}
.wrap {
    text-align: center;
}
.contents, #contents_new {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
}
.dropdown_content {
    margin-top: 5px;
}
.overflow_mobile {
    overflow-x: auto;
}
#languages {
    margin-top: 10px;
    width: 100%;
}
