@font-face {
    font-family: Felipa;
    font-display: swap;
    src: url('/assets/shared/fonts/Felipa-Regular.woff2') format('woff2'),
         url('/assets/shared/fonts/Felipa-Regular.woff') format('woff'),
         url('/assets/shared/fonts/Felipa-Regular.ttf') format('ttf');
}
p, ol, ul {
    padding-left: 15%;
    padding-right: 15%;
}
h1, h2, h3, h4 {
    text-align: center;
}
h1 {
    font-family: Felipa;
    font-size: 48px;
    clear: both;
}
h2 {
    font-family: Felipa;
    font-size: 36px;
}
h3 {
    font-family: Felipa;
    font-size: 24px;
}
figure, section, table, #topbar {
    text-align: center;
}
footer {
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;
}
div:not(.dropdown):not(.dropdown_content):not(.nav_right):not(.dark_bg):not(.dropdowns):not(.ext_menu):not(.ext_mobile):not(#ext_desktop):not(#modal) {
    background-color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
}
a:link.dropdown_button {
    color: black;
}
a:visited.dropdown_button {
    color: black;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table:not(.noborders), table:not(.noborders) tr, table:not(.noborders) th, table:not(.noborders) td:not(.noborders) {
    border: 1px solid black;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.HRtPt th, .HRtPp, .HRtP {
    color: white;
    background-color: #c4504a;
}
.SoEWt th, .SoEWp, .SoEW {
    color: white;
    background-color: #7d3884;
}
.PoDDt th, .PoDDp, .PoDD {
    background-color: gold;
}
.LLSt th, .LLSp, .LLS {
    background-color: #90ee90;
}
.MSt th, .MSp, .MS {
    color: white;
    background-color: #ae11d5;
}
.EoSDt th, .EoSDp, .EoSD {
    color: white;
    background-color: #990000;
}
.PCBt th, .PCBp, .PCB {
    background-color: #ff8ed2;
}
.INt th, .INp, .IN {
    color: white;
    background-color: #339;
}
.PoFVt th, .PoFVp, .PoFV {
    background-color: #009973;
}
.StBt th, .StBp, .StB {
    background-color: #009973;
}
.MoFt th, .MoFp, .MoF {
    background-color: #96b300;
}
.SAt th, .SAp, .SA {
    color: white;
    background-color: #591400;
}
.UFOt th, .UFOp, .UFO {
    color: white;
    background-color: #4169e1;
}
.DSt th, .DSp, .DS {
    color: white;
    background-color: #7D3884;
}
.GFWt th, .GFWp, .GFW {
    background-color: #00c8c8;
}
.TDt th, .TDp, .TD {
    color: white;
    background-color: #4a808c;
}
.DDCt th, .DDCp, .DDC {
    background-color: #a77;
}
.ISCt th, .ISCp, .ISC {
    background-color: #B6423C;
}
.LoLKt th, .LoLKp, .LoLK {
    color: white;
    background-color: #6a47be;
}
.HSiFSt th, .HSiFSp, .HSiFS {
    color: white;
    background-color: #176e0e;
}
.VDt th, .VDp, .VD {
    color: white;
    background-color: #ae11d5;
}
.WBaWCt th, .WBaWCp, .WBaWC {
    color: white;
    background-color: #190e0e;
}
.UMt th, .UMp, .UM {
    background-color: #23fcb1;
}
.UDoALGt th, .UDoALGp, .UDoALG {
    background-color: #f0e68c;
}
.FWt th, .FWp, .FW {
    background-color: #00ffff;
}
.noborders {
    border: none;
}
.center {
    text-align: center;
    padding: 0px 0px 0px 0px;
}
.contents, #contents_new {
    display: block;
    border: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
}
.contents *, #contents_new * {
    margin: 4px;
}
.flag {
    display: inline-block;
}
.language {
    margin-top: 0px;
    margin-left: 3px;
    padding: 0px 0px 0px 0px;
}
.icon {
    background-image: url('/assets/shared/spritesheets/icon_sheet.png');
    display: inline-block;
    width: 16px;
    height: 16px;
}
.overflow {
    overflow-x: auto;
}
.wide-top {
    margin-top: 25px;
}
.tooltip {
    font-weight: initial;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0%;
}
.dropdowns {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}
.dropdowns p {
    text-align: left;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_button {
    text-decoration: none;
    cursor: default;
}
.dropdown_content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    min-width: 120px;
    opacity: 1.0;
    z-index: 1;
    background-color: white;
}
.dropdown_affiliates {
    min-width: 200px;
}
.dropdown_content p {
    margin: 4px;
    padding: 0px 0px 0px 0px;
}
.dropdown_content.dark_bg {
    background-color: #1b232e;
}
.dropdown_content p a:hover {
    background-color: #bbb;
}
.dropdown_content.dark_bg p a:hover {
    background-color: #555;
}
.dropdown_content p a {
    display: inline-block;
    width: 100%;
}
.dropdown_content:hover .dropdown_content {
    display: block;
}
.dropdown_right {
    right: 0;
}
.dropdown:hover .dropdown_content {
    display: block;
}
.nav_left {
    float: left;
    margin-left: 4px;
}
.nav_right {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
.wrap {
    border: 1px solid #000;
    text-align: left;
    margin-left: 24%;
    margin-right: 24%;
    font: 14px verdana, sans-serif;
}
.modal_inner {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    display: none;
    overflow-y: auto;
}
#modal {
    font: 14px verdana, sans-serif;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 3%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}
#wrap {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    opacity: 0.8;
}
#ext_desktop {
    margin-top: 5px;
    margin-bottom: 5px;
}
#ext_mobile, #languages_mobile {
    display: none;
}
#languages {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#hy {
    background-image: url('/assets/shared/spritesheets/icon_sheet.png');
    background-position: -512px 0px;
    display: inline-block;
    width: 120px;
    height: 16px;
}
#hy_container {
    position: relative;
    cursor: pointer;
    float: right;
    text-align: center;
}
#hy_text {
    margin-top: 4px;
}
#hy_link {
    color: black;
    text-decoration: none;
}
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 36px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    li {
        text-align: left;
    }
    p, ul, ol {
        padding-left: 0px;
        padding-right: 0px;
    }
    input, select {
        font-size: 11px;
    }
    .dropdowns {
        width: 100%;
    }
    .nav_left {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 100%;
    }
    .nav_right {
        display: none;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
    #hy_container {
        float: none;
    }
    #ext_mobile {
        display: inline-block;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1700px) {
    .wrap {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) and (max-height: 2440px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (max-width: 1100px) and (max-height: 1100px) {
    .wrap {
        font-size: 12px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) and (max-height: 1680px) {
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
    h1 {
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 1080px) and (min-height: 1680px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 1440px) and (min-height: 2440px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
.dev_instance {
    color: #990099;
}
.sortable:not(.poll) th:not(.no-sort) {
    cursor: pointer;
    vertical-align: baseline;
    white-space: nowrap;
}
.sortable:not(.poll) th:not(.no-sort)::after {
    color: inherit;
    font-size: 1.2em;
    content: ' \025B8';
}
.sortable:not(.poll) th:not(.no-sort).dir-d::after {
    color: inherit;
    content: ' \025BE';
}
.sortable:not(.poll) th:not(.no-sort).dir-u::after {
    color: inherit;
    content: ' \025B4';
}
th.no-sort {
    pointer-events: none;
}
