h1 {
    clear: both;
}
p {
    margin: 10px;
}
table, th, td {
    border: 1px solid #000;
}
.slot {
    background-repeat: no-repeat;
    width: 115px;
    height: 115px;
}
.charslot {
    background-image: url('/assets/shared/spritesheets/characters_sheet.png');
    background-position: -1080px -2400px;
    vertical-align: bottom;
}
.locslot {
    background-image: url('/assets/other/slots/locations_sheet.png');
    background-position: -3960px 0;
    vertical-align: bottom;
}
.name {
    font-size: 9px;
}
.title {
    word-wrap: break-word;
    max-width: 100px;
    cursor: pointer;
    width: 100px;
}
#save_link {
    text-decoration: none;
}
#title_length {
    margin-left: 4px;
    color: grey;
}
#slot0 {
    font-size: 16px;
}
#slot7 {
    font-size: 42px;
}
#message {
    color: green;
    font-weight: bold;
}
#hy_text {
    margin: 4px 0px 0px 0px;
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    #modal_inner {
        font-size: 11px;
    }
}
@media only screen and (max-width: 800px) {
    #modal_inner {
        font-size: 11px;
    }
}
