input[type=button] {
    margin: 5px 5px 0 5px;
}
div.center {
    margin-top: 5px;
}
.rendering td:last-child:not(.overview_half):not(.scene_td), .rendering th:last-child:not(.overview_half):not(.scene_th), .hidden {
    display: none;
}
.rendering {
    background-color: white;
    color: black;
}
.overview {
    width: 80px;
}
.overview_half {
    width: 40px;
}
.legend {
    display: inline-block;
    height: 15px;
    width: 15px;
}
.bold {
    font-weight: bold;
}
.clear {
    background-color: green;
}
.nm {
    background-color: #b88;
}
.nb {
    background-color: blue;
}
.np {
    color: white;
    text-align: center;
    background-color: green;
}
.nmp {
    color: white;
    text-align: center;
    background-color: #b88;
}
.nbp {
    color: white;
    text-align: center;
    background-color: blue;
}
.nmnb {
    background-color: purple;
}
.nmnbp {
    color: white;
    text-align: center;
    background-color: purple;
}
.hrtp_route {
    font-size: 12px;
    color: #933;
}
.in_route {
    font-size: 12px;
    color: #339;
}
.lolk_mode {
    font-size: 12px;
    color: #737;
}
.message {
    font-weight: bold;
    color: green;
}
.error_message {
    font-weight: bold;
    color: orange;
}
.device_link {
    text-decoration: none;
}
.checkbox_scene {
    width: 30px;
    height: 30px;
}
.dropdown-check-list {
    display: inline-block;
}
.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
}
.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.dropdown-check-list.visible .anchor:after {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}
.dropdown-check-list ul.category {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}
.dropdown-check-list ul.category li {
    list-style: none;
}
/*.dropdown-check-list.visible .anchor {
    color: #0094ff;
}*/
.dropdown-check-list.visible .category {
    display: block;
}
#buttons {
    border: 1px solid #000;
    text-align: left;
    font: 14px verdana, sans-serif;
    padding-bottom: 15px;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 9999;
}
#hotkeys {
    margin-left: 30px;
}
#overview_container, #dummy, #buttons_br, caption {
    display: none;
}
#buttons_br {
    margin-bottom: 10px;
}
#completion_table, #close {
    margin-bottom: 15px;
}
#dummysub {
    width: 1000px;
    height: 20px;
}
#survival {
    overflow: auto;
}
#base64 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 2000px) and (max-width: 2300px) {
    .wrap {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media only screen and (min-width: 1700px) and (max-width: 2000px) {
    .wrap {
        margin-left: 18%;
        margin-right: 18%;
    }
    #buttons_br {
        display: inline;
    }
}
@media only screen and (min-width: 1500px) and (max-width: 1700px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
    #buttons_br {
        display: inline;
    }
}
@media only screen and (min-width: 1300px) and (max-width: 1500px) {
    .wrap {
        margin-left: 12%;
        margin-right: 12%;
    }
    #buttons {
        position: relative;
        border: none;
        padding-bottom: 0px;
        top: auto;
        left: auto;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1300px) {
    .wrap {
        margin-left: 8%;
        margin-right: 8%;
    }
    #buttons {
        position: relative;
        border: none;
        padding-bottom: 0px;
        top: auto;
        left: auto;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1 {
        clear: both;
    }
    .wrap {
        margin-left: 0%;
        margin-right: 0%;
    }
    .modal_inner {
        font-size: 11px;
    }
    #buttons {
        position: relative;
        border: none;
        padding-bottom: 0px;
        top: auto;
        left: auto;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        clear: both;
    }
    .modal_inner {
        font-size: 11px;
    }
    #container, #dummy {
        overflow-x: scroll;
        overflow-y: hidden;
        display: block;
    }
    #results {
        font-size: 11px;
    }
    #buttons {
        position: relative;
        border: none;
        padding-bottom: 0px;
        top: auto;
        left: auto;
    }
}
