input[type=button] {
    margin: 5px 5px 0 5px;
}
.rendering td:last-child:not(.overview_half), .rendering th:last-child:not(.overview_half), .hidden {
    display: none;
}
.rendering {
    background-color: white;
    color: black;
}
.overview {
    width: 80px;
}
.overview_half {
    width: 40px;
}
.legend {
    display: inline-block;
    height: 15px;
    width: 15px;
}
.bold {
    font-weight: bold;
}
.message {
    color: green;
}
.error {
    color: orange;
}
.clear {
    background-color: green;
}
.nm {
    background-color: #b88;
}
.nb {
    background-color: blue;
}
.np {
    color: white;
    text-align: center;
    background-color: green;
}
.nmp {
    color: white;
    text-align: center;
    background-color: #b88;
}
.nbp {
    color: white;
    text-align: center;
    background-color: blue;
}
.nmnb {
    background-color: purple;
}
.nmnbp {
    color: white;
    text-align: center;
    background-color: purple;
}
.hrtp_route {
    font-size: 12px;
    color: #933;
}
.in_route {
    font-size: 12px;
    color: #339;
}
.lolk_mode {
    font-size: 12px;
    color: #737;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.modal_inner {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
    max-height: 85%;
    display: none;
    overflow-y: auto;
}
#modal {
    font: 14px verdana, sans-serif;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 3%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,.4);
    /*color: #000;*/
}
#nav {
    margin-bottom: 5px;
}
#legend {
    display: none;
}
#overview_container, #dummy {
    display: none;
}
#completion_table, #close {
    margin-bottom: 15px;
}
#save_link, #screenshot_link {
    text-decoration: none;
}
#dummysub {
    width: 1000px;
    height: 20px;
}
#survival {
    overflow: auto;
}
#base64 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1500px) and (max-width: 1700px) {
    .wrap {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media only screen and (min-width: 1300px) and (max-width: 1500px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1300px) {
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1 {
        margin-bottom: 15px;
        clear: both;
    }
    .wrap {
        margin-left: 8%;
        margin-right: 8%;
    }
    .modal_inner {
        font-size: 11px;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        margin-bottom: 15px;
        clear: both;
    }
    .modal_inner {
        font-size: 11px;
    }
    #container, #dummy {
        overflow-x: scroll;
        overflow-y: hidden;
        display: block;
    }
    #results {
        font-size: 11px;
    }
}
