h1 {
    clear: both;
}
h2 {
    clear: both;
}
input, table {
    font-size: 11px;
}
#container, #dummy {
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
}
#results {
    font-size: 11px;
}
#buttons {
    position: relative;
    border: none;
    padding-bottom: 0px;
    top: auto;
    left: auto;
}
.in_route {
    font-size: 9px;
}
@media only screen and (orientation: portrait) {
    .overview {
        width: 40px;
    }
}
