.left {
    text-align: left;
}
.percentage {
    text-align: center;
}
.col1 {
    width: 3em;
}
.col2 {
    background: #fee;
}
.col2game {
    width: 2.8em;
    background: #fee;
}
.col2ql {
    width: 36em;
    background: #fee;
}
.col2q {
    width: 20em;
    background: #fee;
}
.col2qm {
    width: 8em;
    background: #fee;
}
.col2qs {
    width: 5em;
    background: #fee;
}
.w36 {
    width: 36em;
}
.w4 {
    width: 4em;
}
.w42 {
    width: 4.2em;
}
.w6 {
    width: 6em;
}
.w7 {
    width: 7em;
}
.w8 {
    width: 8em;
}
.col3 {
    background: #ffe;
}
.col3game {
    width: 2.8em;
    background: #ffe;
}
.col3q {
    width: 5em;
    background: #ffe;
}
.w10 {
    width: 10em;
}
.col4 {
    background: #fec;
}
.col4game {
    width: 2.8em;
    background: #fec;
}
.col4q {
    width: 5em;
    background: #fec;
}
.col5 {
    background: #eef;
}
.col5per {
    width: 4.9em;
    background: #eef;
}
.col5q {
    width: 5em;
    background: #eef;
}
.w55 {
    width: 5.5em;
}
.col6per {
    width: 4.9em;
    background: #fee;
}
.col7per {
    width: 4.9em;
    background: #ffe;
}
.col8per {
    width: 4.9em;
    background: #fec;
}
.col9per {
    width: 4.9em;
    background: #eef;
}
/*.table tbody {
    counter-reset: sortabletablescope;
}
.head {
    content: '';
    display: table-cell;
}
.table tbody tr:before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
    vertical-align: middle;
}*/
.zero {
    color: green;
}
.one {
    color: darkgreen;
    font-weight: bold;
    background-color: lightgreen;
}
.huge {
    background-color: orange;
}
.mavg { /* 79.14 - 82.64 */
    font-weight: bold;
    background-color: #808080;
}
.favg { /* 79.14 - 82.64 */
    color: white;
    font-weight: bold;
    background-color: #808080;
}
.mtilt { /* 82.64 - 84.39 */
    font-weight: bold;
    background-color: #A08060;
}
.ftilt { /* 77.39 - 79.14 */
    color: white;
    font-weight: bold;
    background-color: #6080A0;
}
.mlean { /* 84.39 - 87.89 */
    font-weight: bold;
    background-color: #C08040;
}
.flean { /* 73.89 - 77.39 */
    color: white;
    font-weight: bold;
    background-color: #4080C0;
}
.mstrong { /* 87.89 - 94.89 */
    font-weight: bold;
    background-color: #E08020;
}
.fstrong { /* 66.89 - 73.89 */
    color: white;
    font-weight: bold;
    background-color: #2080E0;
}
.mextreme { /* > 94.89 */
    font-weight: bold;
    background-color: #FF8000;
}
.fextreme { /* < 66.89 */
    color: white;
    font-weight: bold;
    background-color: #0080FF;
}
.stable {
    color: blue;
    font-weight: bold;
    background-color: lightblue;
}
.drop {
    color: darkred;
    font-weight: bold;
    background-color: orange;
}
.jump {
    color: darkgreen;
    font-weight: bold;
    background-color: lightgreen;
}
.hidden, #age_detail, #age_summary_button {
    display: none;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
#nav {
    margin-bottom: 5px;
}
#age_summary {
    display: table;
}
#back {
    float: left;
    margin-top: 2px;
}
#contents_extra {
    text-align: left;
}
#fraud_table th {
    white-space: nowrap;
}
#fraud_table tr td:nth-child(8):not(.zero):not(.one), #fraud_table tr td:nth-child(9):not(.zero), #fraud_table tr td:nth-child(10):not(.zero):not(.one) {
    font-weight: bold;
    color: darkred;
}
@media only screen and (min-width: 1500px) and (max-width: 1850px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    h1 {
        clear: both;
    }
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
    h1 {
        margin-bottom: 15px;
        clear: both;
    }
    h2 {
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .wrap {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 11px;
    }
}
