body {
    background: #1b232e;
}
h2, h3 {
    margin: 10px;
    font-size: 20px;
}
p {
    margin: 2px;
}
input[type=button]:not(.button_bottom) {
    width: 48%;
    height: 25px;
    font-size: 12px;
    margin-bottom: 4px;
}
.button_bottom {
    width: 48%;
    height: 25px;
    font-size: 12px;
}
.tier_header {
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.mobile_button {
    margin: 10px;
}
.list_characters, .tiered_characters, .list_works, .tiered_works, .list_shots, .tiered_shots {
    width: 60px;
    height: 60px;
}
.list_cards, .tiered_cards {
    width: 48px;
    height: 60px;
}
.list_characters, .tiered_characters {
    background-image: url('/assets/shared/spritesheets/characters_sheet60x60.png');
}
.list_works, .tiered_works {
    background-image: url('/assets/shared/spritesheets/works_sheet60x60.png');
}
.list_shots, .tiered_shots {
    background-image: url('/assets/shared/spritesheets/shots_sheet60x60.png');
}
.list_cards, .tiered_cards {
    background-image: url('/assets/shared/spritesheets/cards_sheet60x60.png');
}
.thvote_icon {
    background-position: -176px 0px;
}
.mobile_button_p {
    text-align: center;
}
#wrap {
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;
    width: auto;
    height: 100%;
    max-height: 100%;
}
#characters {
    width: 62px;
}
#buttons_mobile {
    display: block;
    position: absolute;
    text-align: center;
    width: 75%;
    margin-left: 72px;
    height: 65px;
    padding-top: 5px;
    bottom: 0px;
}
#add_tier_box_mobile {
    display: table-row;
}
#title, #nav, #tier_list_tfoot, #sort_selection, #buttons, #toggle_picker {
    display: none;
}
#tier_list_container {
    overflow-y: auto;
    border: 1px solid black;
    margin-left: 52px;
    max-height: 82%;
}
#wrap, #show, #characters, #msg_container_mobile {
    font: 12px verdana, sans-serif;
}
#msg_container_mobile {
    margin: 0px;
}
#tier_name_mobile {
    width: 50%;
}
#add_tier_mobile {
    width: auto;
    height: 25px;
    font-size: 12px;
}
#modal_inner {
    max-height: 75%;
    max-width: 65%;
}
#import {
    height: 270px;
}
#save_link {
    margin: 0px;
}
#screenshot_base64 {
    width: 85%;
    height: 85%;
}
@media only screen and (orientation: portrait) {
    #modal {
        padding-top: 10%;
    }
}
@media only screen and (orientation: landscape) {
    #characters {
        width: 124px;
    }
    #tier_list_container {
        margin-left: 128px;
        max-height: 81%;
    }
    #buttons_mobile {
        margin-left: 130px;
        padding-top: 0px;
        height: 40px;
        bottom: 0px;
    }
    #buttons_mobile input {
        width: 20%;
        margin-bottom: 0px;
    }
    #modal {
        padding-top: 2%;
    }
    .button_top {
        margin: 0px;
    }
}
@media only screen and (min-height: 100px) and (max-height: 250px) {
    #characters {
        width: 62px;
    }
    #tier_list_container {
        margin-left: 64px;
        max-height: 98%;
    }
    #buttons_mobile {
        display: none;
    }
}
@media only screen and (max-height: 100px) {
    #characters {
        width: 124px;
    }
    #buttons_mobile {
        display: none;
    }
}
