h3 {
    font: 14px verdana, sans-serif;
    font-weight: bold;
}
p {
    margin: 10px;
}
input {
    margin-left: auto;
    margin-right: auto;
}
textarea {
    width: 50%;
    height: 100px;
    resize: none;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}
.section {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.input {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}
.error {
    font-weight: bold;
    color: red;
}
.required {
    color: red;
}
#twitch-embed {
    display: none;
}
#game_other_p, #video {
    display: none;
}
#hy_text {
    margin: 4px 0px 0px 0px;
}
