.truescore {
    width: auto;
}
.truescores, .full_name {
    width: auto;
}
#toggle_layout {
    display: none;
}
@media only screen and (orientation: landscape) {
    .PCBt {
        font-size: 9px;
    }
}
