.webp body {
	background: url('thvote.webp') center no-repeat fixed;
	background-size: cover;
}
.no-webp body, .no-js body {
	background: url('thvote.jpg') center no-repeat fixed;
	background-size: cover;
}
div {
    background-color: #FFFFFF;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px
}
h2 {
    font-family: 'Felipa';
    font-size: 36px
}
h3 {
    font-family: 'Felipa';
    font-size: 24px
}
table {
    margin-left: auto;
    margin-right: auto;
}
.left {
	text-align: left;
}
.wrap {
    border: 1px solid black;
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.8;
    font: 14px verdana, sans-serif;
}
.hidden {
    display: none;
}
.ico-32 {
    width: 16px;
    height: 16px;
}
#nav {
	margin-bottom: 5px;
}
#wrap {
    padding-bottom: 15px;
}
#contents, #responses {
    border: 1px solid black;
}
#notice {
	display: none;
}
#chars_table.sortable tbody, #music_table.sortable tbody, #works_table.sortable tbody, #eosd_table.sortable tbody, #pcb_table.sortable tbody, #in_table.sortable tbody,
#mof_table.sortable tbody, #sa_table.sortable tbody, #ufo_table.sortable tbody, #td_table.sortable tbody, #ddc_table.sortable tbody, #lolk_table.sortable tbody,
#hsifs_table.sortable tbody {
    counter-reset: sortabletablescope;
}
#chars_head, #music_head, #works_head, #eosd_head, #pcb_head, #in_head, #mof_head, #sa_head, #ufo_head, #td_head, #ddc_head, #lolk_head, #hsifs_head {
    content: "";
    display: table-cell;
}
#chars_table.sortable tbody tr:before, #music_table.sortable tbody tr:before, #works_table.sortable tbody tr:before, #eosd_table.sortable tbody tr:before,
#pcb_table.sortable tbody tr:before, #in_table.sortable tbody tr:before, #mof_table.sortable tbody tr:before, #sa_table.sortable tbody tr:before,
#ufo_table.sortable tbody tr:before, #td_table.sortable tbody tr:before, #ddc_table.sortable tbody tr:before, #lolk_table.sortable tbody tr:before,
#hsifs_table.sortable tbody tr:before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
    vertical-align: middle;
}
@media only screen and (min-width: 1500px) and (max-width: 1850px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1500px) {
    .wrap {
        margin-left: 0%;
        margin-right: 0%;
    }
}
@media only screen and (max-width: 1000px) {
    .wrap {
        margin-left: 0%;
        margin-right: 0%;
        font-size: 11px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) and (orientation: portrait) {
	.wrap {
        margin-left: 0%;
        margin-right: 0%;
        font-size: 11px;
    }
    #correlation th, #correlation td {
        font-size: 8px;
    }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
	.wrap {
        margin-left: 0%;
        margin-right: 0%;
        font-size: 11px;
        width: 100%;
    }
    #correlation th, #correlation td {
        font-size: 8px;
    }
}
