table {
    margin-left: auto;
    margin-right: auto;
}
table, tr, th, td {
    border: 1px solid black;
    text-align: center;
}
caption {
    margin-bottom: 10px;
}
div > div > p {
    margin: 4px;
}
.hidden {
    border: none;
    text-align: left;
}
.separator {
    margin-top: 16px;
}
.border {
    border: 1px solid black;
    margin-bottom: 15px;
    display: inline-block;
}
.list {
    width: 250px;
}
.overview {
    width: 80px;
}
.legend {
    margin: 0px;
}
.attempted {
    background-color: orange;
}
.clear {
    background-color: green;
}
.nm {
    background-color: brown;
}
.nb {
    background-color: blue;
}
.nmnb {
    background-color: purple;
}
.attempted_text {
    color: orange;
}
.clear_text {
    color: green;
}
.nm_text {
    color: brown;
}
.nb_text {
    color: blue;
}
.nmnb_text {
    color: purple;
}
.g {
    color: green;
    font-weight: bold;
}
.y {
    background-color: green;
    color: white;
}
.r {
    background-color: red;
}
.v {
    font-weight: bold;
}
.i {
    color: white;
}
.calendar-box {
    display: none;
    background-color: #fff;
    border: 1px solid #444;
    position: absolute;
    width: 300px;
    padding: 0 5px;
}
.calendar-box select.calendar-month {
    width: 90px;
}
.calendar-box select.calendar-year {
    width: 70px;
}
.calendar-box .calendar-cancel {
    width: 100%;
}
.calendar-box table td {
    width: 14%;
}
.calendar-box .calendar-title {
    text-align: center;
}
.calendar-box a {
    text-decoration: none;
}
.calendar-box .today a {
    padding: 0 5px;
    margin-left: -5px;
    background-color: #ffe9c6;
}
.calendar-box .selected a {
    padding: 0 5px;
    margin-left: -5px;
    background-color: #c9ff8b;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.dropdown_content > p {
    margin: 4px;
}
.dropdown_content:hover .dropdown_content {
    display: block;
}
#nav {
    margin-bottom: 5px;
}
#contents td, #contents th, #contents tr {
    border: none;
}
#notice {
    display: none;
}
#routes {
    margin-top: 15px;
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1, h2 {
        clear: both;
    }
}
@media only screen and (max-width: 800px) {
    h1, h2 {
        clear: both;
    }
}
