@font-face {
  font-family: Felipa;
  font-display: swap;
  src: url('../shared/Felipa-Regular.woff2') format('woff2'),
       url('../shared/Felipa-Regular.woff') format('woff');
}
body.webp {
    background: url('title.webp') top no-repeat fixed;
    background-size: cover;
}
body.no-webp {
    background: url('title.jpg') top no-repeat fixed;
    background-size: cover;
}
div {
    background-color: #fff;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
h3 {
    font-family: 'Felipa';
    font-size: 24px;
}
p {
    font: 14px verdana,sans-serif;
}
ol {
    margin: 10px;
    padding-right: 25px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table, tr, th, td, #ol {
    border: 1px solid #000;
}
#wrap > ol {
    display: inline-block;
}
#wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    opacity: 0.8;
    font: 14px verdana,sans-serif;
}
#hy {
    float: right;
}
#contents td, #contents th {
    border: none;
}
.description {
    font-size: 12px;
}
.noborder {
    border: none;
}
@media only screen and (min-width:800px) and (max-width:1400px) {
    #wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (max-width:800px) {
    #wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (min-device-width:320px) and (max-device-width:800px) and (orientation:portrait) {
    #wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    #boxart {
        width: 140px;
        height: 140px;
    }
    #graze {
        width: 175px;
        height: 72px;
    }
    #yuitia {
        width: 117px;
        height: 228px;
    }
    #container {
        overflow-x: scroll;
    }
    #table {
        font-size: 11px;
    }
    em, p {
        font-size: 11px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    .shotinfo {
        width: 213px;
        height: 160px;
    }
}
@media only screen and (min-device-width:480px) and (max-device-width:640px) and (orientation:landscape) {
    #wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    #yuitia {
        width: 117px;
        height: 228px;
    }
    em, p {
        font-size: 11px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    .shotinfo {
        width: 213px;
        height: 160px;
    }
}
