body {
    background: url('../drc/drc.jpg') top no-repeat fixed;
    background-size: cover;
}
table, td, th, tr {
    border: 1px solid black;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
li {
    list-style-position: inside;
}
input[type=number] {
    height: 20px;
}
.nomargin {
    margin-left: auto;
    margin-right: auto;
}
.noborders {
    border: none;
}
.flag {
    display: inline-block;
}
.language {
    margin-top: 0px;
}
.error {
    color: red;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.dropdown_content p {
    margin: 4px;
}
.dropdown_content:hover .dropdown_content {
    display: block;
}
.wrap {
    border: 1px solid black;
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
    font: 14px verdana, sans-serif;
}
#wrap {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    opacity: 0.8;
}
#nav {
    margin-bottom: 5px;
}
#countdown {
    font-size: 16px;
    font-weight: bold;
}
#noborders {
    border: none;
    margin-left: auto;
    margin-right: auto;
}
#route, #season, #calculator, #scoringButton, #survivalButton {
    display: none;
}
#languages {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#hy {
    object-position: -512px 0px;
    object-fit: none;
    width: 120px;
    height: 16px;
}
#hy_container {
    position: relative;
    float: right;
}
#hy_container .tooltip {
    width: 150px;
    left: 0%;
}
#hy_container:hover .tooltip {
    visibility: visible;
}
#ack {
    font: 11px verdana,sans-serif;
    text-align: right;
    background: none;
    position: fixed;
    color: white;
    bottom: 5px;
    right: 5px;
}
#ack_br, #ack_mobile {
    display: none;
}
#ack > a:link {
    color: #1e90ff;
}
#ack > a:active {
    color: red;
}
#ack > a:visited {
    color: #ff69b4;
}
#ack_container > p {
    margin: 4px;
}
@media only screen and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
    #ack_br {
        display: inline;
    }
}
@media only screen and (max-width: 1100px) {
    #ack {
        display: none;
    }
    #ack_mobile {
        display: block;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1 {
        margin-bottom: 15px;
        margin-top: 0px;
        font-size: 44px;
    }
    h2 {
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 32px;
    }
    .wrap {
        margin-left: 8%;
        margin-right: 8%;
    }
    #wrap {
        font-size: 11px;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        margin-bottom: 15px;
        margin-top: 0px;
        font-size: 44px;
    }
    h2 {
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 32px;
    }
    .dropdowns {
        width: 100%;
    }
    .nav_left {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 100%;
    }
    .nav_right {
        display: none;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
    #wrap {
        font-size: 11px;
    }
    #ext_mobile {
        display: inline-block;
    }
}
@media only screen and (((min-width: 320px) and (max-width: 800px) and (orientation: portrait)) or ((min-width: 480px) and (max-width: 640px) and (orientation: landscape))) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    #hy_container {
        float: none;
    }
    #languages {
        margin-top: 10px;
        width: 100%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 800px) and (orientation: portrait) {
    #scoringRubrics {
        overflow-x: scroll;
    }
}
