@font-face {
  font-family: Felipa;
  font-display: swap;
  src: url('../shared/Felipa-Regular.woff2') format('woff2'),
       url('../shared/Felipa-Regular.woff') format('woff');
}
body.webp {
    background: url('drc.webp') top no-repeat fixed;
    background-size: cover;
}
body.no-webp {
    background: url('drc.jpg') top no-repeat fixed;
    background-size: cover;
}
table, td, th, tr {
    border: 1px solid black;
}
div {
    background-color: #FFFFFF;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
li {
    list-style-position: inside;
}
input[type=number] {
    height: 20px;
}
.nomargin {
    margin-left: auto;
    margin-right: auto;
}
.noborders {
    border: none;
}
.wrap {
    border: 1px solid black;
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.8;
    font: 14px verdana, sans-serif;
}
.flag {
    display: inline-block;
}
.language {
    margin-top: 0px;
}
.error {
    color: red;
}
#nav {
    margin-bottom: 5px;
}
#wrap {
    padding-bottom: 15px;
}
#countdown {
    font-size: 16px;
    font-weight: bold;
}
#noborders {
    border: none;
    margin-left: auto;
    margin-right: auto;
}
#route, #season, #calculator, #scoringButton, #survivalButton {
    display: none;
}
#languages {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#hy_container {
    float: right;
}
#ack_container > p {
    margin: 4px;
}
@media only screen and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (max-width: 1000px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (((min-width:320px) and (max-width:800px) and (orientation:portrait)) or ((min-width:480px) and (max-width:640px) and (orientation:landscape))) {
    #hy_container {
        float: none;
    }
    #languages {
        margin-top: 10px;
        width: 100%;
    }
}
@media only screen and (min-width:320px) and (max-width:800px) and (orientation: portrait) {
    #scoringRubrics {
        overflow-x: scroll;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
}
@media only screen and (min-width:480px) and (max-width:640px) and (orientation: landscape) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
}
