h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
li {
    text-align: left;
}
#hy_container {
    float: none;
}
#languages {
    margin-top: 10px;
    width: 100%;
}
@media only screen and (orientation: portrait) {
    #scoringRubrics {
        overflow-x: scroll;
    }
}
