{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-prototype-builtins": "off",
        "no-inner-declarations": "off",
        "no-global-assign": "off",
        "no-unused-vars": "warn",
        "no-console": "error",
        "no-undef": "error",
        "strict": "off",
        "curly": "warn"
    }
}
