# data files
json/gensokyo.json
json/admin.json

# minified files
*-min.json
*-min.css
*-min.js

# translation JSON files
locale/*/*/*.json

# sitemap
sitemap.xml

# file hosting
mirror/

# stats dir
.stats/*
!.stats/.gitkeep

# replay dir
replays

# uploads dir
assets/other/tiers/uploads/*

# dev
.vscode/
node_modules/
package*.json

# django
media/
static/

# environment
.env*
!.env.template