# data files
json/gensokyo.json
json/admin.json
bestinthewest.json
unverified.json
lnnvideos.json
lnnlist.json
wrlist.json

# minified files
*-min.json
*-min.css
*-min.js

# stats dir
.stats/*
!.stats/.gitkeep

# replay dir
replays

# uploads dir
assets/other/tiers/uploads

# dev
.vscode/
node_modules/
package*.json