.webp body {
    background: url("https://maribelhearn.com/index.webp") center no-repeat fixed;
    background-size: cover;
}
.no-js body,
.no-webp body {
    background: url("https://maribelhearn.com/index.png") center no-repeat fixed;
    background-size: cover;
}
div {
    background-color: #fff;
}
h1 {
    font-family: Felipa;
    font-size: 48px;
}
#wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    margin-top: 7%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    opacity: 0.8;
    font: 14px verdana,sans-serif;
}
@media only screen and (min-width:800px) and (max-width:1400px) {
    #wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (max-width:800px) {
    #wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (min-device-width:320px) and (max-device-width:800px) and (orientation:portrait) {
    #wrap {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
}
@media only screen and (min-device-width:480px) and (max-device-width:640px) and (orientation:landscape) {
    #wrap {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 0;
    }
}
