div {
    background-color: #FFFFFF;
}
h1 {
    font: 48px monotype corsiva;
}
.wrap {
    border: 1px solid black;
    text-align: center;
    margin-left: 18%;
    margin-right: 18%;
    opacity: 0.8;
    font: 14px verdana, sans-serif;
}
body {
    
}
#table {
     border: 1px solid black;
}
#gameTable {
     border: 1px solid black;
}