div {
    background-color: #FFFFFF;
}
h1 {
    font: 48px monotype corsiva;
}
.wrap {
    border: 1px solid black;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    opacity: 0.8;
    font: 14px verdana, sans-serif;
}
body {
    
}
#table {
     border: 1px solid black;
}
#gameTable {
     border: 1px solid black;
}
@media only screen and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}