body {
	background: url('bg/survival.jpg') top no-repeat fixed;
}
table, tr, th, td {
    border: 1px solid black;
}
div {
    background-color: #FFFFFF;
}
h1 {
    font: 48px monotype corsiva;
}
h2 {
    font: 36px monotype corsiva;
}
#wrap {
    border: 1px solid black;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    font: 14px verdana, sans-serif;
}
#results {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 1);
}
.overview {
    width: 80px;
}
.clear {
    background-color: green;
}
.nm {
    background-color: brown;
}
.nb {
    background-color: blue;
}
.nmnb {
    background-color: purple;
}
@media only screen and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}