table, tr, th, td {
    border: 1px solid black;
}
div {
    background-color: #FFFFFF;
}
h1 {
    font: 48px monotype corsiva;
}
.wrap {
    border: 1px solid black;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    opacity: 0.8;
    font: 14px verdana, sans-serif;
}