p {
    font: 14px verdana,sans-serif;
}
ol {
    margin: 10px;
    padding-right: 25px;
}
li {
    list-style-position: inside;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table, tr, th, td {
    border: 1px solid #000;
}
.description {
    font-size: 12px;
}
.noborder {
    border: none;
}
.border {
    border: 1px solid black;
}
.description {
    margin: 2px;
    font-style: italic;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.dropdown_content > p {
    margin: 4px;
}
.dropdown_content:hover .dropdown_content {
    display: block;
}
#wrap > ol {
    display: inline-block;
}
#nav {
    margin-bottom: 5px;
}
#contents td, #contents th {
    border: none;
}
@media only screen and (max-width: 1100px) {
    .shotinfo {
        width: 213px;
        height: 160px;
    }
    #yuitia {
        width: 117px;
        height: 228px;
    }
}
@media only screen and (max-width: 800px) {
    #boxart {
        width: 140px;
        height: 140px;
    }
    #graze {
        width: 175px;
        height: 72px;
    }
    #table {
        font-size: 11px;
    }
}
