#toggle_layout {
    display: none;
}
@media only screen and (orientation: portrait) {
    #overall, #recent {
        display: none;
    }
    #overallm, #recentm {
        display: block;
    }
    #overallm p, #recentm p {
        margin: 2px;
    }
    #overall_link, #overall_linkn, #recent_link, #recent_linkn {
        display: none;
    }
    #overall_linkm, #overall_linkmn, #recent_linkm, #recent_linkmn {
        display: table-row;
    }
}
@media only screen and (orientation: landscape) {
    .PCBt {
        font-size: 9px;
    }
    #overall_link, #overall_linkn, #recent_link, #recent_linkn {
        display: table-row;
    }
    #overall_linkm, #overall_linkmn, #recent_linkm, #recent_linkmn {
        display: none;
    }
}
