body:not(#ack) {
    color: white;
}
body.webp, body.no-webp, div:not(.dropdown):not(.dropdown_content):not(.nav_right) {
    background-color: #202020;
}
a:link:not(.replay):not(.i):not(.dropdown_button) {
    color: #1e90ff;
}
a:active:not(.replay):not(.i):not(.dropdown_button) {
    color: red;
}
a:visited:not(.replay):not(.i):not(.dropdown_button) {
    color: #ff69b4;
}
#hy {
    object-position: -632px 0px;
}
#checkboxes, #checkboxes td:not(.noborders), #gameTable, #gameTable th, #gameTable td, #table, #table th, #table td, .border,
table:not(#jargontable):not(#bullettable):not(#spelltable):not(#searchtable):not(.noborders):not(.result):not(.center):not(.poll),
table#contents,  tr:not(.noborders), th:not(.noborders), td:not(.noborders) {
    border: 1px solid #808080;
}
.PoDDt th, .LLSt th, .EoSDt th, .PCBt th, .PoFVt th, .MoFt th, .GFWt th, .TDt th, .DDCt th, .tier th, .tier {
    color: black;
}
.Winter, .FinalA, .FinalB, .in_route {
    color: cyan;
}
.does_not_even_score {
    color: gold;
}
.barely_even_scores {
    color: #FF8C00;
}
.moderately_even_scores {
    color: #00A000;
}
.does_even_score {
    color: dodgerblue;
}
.does_even_score_well {
    color: #E768C3;
}
a:link.dropdown_button {
    color: white;
}
a:visited.dropdown_button {
    color: white;
}
.dropdown_content {
    background-color: #202020;
}
.page_table {
    background-color: #333;
    border: 3px solid #aaa;
}
.dimgrey {
    color: #999999;
}
.Spring {
    color: fuchsia;
}
.Summer {
    color: lime;
}
.Autumn {
    color: orange;
}
.Winter {
    color: cyan;
}
.poll {
    color: black;
}
::before {
    color: white;
}
.cs {
    border-bottom: 1px dotted white;
}
.g {
    color: lime;
}
.r {
    color: black;
}
#contents tr, #contents th, #contents td, #responses tr, #responses th, #responses td, #jargontable th, #jargontable td,
#spelltable th, #spelltable td, #bullettable th, #bullettable td, .border td, .center th, .center td {
    border: none;
}
