@font-face {
    font-family: Felipa;
    font-display: swap;
    src: url('/assets/shared/fonts/Felipa-Regular.woff2') format('woff2'),
         url('/assets/shared/fonts/Felipa-Regular.woff') format('woff'),
         url('/assets/shared/fonts/Felipa-Regular.ttf') format('ttf');
}
h1 {
    font-family: Felipa;
    font-size: 48px;
    clear: both;
}
h2 {
    font-family: Felipa;
    font-size: 36px;
}
h3 {
    font-family: Felipa;
    font-size: 24px;
}
div:not(.dropdown):not(.dropdown_content):not(.nav_right):not(.dark_bg) {
    background-color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
}
a:link.dropdown_button {
    color: black;
}
a:visited.dropdown_button {
    color: black;
}
.language {
    margin-left: 3px;
}
.icon {
    background-image: url('/assets/shared/spritesheets/icon_sheet.png');
    display: inline-block;
    width: 16px;
    height: 16px;
}
.index_icon {
    background-position: 0px 0px;
}
.c67_icon {
    background-position: -16px 0px;
}
.drc_icon {
    background-position: -32px 0px;
}
.gensokyo_icon {
    background-position: -48px 0px;
}
.history_icon {
    background-position: -64px 0px;
}
.jargon_icon {
    background-position: -80px 0px;
}
.lnn_icon {
    background-position: -96px 0px;
}
.pofv_icon {
    background-position: -112px 0px;
}
.scoring_icon {
    background-position: -128px 0px;
}
.slots_icon {
    background-position: -144px 0px;
}
.survival_icon {
    background-position: -160px 0px;
}
.thvote_icon {
    background-position: -176px 0px;
}
.tiers_icon {
    background-position: -192px 0px;
}
.tools_icon {
    background-position: -208px 0px;
}
.wr_icon {
    background-position: -224px 0px;
}
.discord_icon {
    background-position: -240px 0px;
}
.docs_icon {
    background-position: -256px 0px;
}
.exphp_icon {
    background-position: -288px 0px;
}
.github_icon {
    background-position: -304px 0px;
}
.lunarcast_icon {
    background-position: -320px 0px;
}
.pndsng_icon {
    background-position: -336px 0px;
}
.priw8_icon {
    background-position: -352px 0px;
}
.royalflare_icon {
    background-position: -368px 0px;
}
.source_icon {
    background-position: -384px 0px;
}
.sheets_icon {
    background-position: -400px 0px;
}
.steam_icon {
    background-position: -416px 0px;
}
.thcrap_icon {
    background-position: -432px 0px;
}
.twitch_icon {
    background-position: -448px 0px;
}
.twitter_icon {
    background-position: -464px 0px;
}
.youtube_icon {
    background-position: -480px 0px;
}
.zerotier_icon {
    background-position: -496px 0px;
}
.twc_icon {
    background-position: -752px 0px;
}
.kg_icon {
    background-position: -768px 0px;
}
.unknown_icon {
    background-position: -784px 0px;
}
.forms_icon {
    background-position: -800px 0px;
}
.trs_icon {
    background-position: -816px 0px;
}
.fangame_icon {
    background-position: -832px 0px;
}
.wiki_icon {
    background-position: -848px 0px;
}
.faq_icon {
    background-position: -864px 0px;
}
.gsd_icon {
    background-position: -976px 0px;
}
.thspotify_icon {
    background-position: -992px 0px;
}
.overflow {
    overflow-x: auto;
}
.dropdowns {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_button {
    text-decoration: none;
    cursor: default;
}
.dropdown_content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    min-width: 120px;
    opacity: 1.0;
    z-index: 1;
}
.dropdown_content {
    background-color: white;
}
.dropdown_content.dark_bg {
    background-color: #1b232e;
}
.dropdown_content p a:hover {
    background-color: #bbb;
}
.dropdown_content.dark_bg p a:hover {
    background-color: #555;
}
.dropdown_content p a {
    display: inline-block;
    width: 100%;
}
.dropdown_right {
    right: 0;
}
.dropdown:hover .dropdown_content {
    display: block;
}
.nav_left {
    float: left;
    margin-left: 4px;
}
.nav_right {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
.wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 24%;
    margin-right: 24%;
    font: 14px verdana, sans-serif;
}
#wrap {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    opacity: 0.8;
}
#ext_mobile {
    display: none;
}
#hy {
    background-image: url('/assets/shared/spritesheets/icon_sheet.png');
    background-position: -512px 0px;
    display: inline-block;
    width: 120px;
    height: 16px;
}
#hy_container {
    position: relative;
    cursor: pointer;
    float: right;
}
#hy_container .tooltip {
    width: 150px;
    left: 0%;
}
#hy_container:hover .tooltip {
    visibility: visible;
}
#hy_text {
    margin-top: 4px;
}
#hy_link {
    color: black;
    text-decoration: none;
}
@media only screen and (max-width: 1100px) and (max-height: 1100px) {
    #wrap {
        font-size: 11px;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    li {
        text-align: left;
    }
    ul, ol {
        padding-left: 0px;
    }
    input, select {
        font-size: 11px;
    }
    .dropdowns {
        width: 100%;
    }
    .nav_left {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 100%;
    }
    .nav_right {
        display: none;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
    #hy_container {
        float: none;
    }
    #ext_mobile {
        display: inline-block;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1700px) {
    .wrap {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (max-width: 1100px) {
    #wrap {
        font-size: 12px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 1080px) and (min-height: 1680px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 1440px) and (min-height: 2440px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
