body {
    background: url('../jargon/jargon.jpg') top no-repeat fixed;
    background-size: cover;
}
div > div > p {
    margin: 4px;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
.border {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
.jargon {
    width: 150px;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.dropdown_content:hover .dropdown_content {
    display: block;
}
.wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    font: 14px verdana,sans-serif;
}
#wrap {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    opacity: 0.8;
}
#wrap > div {
    display: inline-block;
}
#bullettable, #jargontable, #spelltable {
    text-align: left;
}
#bullettable {
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
    .jargon {
        width: auto;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1 {
        margin-bottom: 15px;
        font-size: 44px;
    }
    h2 {
        margin-bottom: 15px;
        margin-top: 10px;
        font-size: 32px;
    }
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
    #wrap {
        font-size: 11px;
    }
    .jargon {
        width: auto;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        margin-bottom: 15px;
        font-size: 44px;
    }
    h2 {
        margin-bottom: 15px;
        margin-top: 10px;
        font-size: 32px;
    }
    .jargon {
        width: auto;
    }
    .dropdowns {
        width: 100%;
    }
    .nav_left {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 100%;
    }
    .nav_right {
        display: none;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
    #wrap {
        font-size: 11px;
    }
    #ext_mobile {
        display: inline-block;
    }
}
