@font-face {
  font-family: Felipa;
  font-display: swap;
  src: url('https://maribelhearn.com/assets/shared/Felipa-Regular.woff2') format('woff2'),
       url('https://maribelhearn.com/assets/shared/Felipa-Regular.woff') format('woff');
}
body.webp {
    background: url('https://maribelhearn.com/assets/index/index.webp') center no-repeat fixed;
    background-size: cover;
}
body.no-webp {
    background: url('https://maribelhearn.com/assets/index/index.jpg') center no-repeat fixed;
    background-size: cover;
}
div:not(.dropdown):not(.dropdown_content) {
    background-color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
}
a:link.dropdown_button {
    color: black;
}
a:visited.dropdown_button {
    color: black;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
.dropdowns {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_button {
    text-decoration: none;
    cursor: default;
}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #000;
    min-width: 120px;
    opacity: 1.0;
    z-index: 1;
}
.dropdown_content p {
    margin: 4px;
}
.dropdown_right {
    right: 0;
}
.dropdown:hover .dropdown_content {
    display: block;
}
.dropdown_content:hover .dropdown_content {
    display: block;
}
.nav_left {
    float: left;
    margin-left: 4px;
}
.nav_right {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
.wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    font: 14px verdana,sans-serif;
}
#wrap {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    opacity: 0.8;
}
#nav {
    margin-bottom: 5px;
}
#ext_mobile {
    display: none;
}
#hy {
    float: right;
}
#ack {
    font: 11px verdana,sans-serif;
    text-align: right;
    background: none;
    position: fixed;
    color: white;
    bottom: 5px;
    right: 5px;
}
#ack_br {
    display: none;
}
#ack > a:link {
    color: #1e90ff;
}
#ack > a:active {
    color: red;
}
#ack > a:visited {
    color: #ff69b4;
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1 {
        font-size: 44px;
    }
    .dropdowns {
        width: 100%;
    }
    .nav_left {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
        width: 100%;
    }
    .nav_right {
        display: none;
    }
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 44px;
    }
    .dropdowns {
        width: 100%;
    }
    .nav_left {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 100%;
    }
    .nav_right {
        display: none;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
    #wrap {
        font-size: 11px;
    }
    #ext_mobile {
        display: inline-block;
    }
}
@media only screen and (((min-width: 480px) and (max-width: 640px) and (orientation: landscape)) or ((min-width: 320px) and (max-width: 800px) and (orientation: portrait))) {
    h1 {
        font-size: 36px;
    }
    #hy {
        float: none;
    }
}
@media only screen and (max-height: 300px) {
    h1 {
        clear: both;
    }
    #ack {
        position: relative;
        color: black;
        float: left;
    }
}
