@font-face {
  font-family: Felipa;
  font-display: swap;
  src: url('../shared/Felipa-Regular.woff2') format('woff2'),
       url('../shared/Felipa-Regular.woff') format('woff');
}
body {
    background: url('tools.jpg') top no-repeat fixed;
    background-size: cover;
}
div:not(.dropdown):not(.dropdown_content):not(.nav_right) {
    background-color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
}
a:link.dropdown_button {
    color: black;
}
a:visited.dropdown_button {
    color: black;
}
div > div > p {
    margin: 4px;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table, tr, th, td {
    border: none;
}
.code {
    font-family: 'courier new';
}
.border {
    border: 1px solid black;
    margin-bottom: 15px;
}
.wide-top {
    margin-top: 10px;
}
.wide-bottom {
    margin-bottom: 10px;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.icon {
    object-fit: none;
    width: 16px;
    height: 16px;
}
.index_icon {
    object-position: 0px 0px;
}
.c67_icon {
    object-position: -16px 0px;
}
.drc_icon {
    object-position: -32px 0px;
}
.gensokyo_icon {
    object-position: -48px 0px;
}
.history_icon {
    object-position: -64px 0px;
}
.jargon_icon {
    object-position: -80px 0px;
}
.lnn_icon {
    object-position: -96px 0px;
}
.pofv_icon {
    object-position: -112px 0px;
}
.scoring_icon {
    object-position: -128px 0px;
}
.slots_icon {
    object-position: -144px 0px;
}
.survival_icon {
    object-position: -160px 0px;
}
.thvote_icon {
    object-position: -176px 0px;
}
.tiers_icon {
    object-position: -192px 0px;
}
.tools_icon {
    object-position: -208px 0px;
}
.wr_icon {
    object-position: -224px 0px;
}
.exphp_icon {
    object-position: -288px 0px;
}
.github_icon {
    object-position: -304px 0px;
}
.lunarcast_icon {
    object-position: -320px 0px;
}
.pndsng_icon {
    object-position: -336px 0px;
}
.priw8_icon {
    object-position: -352px 0px;
}
.royalflare_icon {
    object-position: -368px 0px;
}
.source_icon {
    object-position: -384px 0px;
}
.steam_icon {
    object-position: -416px 0px;
}
.thcrap_icon {
    object-position: -432px 0px;
}
.twitch_icon {
    object-position: -448px 0px;
}
.twitter_icon {
    object-position: -464px 0px;
}
.youtube_icon {
    object-position: -480px 0px;
}
.dropdowns {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_button {
    text-decoration: none;
    cursor: default;
}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #000;
    min-width: 120px;
    opacity: 1.0;
    z-index: 1;
}
.dropdown_content > p {
    margin: 4px;
}
.dropdown_right {
    right: 0;
}
.dropdown:hover .dropdown_content {
    display: block;
}
.nav_left {
    float: left;
    margin-left: 4px;
}
.nav_right {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
.wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    font: 14px verdana,sans-serif;
}
#wrap {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    opacity: 0.8;
}
#wrap > div {
    display: inline-block;
}
#nav {
    margin-bottom: 5px;
}
#ext_mobile {
    display: none;
}
#hy {
    object-position: -512px 0px;
    object-fit: none;
    width: 120px;
    height: 16px;
}
#hy_container {
    position: relative;
    float: right;
}
#hy_container .tooltip {
    width: 150px;
    left: 0%;
}
#hy_container:hover .tooltip {
    visibility: visible;
}
#ack {
    font: 11px verdana,sans-serif;
    text-align: right;
    background: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
}
#ack_br, #ack_mobile {
    display: none;
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
    #ack_br {
        display: inline;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1 {
        margin-bottom: 15px;
        font-size: 44px;
        clear: both;
    }
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
    #wrap {
        font-size: 11px;
    }
    #ack {
        position: relative;
        float: left;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 44px;
    }
    .dropdowns {
        width: 100%;
    }
    .nav_left {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 100%;
    }
    .nav_right {
        display: none;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
    #wrap {
        font-size: 11px;
    }
    #ext_mobile {
        display: inline-block;
    }
    #ack {
        display: none;
    }
    #ack_mobile {
        display: block;
    }
}
@media only screen and (((min-width: 320px) and (max-width: 800px) and (orientation: portrait)) or ((min-width: 480px) and (max-width: 640px) and (orientation: landscape))) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    #hy_container {
        float: none;
    }
}
