body {
    background: url('../tools/tools.jpg') top no-repeat fixed;
    background-size: cover;
}
div > div > p {
    margin: 4px;
}
h3 {
    margin-top: 0px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table, tr, th, td {
    border: none;
}
.code {
    font-family: 'courier new';
}
.border {
    border: 1px solid black;
    margin-bottom: 15px;
}
.wide-top {
    margin-top: 10px;
}
.wide-bottom {
    margin-bottom: 10px;
}
.flag {
    display: inline-block;
}
.language {
    margin-top: 0px;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    font: 14px verdana,sans-serif;
}
#wrap {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    opacity: 0.8;
}
#wrap > div:not(#topbar) {
    display: inline-block;
}
#languages {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#ack {
    font: 11px verdana,sans-serif;
    text-align: right;
    background: none;
    position: fixed;
    color: white;
    bottom: 5px;
    right: 5px;
}
#ack_br, #ack_mobile {
    display: none;
}
#ack > a:link {
    color: #1e90ff;
}
#ack > a:active {
    color: red;
}
#ack > a:visited {
    color: #ff69b4;
}
#ack_container > p {
    margin: 4px;
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
    #ack_br {
        display: inline;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1 {
        margin-bottom: 15px;
        clear: both;
    }
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
    #wrap {
        font-size: 11px;
    }
    #ack {
        display: none;
    }
    #ack_mobile {
        display: block;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    #wrap {
        font-size: 11px;
    }
    #ack {
        display: none;
    }
    #ack_mobile {
        display: block;
    }
}
