h1 {
    margin-top: 10px;
    font-size: 36px;
    clear: both;
}
h2 {
    font-size: 24px;
    clear: both;
}
input, table {
    font-size: 11px;
}
#hy_container {
    float: none;
}
#container, #dummy {
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
}
#results {
    font-size: 11px;
}
@media only screen and (orientation: portrait) {
    .overview {
        width: 40px;
    }
}
