@font-face {
  font-family: Felipa;
  font-display: swap;
  src: url('../shared/Felipa-Regular.woff2') format('woff2'),
       url('../shared/Felipa-Regular.woff') format('woff');
}
body.webp {
    background: url('lnn.webp') bottom no-repeat fixed;
    background-size: cover;
}
body.no-webp {
    background: url('lnn.jpg') bottom no-repeat fixed;
    background-size: cover;
}
div:not(.dropdown):not(.dropdown_content) {
    background-color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
}
a:link.dropdown_button {
    color: black;
}
a:visited.dropdown_button {
    color: black;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 1px solid #000;
}
.border {
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 15px;
}
.noborders {
    border: none;
}
.nowrap {
    white-space: nowrap;
}
.cover, .game {
    object-fit: none;
    height: 50px;
    width: 50px;
}
.cover98 {
    border: 1px solid #000;
}
.game {
    cursor: pointer;
}
.flag {
    display: inline-block;
}
.language {
    margin-top: 0px;
}
.FinalA, .FinalB, .in_route {
    font-size: 12px;
    color: #339;
}
.Spring {
    color: #990099;
}
.Summer {
    color: green;
}
.Autumn {
    color: #8D4500;
}
.Winter {
    color: blue;
}
.border p {
    margin: 4px;
}
.game_image {
    position: relative;
}
.game_image .tooltip {
    left: 0%;
    margin-left: -60px;
}
.tooltip {
    font-weight: initial;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.game_image:hover .tooltip {
    visibility: visible;
}
.full_name {
    width: 300px;
}
.icon {
    object-fit: none;
    width: 16px;
    height: 16px;
}
.index_icon {
    object-position: 0px 0px;
}
.c67_icon {
    object-position: -16px 0px;
}
.drc_icon {
    object-position: -32px 0px;
}
.gensokyo_icon {
    object-position: -48px 0px;
}
.history_icon {
    object-position: -64px 0px;
}
.jargon_icon {
    object-position: -80px 0px;
}
.lnn_icon {
    object-position: -96px 0px;
}
.pofv_icon {
    object-position: -112px 0px;
}
.scoring_icon {
    object-position: -128px 0px;
}
.slots_icon {
    object-position: -144px 0px;
}
.survival_icon {
    object-position: -160px 0px;
}
.thvote_icon {
    object-position: -176px 0px;
}
.tiers_icon {
    object-position: -192px 0px;
}
.tools_icon {
    object-position: -208px 0px;
}
.wr_icon {
    object-position: -224px 0px;
}
.exphp_icon {
    object-position: -288px 0px;
}
.github_icon {
    object-position: -304px 0px;
}
.lunarcast_icon {
    object-position: -320px 0px;
}
.pndsng_icon {
    object-position: -336px 0px;
}
.priw8_icon {
    object-position: -352px 0px;
}
.royalflare_icon {
    object-position: -368px 0px;
}
.source_icon {
    object-position: -384px 0px;
}
.steam_icon {
    object-position: -416px 0px;
}
.thcrap_icon {
    object-position: -432px 0px;
}
.twitch_icon {
    object-position: -448px 0px;
}
.twitter_icon {
    object-position: -464px 0px;
}
.youtube_icon {
    object-position: -480px 0px;
}
.dropdowns {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_button {
    text-decoration: none;
    cursor: default;
}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #000;
    min-width: 120px;
    opacity: 1.0;
    z-index: 1;
}
.dropdown_content > p {
    margin: 4px;
}
.dropdown_right {
    right: 0;
}
.dropdown:hover .dropdown_content {
    display: block;
}
.dropdown_content:hover .dropdown_content {
    display: block;
}
.nav_left {
    float: left;
    margin-left: 4px;
}
.nav_right {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
.wrap {
    border: 1px solid black;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font: 14px verdana, sans-serif;
}
#wrap {
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.8;
}
#wrap:after {
    content: "\200C";
    display: block;
    line-height: 1em;
    color: #000;
}
#nav {
    margin-bottom: 5px;
}
#ext_mobile {
    display: none;
}
#newlayout, #playersearch, #playersearchlink, #contents_new {
    display: none;
}
#list, #playerlist {
    margin-top: 10px;
    display: none;
}
#ranking.sortable tbody {
    counter-reset: sortabletablescope;
}
#ranking.sortable thead tr::before {
    content: "";
    display: table-cell;
}
#ranking.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}
#toggle {
    float: left;
}
#languages {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#hy {
    object-position: -512px 0px;
    object-fit: none;
    width: 120px;
    height: 16px;
}
#hy_container {
    position: relative;
    float: right;
}
#hy_container .tooltip {
    width: 150px;
    left: 0%;
}
#hy_container:hover .tooltip {
    visibility: visible;
}
#HRtPt, #SoEWt {
    width: 400px;
}
#contents > p, #contents_new > p, #ack_container > p {
    margin: 4px;
}
#HRtP_image, #HRtP_image_old {
    object-position: 0px 0px;
}
#SoEW_image, #SoEW_image_old {
    object-position: -50px 0px;
}
#PoDD_image, #PoDD_image_old {
    object-position: -100px 0px;
}
#LLS_image, #LLS_image_old {
    object-position: -150px 0px;
}
#MS_image, #MS_image_old {
    object-position: -200px 0px;
}
#EoSD_image, #EoSD_image_old {
    object-position: -250px 0px;
}
#PCB_image, #PCB_image_old {
    object-position: -300px 0px;
}
#IN_image, #IN_image_old {
    object-position: -350px 0px;
}
#PoFV_image, #PoFV_image_old {
    object-position: -400px 0px;
}
#MoF_image, #MoF_image_old {
    object-position: -450px 0px;
}
#SA_image, #SA_image_old {
    object-position: -500px 0px;
}
#UFO_image, #UFO_image_old {
    object-position: -550px 0px;
}
#GFW_image, #GFW_image_old {
    object-position: -600px 0px;
}
#TD_image, #TD_image_old {
    object-position: -650px 0px;
}
#DDC_image, #DDC_image_old {
    object-position: -700px 0px;
}
#LoLK_image, #LoLK_image_old {
    object-position: -750px 0px;
}
#HSiFS_image, #HSiFS_image_old {
    object-position: -800px 0px;
}
#WBaWC_image, #WBaWC_image_old {
    object-position: -850px 0px;
}
#ack {
    font: 11px verdana,sans-serif;
    text-align: right;
    background: none;
    position: fixed;
    color: white;
    bottom: 0px;
    right: 5px;
}
#ack_br, #ack_mobile {
    display: none;
}
#ack > a:link {
    color: #1e90ff;
}
#ack > a:active {
    color: red;
}
#ack > a:visited {
    color: #ff69b4;
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
    #ack_br {
        display: inline;
    }
}
@media only screen and (max-width: 1100px) {
    #ack {
        display: none;
    }
    #ack_mobile {
        display: block;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1 {
        margin-top: 15px;
        font-size: 44px;
    }
    h2 {
        font-size: 32px;
    }
    .wrap {
        margin-left: 5%;
        margin-right: 5%;
    }
    #wrap {
        font-size: 11px;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        margin-bottom: 15px;
        margin-top: 0px;
        font-size: 44px;
    }
    h2 {
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 32px;
    }
    .dropdowns {
        width: 100%;
    }
    .nav_left {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 100%;
    }
    .nav_right {
        display: none;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
    #wrap {
        font-size: 11px;
    }
    #ext_mobile {
        display: inline-block;
    }
}
@media only screen and (((min-width: 320px) and (max-width: 800px) and (orientation: portrait)) or ((min-width: 480px) and (max-width: 640px) and (orientation: landscape))) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    .full_name {
        display: none;
    }
    #layouttoggle {
        display: none;
    }
    #hy_container {
        float: none;
    }
    #languages {
        margin-top: 10px;
        width: 100%;
    }
}
