@font-face {
  font-family: Felipa;
  font-display: swap;
  src: url('../shared/Felipa-Regular.woff2') format('woff2'),
       url('../shared/Felipa-Regular.woff') format('woff');
}
body.webp {
    background: url('lnn.webp') bottom no-repeat fixed;
    background-size: cover;
}
body.no-webp {
    background: url('lnn.jpg') bottom no-repeat fixed;
    background-size: cover;
}
div {
    background-color: #fff;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 1px solid #000;
}
#contents td, #contents th {
    border: none;
}
#checkboxes tbody:after {
    content: "\200C";
    display: block;
    line-height: 1em;
    color: #000;
}
#list, #playerlist {
    margin-top: 10px;
    display: none;
}
#nav {
    margin-bottom: 5px;
}
#wrap:after {
    content: "\200C";
    display: block;
    line-height: 1em;
    color: #000;
}
#top {
    width: 100%;
}
#ranking.sortable tbody {
    counter-reset: sortabletablescope;
}
#ranking.sortable thead tr::before {
    content: "";
    display: table-cell;
}
#ranking.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}
#fullname, .count {
    text-decoration: underline;
}
#toggletd {
     width: 22%;
     text-align: left;
     vertical-align: top;
}
#languagestd {
     width: 55%;
}
#bartd {
     width: 22%;
     text-align: right;
     vertical-align: top;
}
#contents > p, #ack_container > p {
    margin: 4px;
}
.wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 24%;
    margin-right: 24%;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.8;
    font: 14px verdana,sans-serif;
}
.border {
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 15px;
}
.noborders {
    border: none;
}
.cover98 {
    border: 1px solid #000;
}
.game {
    cursor: pointer;
}
.in_route {
    font-size: 12px;
    color: #339;
}
.Spring {
    color: #f0f;
}
.Summer {
    color: green;
}
.Autumn {
    color: #d2691e;
}
.Winter {
    color: #00f;
}
.border p {
    margin: 4px;
}
@media only screen and (min-width:800px) and (max-width:1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (max-width:800px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (min-device-width:320px) and (max-device-width:800px) and (orientation:portrait) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
}
@media only screen and (min-device-width:480px) and (max-device-width:640px) and (orientation:landscape) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
}
