body {
    background: url('../wr/wr.jpg') bottom no-repeat fixed;
    background-size: cover;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 1px solid #000;
}
.HRtPt th, .HRtPp {
    color: white;
    background-color: #b6423c;
}
.SoEWt th, .SoEWp {
    color: white;
    background-color: #7d3884;
}
.PoDDt th, .PoDDp {
    background-color: gold;
}
.LLSt th, .LLSp {
    background-color: #90ee90;
}
.MSt th, .MSp {
    color: white;
    background-color: #ae11d5;
}
.EoSDt th, .EoSDp {
    background-color: #ff2400;
}
.PCBt th, .PCBp {
    background-color: #ff8ed2;
}
.INt th, .INp {
    color: white;
    background-color: #339;
}
.PoFVt th, .PoFVp {
    background-color: #009973;
}
.MoFt th, .MoFp {
    background-color: #96b300;
}
.SAt th, .SAp {
    color: white;
    background-color: #591400;
}
.UFOt th, .UFOp {
    color: white;
    background-color: #4169e1;
}
.GFWt th, .GFWp {
    background-color: #00c8c8;
}
.TDt th, .TDp {
    background-color: #4a808c;
}
.DDCt th, .DDCp {
    background-color: #a77;
}
.LoLKt th, .LoLKp {
    color: white;
    background-color: #6a47be;
}
.HSiFSsmallt th, .HSiFSt th, .HSiFSp {
    color: white;
    background-color: #176e0e;
}
.WBaWCt th, .WBaWCp {
    color: white;
    background-color: #190e0e;
}
.border {
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.noborders {
    border: none;
}
.count {
    text-decoration: underline;
}
.dimgrey {
    color: #696969;
}
.replay {
    color: inherit;
    text-decoration: none;
}
.cover, .game {
    object-fit: none;
    height: 50px;
    width: 50px;
}
.cover98 {
    border: 1px solid #000;
}
.game {
    cursor: pointer;
}
.noborders {
    border: none;
}
.flag {
    display: inline-block;
}
.language {
    margin-top: 0px;
}
.Spring {
    color: #990099;
}
.Summer {
    color: green;
}
.Autumn {
    color: #8D4500;
}
.Winter {
    color: blue;
}
.does_not_even_score {
    color: #B60000;
    font-weight: bold;
}
.barely_even_scores {
    color: #894800;
    font-weight: bold;
}
.moderately_even_scores {
    color: green;
    font-weight: bold;
}
.does_even_score {
    color: #00008B;
    font-weight: bold;
}
.does_even_score_well {
    color: #990099;
    font-weight: bold;
}
.cs {
    cursor: help;
    position: relative;
    border-bottom: 1px dotted black;
}
.cs .tooltip {
    left: 80%;
    margin-left: -60px;
}
.game_image {
    position: relative;
}
.game_image .tooltip {
    left: 0%;
    margin-left: -60px;
}
.tooltip {
    font-weight: initial;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.truescore {
    width: 150px;
}
.truescores, .full_name {
    width: 300px;
}
.cs:hover .tooltip {
    visibility: visible;
}
.game_image:hover .tooltip {
    visibility: visible;
}
.dropdown_content > p {
    margin: 4px;
}
.dropdown_content:hover .dropdown_content {
    display: block;
}
.wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font: 14px verdana,sans-serif;
}
#wrap {
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.8;
}
#wrap:after {
    content: '\200C';
    display: block;
    line-height: 1em;
    color: #000;
}
#nav {
    margin-bottom: 5px;
}
#overall_linkm, #overall_linkmn, #overallm, #list, #playerlist, #playersearch, #checkboxes,
#seasontoggle, #newlayout, #playersearchlink, #contents_new, #recent_linkm, #recentm {
    display: none;
}
#list, #playerlist {
    margin-top: 10px;
}
#table {
    margin-bottom: 15px;
}
#checkboxes, #ranking {
    margin-top: 15px;
}
#ranking.sortable tbody {
    counter-reset: sortabletablescope;
}
#ranking.sortable thead tr::before {
    content: '';
    display: table-cell;
}
#ranking.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}
#toggle {
    float: left;
}
#languages {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#hy_container {
    float: right;
}
#hy {
    object-position: -512px 0px;
    object-fit: none;
    width: 120px;
    height: 16px;
}
#hy_container {
    position: relative;
    float: right;
}
#hy_container .tooltip {
    width: 150px;
    left: 0%;
}
#hy_container:hover .tooltip {
    visibility: visible;
}
#dates {
    margin-top: 0px;
    margin-bottom: 0px;
}
#contents > p, #contents_new > p, #ack_container > p {
    margin: 4px;
}
#HRtP_image, #HRtP_image_old {
    object-position: 0px 0px;
}
#SoEW_image, #SoEW_image_old {
    object-position: -50px 0px;
}
#PoDD_image, #PoDD_image_old {
    object-position: -100px 0px;
}
#LLS_image, #LLS_image_old {
    object-position: -150px 0px;
}
#MS_image, #MS_image_old {
    object-position: -200px 0px;
}
#EoSD_image, #EoSD_image_old {
    object-position: -250px 0px;
}
#PCB_image, #PCB_image_old {
    object-position: -300px 0px;
}
#IN_image, #IN_image_old {
    object-position: -350px 0px;
}
#PoFV_image, #PoFV_image_old {
    object-position: -400px 0px;
}
#StB_image, #StB_image_old {
    object-position: -450px 0px;
}
#MoF_image, #MoF_image_old {
    object-position: 0px 0px;
}
#SA_image, #SA_image_old {
    object-position: -50px 0px;
}
#UFO_image, #UFO_image_old {
    object-position: -100px 0px;
}
#DS_image, #DS_image_old {
    object-position: -150px 0px;
}
#GFW_image, #GFW_image_old {
    object-position: -200px 0px;
}
#TD_image, #TD_image_old {
    object-position: -250px 0px;
}
#DDC_image, #DDC_image_old {
    object-position: -300px 0px;
}
#LoLK_image, #LoLK_image_old {
    object-position: -350px 0px;
}
#HSiFS_image, #HSiFS_image_old {
    object-position: -400px 0px;
}
#WBaWC_image, #WBaWC_image_old {
    object-position: -450px 0px;
}
#UM_image, #UM_image_old {
    object-position: -500px 0px;
}
#ack {
    font: 11px verdana,sans-serif;
    text-align: right;
    background: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
}
#ack_br, #ack_mobile {
    display: none;
}
@media only screen and (min-width: 1550px) and (max-width: 1750px) {
    .wrap {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media only screen and (min-width: 1150px) and (max-width: 1550px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
    #ack_br {
        display: inline;
    }
}
@media only screen and (max-width: 1150px) {
    #ack {
        display: none;
    }
    #ack_mobile {
        display: block;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1150px) {
    h1 {
        margin-bottom: 15px;
        margin-top: 0px;
        font-size: 44px;
    }
    h2 {
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 32px;
    }
    .wrap {
        margin-left: 8%;
        margin-right: 8%;
    }
    #wrap {
        font-size: 11px;
    }
    #description {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        margin-bottom: 15px;
        margin-top: 0px;
        font-size: 44px;
    }
    h2 {
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 32px;
    }
    .dropdowns {
        width: 100%;
    }
    .nav_left {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 100%;
    }
    .nav_right {
        display: none;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
    #wrap {
        font-size: 11px;
    }
    #ext_mobile {
        display: inline-block;
    }
    #description {
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media only screen and (((min-width: 320px) and (max-width: 800px) and (orientation: portrait)) or ((min-width: 480px) and (max-width: 640px) and (orientation: landscape))) {
    .full_name {
        display: none;
    }
    #layouttoggle {
        display: none;
    }
    #hy_container {
        float: none;
    }
    #languages {
        margin-top: 10px;
        width: 100%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 800px) and (orientation: portrait) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    .player {
        font-style: italic;
    }
    #overall, #recent {
        display: none;
    }
    #overallm, #recentm {
        display: block;
    }
    #overallm p {
        margin: 2px;
    }
    #overall_link, #overall_linkn, #recent_link, #recent_linkn {
        display: none;
    }
    #overall_linkm, #overall_linkmn, #recent_linkm, #recent_linkmn {
        display: table-row;
    }
}
@media only screen and (min-width: 480px) and (max-width: 640px) and (orientation: landscape) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    .PCBt {
        font-size: 9px;
    }
    #overall_link, #overall_linkn, #recent_link, #recent_linkn {
        display: table-row;
    }
    #overall_linkm, #overall_linkmn, #recent_linkm, #recent_linkmn {
        display: none;
    }
}
