body.webp {
    background: url('wr.webp') bottom no-repeat fixed;
    background-size: cover;
}
body.no-webp {
    background: url('wr.jpg') bottom no-repeat fixed;
    background-size: cover;
}
div {
    background-color: #fff;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 1px solid #000;
}
#checkboxes {
    display: none;
}
#checkboxes th, #checkboxes td, #contents th, #contents td {
    border: none;
}
#nav {
    margin-bottom: 5px;
}
#wrap:after {
    content: '\200C';
    display: block;
    line-height: 1em;
    color: #000;
}
#top {
    width: 100%;
}
#overall_linkm, #overallm {
    display: none;
}
#list, #seasontoggle {
    display: none;
}
#table {
    margin-bottom: 15px;
}
#checkboxes, #ranking {
    margin-top: 15px;
}
#ranking.sortable tbody {
    counter-reset: sortabletablescope;
}
#ranking.sortable thead tr::before {
    content: '';
    display: table-cell;
}
#ranking.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}
#fullname, .count {
    text-decoration: underline;
}
#emptytd {
     width: 22%;
}
#languagestd {
     width: 55%;
}
#bartd {
     width: 22%;
     text-align: right;
     vertical-align: top;
}
.HRtPt th {
    background-color: #b6423c;
}
.SoEWt th {
    color: #fff;
    background-color: #7d3884;
}
.PoDDt th {
    background-color: gold;
}
.LLSt th {
    background-color: #90ee90;
}
.MSt th {
    background-color: #ae11d5;
}
.EoSDt th {
    background-color: #ff2400;
}
.PCBt th {
    background-color: #ff8ed2;
}
.INt th {
    color: #fff;
    background-color: #339;
}
.PoFVt th {
    background-color: #009973;
}
.MoFt th {
    background-color: #96b300;
}
.SAt th {
    color: #fff;
    background-color: #591400;
}
.UFOt th {
    background-color: #4169e1;
}
.GFWt th {
    background-color: #00c8c8;
}
.TDt th {
    background-color: #4a808c;
}
.DDCt th {
    background-color: #a77;
}
.LoLKt th {
    background-color: #6a47be;
}
.HSiFSsmallt th, .HSiFSt th {
    background-color: #176e0e;
}
.WBaWCt th {
    background-color: #190e0e;
    color: white;
}
.wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.8;
    font: 14px verdana,sans-serif;
}
.noborders {
    border: none;
}
.dimgrey {
    color: #696969;
}
.replay {
    color: inherit;
    text-decoration: none;
}
.cover98 {
    border: 1px solid #000;
}
.noborders {
    border: none;
}
.Spring {
    color: #f0f;
}
.Summer {
    color: green;
}
.Autumn {
    color: #d2691e;
}
.Winter {
    color: #00f;
}
.does_not_even_score {
    color: red;
}
.barely_even_scores {
    color: #ff8c00;
}
.moderately_even_scores {
    color: green;
}
.does_even_score {
    color: #00008b;
}
.does_even_score_well {
    color: #e768c3;
}
@media only screen and (min-width:1400px) and (max-width:1600px) {
    .wrap {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media only screen and (min-width:1200px) and (max-width:1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (min-width:1000px) and (max-width:1200px) {
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (max-width:1000px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (min-device-width:320px) and (max-device-width:800px) and (orientation:portrait) {
    #emptytd {
        display: none;
    }
    #languagestd {
        width: 77%;
    }
    #overall {
        display: none;
    }
    #overallm {
        display: block;
    }
    #overallm p {
        margin: 2px;
    }
    #overall_link {
        display: none;
    }
    #overall_linkm {
        display: table-row;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    .player {
        font-style: italic;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
}
@media only screen and (min-device-width:480px) and (max-device-width:640px) and (orientation:landscape) {
    #overall_link {
        display: table-row;
    }
    #overall_linkm {
        display: none;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    .PCBt {
        font-size: 9px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
}
