@font-face {
  font-family: Felipa;
  font-display: swap;
  src: url('../shared/Felipa-Regular.woff2') format('woff2'),
       url('../shared/Felipa-Regular.woff') format('woff');
}
body.webp {
    background: url('scoring.webp') bottom no-repeat fixed;
    background-size: cover;
}
body.no-webp {
    background: url('scoring.jpg') bottom no-repeat fixed;
    background-size: cover;
}
div:not(.dropdown):not(.dropdown_content) {
    background-color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
}
a:link.dropdown_button {
    color: black;
}
a:visited.dropdown_button {
    color: black;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
    clear: both;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
input[type=text] {
    width: 95px;
    height: 15px;
}
input[type=number] {
    height: 20px;
}
input[type=button] {
    margin: 5px;
}
table.center {
    margin-top: 15px;
}
.border {
    display: inline-block;
    border: 1px solid black;
}
.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.wr {
    color: #00e;
}
.cover {
    object-fit: none;
    height: 50px;
    width: 50px;
}
.cover98 {
    border: 1px solid #000;
}
.noborders {
    border: none;
}
.error {
    color: red;
}
.label {
    display: none;
}
.border p {
    margin: 4px;
}
.wide {
    padding: 5px;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.icon {
    object-fit: none;
    width: 16px;
    height: 16px;
}
.index_icon {
    object-position: 0px 0px;
}
.c67_icon {
    object-position: -16px 0px;
}
.drc_icon {
    object-position: -32px 0px;
}
.gensokyo_icon {
    object-position: -48px 0px;
}
.history_icon {
    object-position: -64px 0px;
}
.jargon_icon {
    object-position: -80px 0px;
}
.lnn_icon {
    object-position: -96px 0px;
}
.pofv_icon {
    object-position: -112px 0px;
}
.scoring_icon {
    object-position: -128px 0px;
}
.slots_icon {
    object-position: -144px 0px;
}
.survival_icon {
    object-position: -160px 0px;
}
.thvote_icon {
    object-position: -176px 0px;
}
.tiers_icon {
    object-position: -192px 0px;
}
.tools_icon {
    object-position: -208px 0px;
}
.wr_icon {
    object-position: -224px 0px;
}
.exphp_icon {
    object-position: -288px 0px;
}
.github_icon {
    object-position: -304px 0px;
}
.lunarcast_icon {
    object-position: -320px 0px;
}
.pndsng_icon {
    object-position: -336px 0px;
}
.priw8_icon {
    object-position: -352px 0px;
}
.royalflare_icon {
    object-position: -368px 0px;
}
.source_icon {
    object-position: -384px 0px;
}
.steam_icon {
    object-position: -416px 0px;
}
.thcrap_icon {
    object-position: -432px 0px;
}
.twitch_icon {
    object-position: -448px 0px;
}
.twitter_icon {
    object-position: -464px 0px;
}
.youtube_icon {
    object-position: -480px 0px;
}
.dropdowns {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_button {
    text-decoration: none;
    cursor: default;
}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #000;
    min-width: 120px;
    opacity: 1.0;
    z-index: 1;
}
.dropdown_content > p {
    margin: 4px;
}
.dropdown_right {
    right: 0;
}
.dropdown:hover .dropdown_content {
    display: block;
}
.dropdown_content:hover .dropdown_content {
    display: block;
}
.nav_left {
    float: left;
    margin-top: 2px;
    margin-left: 4px;
}
.nav_right {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
.wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 24%;
    margin-right: 24%;
    font: 14px verdana,sans-serif;
}
#wrap {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    opacity: 0.8;
}
#nav {
    margin-bottom: 5px;
}
#notice {
    display: none;
}
#ext_mobile {
    display: none;
}
#checkboxes, #checkboxes td:not(.noborders) {
    border: 1px solid #000;
}
#checkboxes tbody:after {
    content: '\200C';
    display: block;
    line-height: 1em;
    color: #000;
}
#table {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
#gameTable {
    margin-left: auto;
    margin-right: auto;
}
#table, #table th, #table td {
    border: 1px solid #000;
}
#gameTable, #gameTable th, #gameTable td {
    border: 1px solid #000;
}
#gameTable tbody, #table tbody {
    counter-reset: sortabletablescope;
}
#gameTable thead tr::before, #table thead tr::before {
    content: '';
    display: table-cell;
}
#gameTable tbody tr::before, #table tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}
#hy {
    object-position: -512px 0px;
    object-fit: none;
    width: 120px;
    height: 16px;
}
#hy_container {
    position: relative;
    float: right;
}
#hy_container .tooltip {
    width: 150px;
    left: 0%;
}
#hy_container:hover .tooltip {
    visibility: visible;
}
#HRtP_image {
    object-position: 0px 0px;
}
#SoEW_image {
    object-position: -50px 0px;
}
#PoDD_image {
    object-position: -100px 0px;
}
#LLS_image {
    object-position: -150px 0px;
}
#MS_image {
    object-position: -200px 0px;
}
#EoSD_image {
    object-position: -250px 0px;
}
#PCB_image {
    object-position: -300px 0px;
}
#IN_image {
    object-position: -350px 0px;
}
#PoFV_image {
    object-position: -400px 0px;
}
#MoF_image {
    object-position: -450px 0px;
}
#SA_image {
    object-position: -500px 0px;
}
#UFO_image {
    object-position: -550px 0px;
}
#GFW_image {
    object-position: -600px 0px;
}
#TD_image {
    object-position: -650px 0px;
}
#DDC_image {
    object-position: -700px 0px;
}
#LoLK_image {
    object-position: -750px 0px;
}
#HSiFS_image {
    object-position: -800px 0px;
}
#WBaWC_image {
    object-position: -850px 0px;
}
#ack {
    font: 11px verdana,sans-serif;
    text-align: right;
    background: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
}
#ack_br, #ack_mobile {
    display: none;
}
#GFWExtra {
     text-align: left;
}
@media only screen and (min-width: 1500px) and (max-width: 1700px) {
    .wrap {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media only screen and (min-width: 1300px) and (max-width: 1500px) {
    #ack_br {
        display: inline;
    }
}
@media only screen and (min-width: 1300px) and (max-width: 1500px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (max-width: 1300px) {
    #ack {
        position: relative;
        margin-bottom: 0px;
        float: left;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1300px) {
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (min-width: 910px) and (max-width: 1100px) {
    h1 {
        margin-bottom: 15px;
        font-size: 44px;
    }
    .wrap {
        margin-left: 8%;
        margin-right: 8%;
    }
    #wrap {
        font-size: 11px;
    }
}
@media only screen and (max-width: 910px) {
    h1 {
        margin-bottom: 15px;
        font-size: 44px;
    }
    .dropdowns {
        width: 100%;
    }
    .nav_left {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 100%;
    }
    .nav_right {
        display: none;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
    #wrap {
        font-size: 11px;
    }
    #ext_mobile {
        display: inline-block;
    }
    #ack {
        display: none;
    }
    #ack_mobile {
        display: block;
    }
}
@media only screen and (max-width: 820px) and ((orientation: portrait) or (orientation: landscape)) {
    h1 {
        margin-top: 10px;
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    input {
        font-size: 11px;
    }
    input[type=text] {
        width: 65px;
        height: 10px;
    }
    tr {
        display: block;
    }
    th {
        display: none;
    }
    td.break {
        float: left;
    }
    .label {
        display: inline;
        font-weight: bold;
    }
    #hy_container {
        float: none;
    }
}
