@font-face {
  font-family: Felipa;
  font-display: swap;
  src: url('../shared/Felipa-Regular.woff2') format('woff2'),
       url('../shared/Felipa-Regular.woff') format('woff');
}
body.webp {
    background: url('scoring.webp') bottom no-repeat fixed;
    background-size: cover;
}
body.no-webp {
    background: url('scoring.jpg') bottom no-repeat fixed;
    background-size: cover;
}
div {
    background-color: #fff;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
input[type=text] {
    width: 95px;
    height: 15px;
}
input[type=number] {
    height: 20px;
}
input[type=button] {
    margin: 5px;
}
table.center {
    margin-top: 15px;
}
#nav {
    margin-bottom: 5px;
}
#notice {
    display: none;
}
#checkboxes, #checkboxes td:not(.noborders) {
    border: 1px solid #000;
}
#checkboxes tbody:after {
    content: '\200C';
    display: block;
    line-height: 1em;
    color: #000;
}
#table {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
#gameTable {
    margin-left: auto;
    margin-right: auto;
}
#table, #table th, #table td {
    border: 1px solid #000;
}
#gameTable, #gameTable th, #gameTable td {
    border: 1px solid #000;
}
#gameTable tbody, #table tbody {
    counter-reset: sortabletablescope;
}
#gameTable thead tr::before, #table thead tr::before {
    content: '';
    display: table-cell;
}
#gameTable tbody tr::before, #table tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}
#hy {
    float: right;
}
#GFWExtra {
     text-align: left;
}
.wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 24%;
    margin-right: 24%;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.8;
    font: 14px verdana,sans-serif;
}
.border {
    display: inline-block;
    border: 1px solid black;
}
.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.wr {
    color: #00e;
}
.cover98 {
    border: 1px solid #000;
}
.noborders {
    border: none;
}
.error {
    color: red;
}
.label {
    display: none;
}
.border p {
    margin: 4px;
}
@media only screen and (min-width:1200px) and (max-width:1600px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (min-width:1100px) and (max-width:1200px) {
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (min-width:910px) and (max-width:1100px) {
    .wrap {
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (max-width:910px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (max-device-width:820px) and (orientation:portrait) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    .label {
        display: inline;
        font-weight: bold;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    input {
        font-size: 11px;
    }
    input[type=text] {
        width: 65px;
        height: 10px;
    }
    tr {
        display: block;
    }
    th {
        display: none;
    }
    td.break {
        float: left;
    }
}
@media only screen and (max-device-width:820px) and (orientation:landscape) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    .label {
        display: inline;
        font-weight: bold;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    input {
        font-size: 11px;
    }
    input[type=text] {
        width: 65px;
        height: 10px;
    }
    tr {
        display: block;
    }
    th {
        display: none;
    }
    td.break {
        float: left;
    }
}
