h1 {
    margin-top: 10px;
}
input {
    font-size: 11px;
}
input[type=text] {
    width: 65px;
    height: 10px;
}
tr {
    display: block;
}
th {
    display: none;
}
td.break {
    float: left;
}
.label {
    display: inline;
    font-weight: bold;
}
#checkboxes tr {
    border-spacing: 10px;
    border-collapse: separate;
}
