body {
	background: url('tiers.png') center no-repeat fixed;
	background-size: cover;
}
h1 {
	font-family: 'Felipa';
	font-size: 48px
}
h2 {
	font-family: 'Felipa';
	font-size: 36px
}
p {
	margin: 10px;
}
img {
	width: 120px;
	height: 120px;
}
hr {
	margin-top: 0px;
	margin-bottom: 0px;
}
.tier_header {
	font-size: 32px;
	width: 120px;
	height: 120px;
	max-width: 120px;
	max-height: 120px;
	border: 1px solid black;
	word-wrap: break-word;
}
.tier_content {
	text-align: left;
}
.list {
	width: 30px;
	height: 30px;
}
.name {
	margin-top: 10px;
}
.colour {
	margin-bottom: 10px;
}
#wrap, #characters1, #characters2 {
	background-color: #888888;
}
#wrap {
	font: 14px verdana, sans-serif;
	border: 1px solid black;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: auto;
}
#notice {
	display: none;
}
#characters_table {
	width: 100%;
}
#characters1, #characters2 {
	border: 1px solid black;
	text-align: center;
	max-height: 600px;
	overflow-y: auto;
	position: fixed;
	width: 275px;
	top: 5px;
}
#characters1 {
	left: 5px;
}
#characters2 {
	right: 5px;
}
#modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#customisation, #settings {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-height: 80%;
	display: none;
	overflow-y: auto;
}

#settings_table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
@media only screen and (min-width: 1645px) and (max-width: 1860px) {
	#wrap {
		margin-left: 17%;
		margin-right: 17%;
	}
}
@media only screen and (min-width: 1400px) and (max-width: 1645px) {
	#wrap {
		margin-left: 20%;
		margin-right: 20%;
	}
}
@media only screen and (min-width: 1220px) and (max-width: 1400px) {
	#wrap {
		margin-left: 23%;
		margin-right: 23%;
	}
}
@media only screen and (min-width: 1125px) and (max-width: 1220px) {
	#wrap {
		margin-left: 25%;
		margin-right: 25%;
	}
}
@media only screen and (min-width: 1010px) and (max-width: 1125px) {
	#wrap {
		margin-left: 28%;
		margin-right: 0%;
	}
}
@media only screen and (min-width: 940px) and (max-width: 1010px) {
	#wrap {
		margin-left: 30%;
		margin-right: 0%;
	}
}
@media only screen and (min-width: 860px) and (max-width: 940px) {
	#wrap {
		margin-left: 33%;
		margin-right: 0%;
	}
}
@media only screen and (max-width: 860px) {
	#wrap {
		margin-left: 35%;
		margin-right: 0%;
	}
}
