body {
	background: url('tiers.jpg') center no-repeat fixed;
	background-size: cover;
}
h1 {
	font-family: 'Felipa';
	font-size: 48px
}
h2 {
	font-family: 'Felipa';
	font-size: 36px
}
p {
	margin: 10px;
}
img {
	width: 120px;
	height: 120px;
}
a:link {
	color: dodgerblue;
}
a:visited {
	color: hotpink;
}
.tier_header {
	font-size: 32px;
	width: 120px;
	height: 120px;
	border: 1px solid #606060;
	word-wrap: break-word;
}
.tier_content {
	text-align: left;
	border-top: 1px solid #606060;
	border-bottom: 1px solid #606060;
}
.list {
	width: 80px;
	height: 80px;
}
.name {
	margin-top: 10px;
}
.colour {
	margin-bottom: 10px;
}
.sep {
	border-top: 1px solid #606060;
}
#notice {
	display: none;
}
#wrap, #characters, #buttons, #show {
	background-color: #1b232e;
	font: 14px verdana, sans-serif;
	border: 1px solid black;
	text-align: center;
	position: fixed;
	color: #a0a0a0;
}
#wrap {
	max-height: 77%;
	overflow-y: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 48%;
	right: 5px;
	top: 5px;
}
#tier_list_table {
	width: 100%;
}
#tier_name {
	width: 120px;
}
#characters {
	overflow-y: auto;
	max-height: 99%;
	min-height: 10%;
	bottom: 5px;
	width: 48%;
	left: 5px;
	top: 5px;
}
#buttons {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	max-height: 25%;
	max-width: 48%;
	bottom: 5px;
	right: 5px;
}
#button_split {
	display: none;
}
#show {
	display: none;
	border: none;
	bottom: 10px;
	right: 5%;
}
#modal {
	font: 14px verdana, sans-serif;
	text-align: center;
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 3%; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	color: black;
}
#confirmation, #text_conversion, #customisation, #settings {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-height: 80%;
	display: none;
	overflow-y: auto;
}
#import {
	width: 80%;
	height: 400px;
}
#settings_table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
