h1 {
    clear: both;
}
h2 {
    clear: both;
}
.list {
    width: 100%;
}
@media only screen and (orientation: portrait) {
    .container {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}
