@font-face {
  font-family: Felipa;
  font-display: swap;
  src: url('../shared/Felipa-Regular.woff2') format('woff2'),
       url('../shared/Felipa-Regular.woff') format('woff');
}
body.webp {
    background: url('history.webp') top no-repeat fixed;
    background-size: cover;
}
body.no-webp {
    background: url('history.jpg') top no-repeat fixed;
    background-size: cover;
}
div:not(.dropdown):not(.dropdown_content) {
    background-color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
}
a:link.dropdown_button {
    color: black;
}
a:visited.dropdown_button {
    color: black;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table, tr, th, td {
    border: 1px solid black;
    text-align: center;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
h3 {
    font-family: 'Felipa';
    font-size: 24px;
}
caption {
    margin-bottom: 10px;
}
.hidden {
    border: none;
    text-align: left;
}
.list {
    width: 250px;
}
.overview {
    width: 80px;
}
.legend {
    margin: 0px;
}
.attempted {
    background-color: orange;
}
.clear {
    background-color: green;
}
.nm {
    background-color: brown;
}
.nb {
    background-color: blue;
}
.nmnb {
    background-color: purple;
}
.attempted_text {
    color: orange;
}
.clear_text {
    color: green;
}
.nm_text {
    color: brown;
}
.nb_text {
    color: blue;
}
.nmnb_text {
    color: purple;
}
.g {
    color: green;
    font-weight: bold;
}
.y {
    background-color: green;
    color: white;
}
.r {
    background-color: red;
}
.v {
    font-weight: bold;
}
.i {
    color: white;
}
.calendar-box {
    display: none;
    background-color: #fff;
    border: 1px solid #444;
    position: absolute;
    width: 300px;
    padding: 0 5px;
}
.calendar-box select.calendar-month {
    width: 90px;
}
.calendar-box select.calendar-year {
    width: 70px;
}
.calendar-box .calendar-cancel {
    width: 100%;
}
.calendar-box table td {
    width: 14%;
}
.calendar-box .calendar-title {
    text-align: center;
}
.calendar-box a {
    text-decoration: none;
}
.calendar-box .today a {
    padding: 0 5px;
    margin-left: -5px;
    background-color: #ffe9c6;
}
.calendar-box .selected a {
    padding: 0 5px;
    margin-left: -5px;
    background-color: #c9ff8b;
}
.dropdowns {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_button {
    text-decoration: none;
    cursor: default;
}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #000;
    min-width: 120px;
    opacity: 1.0;
    z-index: 1;
}
.dropdown_content > p {
    margin: 4px;
}
.dropdown_right {
    right: 0;
}
.dropdown:hover .dropdown_content {
    display: block;
}
.dropdown_content:hover .dropdown_content {
    display: block;
}
.nav_left {
    float: left;
    margin-left: 4px;
}
.nav_right {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
.wrap {
    border: 1px solid black;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font: 14px verdana, sans-serif;
}
#wrap {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    opacity: 0.8;
}
#nav {
    margin-bottom: 5px;
}
#ext_mobile {
    display: none;
}
#contents td, #contents th, #contents tr {
    border: none;
}
#notice {
    display: none;
}
#routes {
    margin-top: 15px;
}
#hy {
    float: right;
}
#ack {
    font: 11px verdana,sans-serif;
    text-align: right;
    background: none;
    position: fixed;
    color: white;
    bottom: 5px;
    right: 5px;
}
#ack_br, #ack_mobile {
    display: none;
}
#ack > a:link {
    color: #1e90ff;
}
#ack > a:active {
    color: red;
}
#ack > a:visited {
    color: #ff69b4;
}
#ack_container > p {
    margin: 4px;
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
    #ack_br {
        display: inline;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1 {
        font-size: 44px;
        clear: both;
    }
    h2 {
        font-size: 32px;
        clear: both;
    }
    .wrap {
        margin-left: 13%;
        margin-right: 13%;
    }
    #wrap {
        font-size: 11px;
    }
    #ack {
        position: relative;
        color: black;
        float: left;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 44px;
        clear: both;
    }
    h2 {
        font-size: 32px;
        clear: both;
    }
    .dropdowns {
        width: 100%;
    }
    .nav_left {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 100%;
    }
    .nav_right {
        display: none;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
    #wrap {
        font-size: 11px;
    }
    #ext_mobile {
        display: inline-block;
    }
    #ack {
        display: none;
    }
    #ack_mobile {
        display: block;
    }
}
@media only screen and (min-width: 320px) and (max-width: 800px) and (orientation: portrait) {
    .container {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}
@media only screen and (((min-width: 320px) and (max-width: 800px) and (orientation: portrait)) or ((min-width: 480px) and (max-width: 640px) and (orientation: landscape))) {
    h1 {
        font-size: 36px;
        clear: both;
    }
    h2 {
        font-size: 24px;
        clear: both;
    }
    .list {
        width: 100%;
    }
    #hy {
        float: none;
    }
}
