div > div > p {
    margin: 4px;
}
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 1px solid black;
}
.fangame {
    background: url('../shared/spritesheets/fangame_sheet.png');
    display: inline-block;
    width: 50px;
    height: 50px;
}
.sg {
    background-position: 0px 0px;
}
.kg {
    background-position: -50px 0px;
}
.bsr {
    background-position: -100px 0px;
}
.smd {
    background-position: -150px 0px;
}
.mrs {
    background-position: -200px 0px;
}
.sss {
    background-position: -250px 0px;
}
.mb {
    background-position: -300px 0px;
}
.wnsp {
    background-position: -350px 0px;
}
.fos {
    background-position: -400px 0px;
}
.fdf {
    background-position: -450px 0px;
}
.fdf2 {
    background-position: -500px 0px;
}
.tfs {
    background-position: -550px 0px;
}
.hsob {
    background-position: -600px 0px;
}
.mpp {
    background-position: -650px 0px;
}
.bosm {
    background-position: -700px 0px;
}
.gods {
    background-position: -750px 0px;
}
.rss {
    background-position: -800px 0px;
}
.ibp {
    background-position: -850px 0px;
}
.pt {
    background-position: -900px 0px;
}
.eios {
    background-position: -950px 0px;
}
.sohw {
    background-position: -1000px 0px;
}
.bm {
    background-position: -1050px 0px;
}
.msd {
    background-position: -1100px 0px;
}
.border {
    border: 1px solid black;
    margin-bottom: 15px;
}
.dead {
    text-decoration: line-through;
}
.sortable {
    margin-top: 25px;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.dropdown_content:hover .dropdown_content {
    display: block;
}
#wrap > div:not(#topbar):not(.overflow) {
    display: inline-block;
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .ack_br {
        display: inline;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    h1 {
        margin-bottom: 15px;
        clear: both;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        margin-bottom: 15px;
        margin-top: 15px;
    }
}
