@font-face {
  font-family: Felipa;
  font-display: swap;
  src: url('../shared/Felipa-Regular.woff2') format('woff2'),
      url('../shared/Felipa-Regular.woff') format('woff');
}
body.webp {
    background: url('slots.webp') top no-repeat fixed;
    background-size: cover;
}
body.no-webp {
    background: url('slots.jpg') top no-repeat fixed;
    background-size: cover;
}
div {
	background-color: #fff;
}
h1 {
	font-family: 'Felipa';
	font-size: 48px;
}
h2 {
	font-family: 'Felipa';
	font-size: 36px;
}
p {
    margin: 10px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 1px solid #000;
}
.wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 24%;
    margin-right: 24%;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.8;
    font: 14px verdana,sans-serif;
}
.slot {
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
.charslot {
    background-image: url('../shared/spritesheet.png');
    background-position: -18480px 0;
    vertical-align: bottom;
}
.locslot {
    background-image: url('locations.png');
    background-position: -3960px 0;
    vertical-align: bottom;
}
.name {
    font-size: 9px;
}
.title {
    cursor: pointer;
    width: 100px;
}
#modal {
    font: 14px verdana, sans-serif;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 3%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,.4);
    color: #000;
}
#modal_inner {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    display: none;
    overflow-y: auto;
}
#slots, #slots tr, #slots td {
    border: 1px solid black;
}
#nav {
    margin-bottom: 5px;
}
#wrap {
    padding-bottom: 15px;
}
#hy {
    float: right;
}
#save_link {
    text-decoration: none;
}
#slot0 {
    font-size: 16px;
}
#slot7 {
    font-size: 42px;
}
#message {
    color: orangered;
    font-weight: bold;
}
@media only screen and (min-width: 800px) and (max-width: 1400px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (max-width: 800px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (min-width: 320px) and (max-width: 800px) and (orientation: portrait) {
	.wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    #modal {
        padding-top: 10%;
    }
    #modal_inner {
        max-height: 75%;
    }
}
@media only screen and (min-width: 480px) and (max-width: 640px) and (orientation: landscape) {
	.wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    #modal {
        padding-top: 10%;
    }
}
