h1 {
    clear: both;
}
input[type=text] {
    width: 95px;
    height: 15px;
}
input[type=number] {
    height: 20px;
}
input[type=button] {
    margin: 5px;
}
table.center {
    margin-top: 15px;
}
.border {
    display: inline-block;
    border: 1px solid black;
}
.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.wr {
    color: #00e;
}
.cover {
    background-image: url('../shared/spritesheets/game_sheet50x50.png');
    display: inline-block;
    height: 50px;
    width: 50px;
}
.cover98 {
    border: 1px solid #000;
}
.noborders {
    border: none;
}
.label {
    display: none;
}
.result_table {
    display: none;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.result_table, .result_table th, .result_table td {
    border: 1px solid #000;
}
.result_table tbody {
    counter-reset: sortabletablescope;
}
.result_table thead tr::before {
    content: '';
    display: table-cell;
}
.result_table tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}
.border p {
    margin: 4px;
}
.wide {
    padding: 5px;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.dropdown_content > p {
    margin: 4px;
}
.dropdown_content:hover .dropdown_content {
    display: block;
}
#nav {
    margin-bottom: 5px;
}
#notice {
    display: none;
}
#message {
    font-weight: bold;
    color: green;
}
#error {
    font-weight: bold;
    color: red;
}
#checkboxes, #checkboxes td:not(.noborders) {
    border: 1px solid #000;
}
#checkboxes tbody:after {
    content: '\200C';
    display: block;
    line-height: 1em;
    color: #000;
}
#HRtP_image {
    background-position: 0px 0px;
}
#SoEW_image {
    background-position: -50px 0px;
}
#PoDD_image {
    background-position: -100px 0px;
}
#LLS_image {
    background-position: -150px 0px;
}
#MS_image {
    background-position: -200px 0px;
}
#EoSD_image {
    background-position: -250px 0px;
}
#PCB_image {
    background-position: -300px 0px;
}
#IN_image {
    background-position: -350px 0px;
}
#PoFV_image {
    background-position: -400px 0px;
}
#MoF_image {
    background-position: -450px 0px;
}
#SA_image {
    background-position: -500px 0px;
}
#UFO_image {
    background-position: -550px 0px;
}
#GFW_image {
    background-position: -600px 0px;
}
#TD_image {
    background-position: -650px 0px;
}
#DDC_image {
    background-position: -700px 0px;
}
#LoLK_image {
    background-position: -750px 0px;
}
#HSiFS_image {
    background-position: -800px 0px;
}
#WBaWC_image {
    background-position: -850px 0px;
}
#UM_image {
    background-position: -900px 0px;
}
#GFWExtra {
     text-align: left;
}
@media only screen and (min-width: 1500px) and (max-width: 1700px) {
    .wrap {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media only screen and (min-width: 1300px) and (max-width: 1500px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1300px) {
    .wrap {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (min-width: 910px) and (max-width: 1100px) {
    h1 {
        margin-bottom: 15px;
    }
    .wrap {
        margin-left: 8%;
        margin-right: 8%;
    }
}
@media only screen and (max-width: 910px) {
    h1 {
        margin-bottom: 15px;
    }
}
