.webp body {
    background: url('thvote.webp') center no-repeat fixed;
    background-size: cover;
}
.no-js body, .no-webp body {
    background: url('thvote.jpg') center no-repeat fixed;
    background-size: cover;
}
div {
    background-color: #fff;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
h3 {
    font-family: 'Felipa';
    font-size: 24px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
.left {
    text-align: left;
}
.wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.8;
    font: 14px verdana,sans-serif;
}
.dummy_sub {
    width: 1000px;
    height: 20px;
}
.percentage {
    text-align: center;
}
.col1 {
    width: 3em;
}
.col2 {
    background: #fee;
}
.col2game {
    width: 2.8em;
    background: #fee;
}
.col2q {
    width: 20em;
    background: #fee;
}
.col2qs {
    width: 5em;
    background: #fee;
}
.w36 {
    width: 36em;
}
.w4 {
    width: 4em;
}
.w42 {
    width: 4.2em;
}
.w6 {
    width: 6em;
}
.w7 {
    width: 7em;
}
.w8 {
    width: 8em;
}
.col3 {
    background: #ffe;
}
.col3game {
    width: 2.8em;
    background: #ffe;
}
.col3q {
    width: 5em;
    background: #ffe;
}
.w10 {
    width: 10em;
}
.col4 {
    background: #fec;
}
.col4game {
    width: 2.8em;
    background: #fec;
}
.col4q {
    width: 5em;
    background: #fec;
}
.col5 {
    background: #eef;
}
.col5per {
    width: 4.9em;
    background: #eef;
}
.col5q {
    width: 5em;
    background: #eef;
}
.w55 {
    width: 5.5em;
}
.col6per {
    width: 4.9em;
    background: #fee;
}
.col7per {
    width: 4.9em;
    background: #ffe;
}
.col8per {
    width: 4.9em;
    background: #fec;
}
.col9per {
    width: 4.9em;
    background: #eef;
}
#age_detail, .hidden, .dummy {
    display: none;
}
#nav {
    margin-bottom: 5px;
}
#wrap {
    padding-bottom: 15px;
}
#hy {
    float: right;
}
#contents, #responses {
    border: 1px solid #000;
}
#chars_table, #music_table, #chars_table, #clear_table, #corr_table, #maingame_highlow, #eosd_table, #pcb_table,
#in_table, #mof_table, #sa_table, #ufo_table, #td_table, #ddc_table, #lolk_table, #hsifs_table {
    overflow: auto;
}
#chars_table.sortable tbody, #ddc_table.sortable tbody, #eosd_table.sortable tbody, #hsifs_table.sortable tbody,
#in_table.sortable tbody, #lolk_table.sortable tbody, #mof_table.sortable tbody, #music_table.sortable tbody,
#pcb_table.sortable tbody, #sa_table.sortable tbody, #td_table.sortable tbody, #ufo_table.sortable tbody,
#works_table.sortable tbody {
    counter-reset: sortabletablescope;
}
#chars_head, #ddc_head, #eosd_head, #hsifs_head, #in_head, #lolk_head, #mof_head,
#music_head, #pcb_head, #sa_head, #td_head, #ufo_head, #works_head {
    content: '';
    display: table-cell;
}
#chars_table.sortable tbody tr:before, #ddc_table.sortable tbody tr:before, #eosd_table.sortable tbody tr:before,
#hsifs_table.sortable tbody tr:before, #in_table.sortable tbody tr:before, #lolk_table.sortable tbody tr:before,
#mof_table.sortable tbody tr:before, #music_table.sortable tbody tr:before, #pcb_table.sortable tbody tr:before,
#sa_table.sortable tbody tr:before, #td_table.sortable tbody tr:before, #ufo_table.sortable tbody tr:before,
#works_table.sortable tbody tr:before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
    vertical-align: middle;
}
#age_summary {
    display: block;
}
@media only screen and (min-width:1500px) and (max-width:1850px) {
    .wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1500px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 1000px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) and (orientation: portrait) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    #chars_dummy, #music_dummy, #chars_dummy, #clear_dummy, #corr_dummy, #highlow_dummy, #eosd_dummy, #pcb_dummy,
    #in_dummy, #mof_dummy, #sa_dummy, #ufo_dummy, #td_dummy, #ddc_dummy, #lolk_dummy, #hsifs_dummy {
        display: block;
    }
    #chars_dummy, #chars_container, #music_dummy, #music_container, #works_dummy, #works_container,
    #clear_dummy, #clear_container, #corr_dummy, #corr_container, #highlow_dummy, #highlow_container,
    #eosd_dummy, #eosd_container, #pcb_dummy, #pcb_container, #in_dummy, #in_container,
    #mof_dummy, #mof_container, #sa_dummy, #sa_container, #ufo_dummy, #ufo_container,
    #td_dummy, #td_container, #ddc_dummy, #ddc_container, #lolk_dummy, #lolk_container,
    #hsifs_dummy, #hsifs_container {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    #corr_dummy, #corr_container {
        overflow-x: scroll;
        overflow-y: hidden;
        display: block;
    }
}
