@media only screen and (orientation: portrait) {
    .dummy {
        display: block;
    }
    .dummy, .container {
        overflow-x: scroll;
        overflow-y: hidden;
    }
    #hy_container {
        float: none;
    }
}
@media only screen and (orientation: landscape) {
    #hy {
        float: none;
    }
    #corr_dummy, #corr_container {
        overflow-x: scroll;
        overflow-y: hidden;
        display: block;
    }
}
