@font-face {
  font-family: Felipa;
  src: url('../shared/Felipa-Regular.ttf');
}
body.webp {
    background: url('trs.webp') center no-repeat fixed;
    background-size: cover;
}
body.no-webp {
    background: url('trs.jpg') center no-repeat fixed;
    background-size: cover;
}
div {
    background-color: #fff;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
p {
    margin: 10px;
}
input {
    margin-left: auto;
    margin-right: auto;
}
textarea {
    width: 50%;
    height: 100px;
    resize: none;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}
#nav {
    margin-bottom: 5px;
}
#wrap {
    padding-bottom: 15px;
}
#hy {
    float: right;
}
#twitch-embed {
    display: none;
}
#game_other_p, #video {
    display: none;
}
/* begin sheet stuff */
#wrap_full {
    border: 1px solid #000;
    text-align: center;
    list-style-position: inside;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    opacity: 0.8;
    font: 14px verdana,sans-serif;
}
#sheet {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
#sheet th {
    border: 1px solid black;
}
#sheet td {
    border: 1px solid black;
}
#sheet .EoSD {
    background-color: #990000;
}
#sheet .PCB {
    background-color: #ff8ed2;
}
#sheet .IN {
    background-color: #333399;
}
#sheet .PoFV {
    background-color: #ff9900;
}
#sheet .MoF {
    background-color: #96b300;
}
#sheet .SA {
    background-color: #591400;
}
#sheet .UFO {
    background-color: #4169e1;
}
#sheet .GFW {
    background-color: #00c8c8;
}
#sheet .TD {
    background-color: #4a808c;
}
#sheet .DDC {
    background-color: #aa7777;
}
#sheet .LoLK {
    background-color: #6a47be;
}
#sheet .HSiFS {
    background-color: #176e0e;
}
#sheet .WBaWC {
    background-color: #190e0e;
}
/* end sheet stuff */
.wrap {
    border: 1px solid #000;
    text-align: center;
    list-style-position: inside;
    margin-left: 23%;
    margin-right: 23%;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.8;
    font: 14px verdana,sans-serif;
}
.section {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.input {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}
.error {
    font-weight: bold;
    color: red;
}
.required {
    color: red;
}
@media only screen and (min-width:1225px) and (max-width:1650px) {
    .wrap {
        margin-left: 12%;
        margin-right: 12%;
    }
}
@media only screen and (min-width:1000px) and (max-width:1225px) {
    .wrap {
        margin-left: 6%;
        margin-right: 6%;
    }
}
@media only screen and (max-width:1000px) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (min-device-width:320px) and (max-device-width:800px) and (orientation:portrait) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
}
@media only screen and (min-device-width:480px) and (max-device-width:640px) and (orientation:landscape) {
    .wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
}
