@media only screen and (orientation: portrait) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
    #wrap {
        font-size: 11px;
    }
}
@media only screen and (orientation: landscape) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    .wrap {
        margin-left: 0;
        margin-right: 0;
    }
    #wrap {
        font-size: 11px;
    }
}
