#ReimuHakurei.list_characters1, #ReimuHakurei.tiered_characters1 {
    background-position: -60px 0;
}
#Elis.list_characters1, #Elis.tiered_characters1 {
    background-position: -120px 0;
}
#Kikuri.list_characters1, #Kikuri.tiered_characters1 {
    background-position: -180px 0;
}
#Konngara.list_characters1, #Konngara.tiered_characters1 {
    background-position: -240px 0;
}
#Mima.list_characters1, #Mima.tiered_characters1 {
    background-position: -300px 0;
}
#ReimuPC-98.list_characters1, #ReimuPC-98.tiered_characters1 {
    background-position: -360px 0;
}
#Sariel.list_characters1, #Sariel.tiered_characters1 {
    background-position: -420px 0;
}
#SinGyokuF.list_characters1, #SinGyokuF.tiered_characters1 {
    background-position: -480px 0;
}
#SinGyokuM.list_characters1, #SinGyokuM.tiered_characters1 {
    background-position: -540px 0;
}
#YuugenMagan.list_characters1, #YuugenMagan.tiered_characters1 {
    background-position: -600px 0;
}
#EvilEyeSigma.list_characters1, #EvilEyeSigma.tiered_characters1 {
    background-position: -660px 0;
}
#Genjii.list_characters1, #Genjii.tiered_characters1 {
    background-position: -720px 0;
}
#MarisaPC-98.list_characters1, #MarisaPC-98.tiered_characters1 {
    background-position: -780px 0;
}
#Meira.list_characters1, #Meira.tiered_characters1 {
    background-position: -840px 0;
}
#Rika.list_characters1, #Rika.tiered_characters1 {
    background-position: -900px 0;
}
#ChiyuriKitashirakawa.list_characters1, #ChiyuriKitashirakawa.tiered_characters1 {
    background-position: -960px 0;
}
#Ellen.list_characters1, #Ellen.tiered_characters1 {
    background-position: -1020px 0;
}
#KanaAnaberal.list_characters1, #KanaAnaberal.tiered_characters1 {
    background-position: -1080px 0;
}
#Kotohime.list_characters1, #Kotohime.tiered_characters1 {
    background-position: -1140px 0;
}
#Mimi-chan.list_characters1, #Mimi-chan.tiered_characters1 {
    background-position: -1200px 0;
}
#RikakoAsakura.list_characters1, #RikakoAsakura.tiered_characters1 {
    background-position: -1260px 0;
}
#Ruukoto.list_characters1, #Ruukoto.tiered_characters1 {
    background-position: -1320px 0;
}
#YumemiOkazaki.list_characters1, #YumemiOkazaki.tiered_characters1 {
    background-position: -1380px 0;
}
#Elly.list_characters1, #Elly.tiered_characters1 {
    background-position: -1440px 0;
}
#Gengetsu.list_characters1, #Gengetsu.tiered_characters1 {
    background-position: -1500px 0;
}
#Kurumi.list_characters1, #Kurumi.tiered_characters1 {
    background-position: -1560px 0;
}
#Mugetsu.list_characters1, #Mugetsu.tiered_characters1 {
    background-position: -1620px 0;
}
#Orange.list_characters1, #Orange.tiered_characters1 {
    background-position: -1680px 0;
}
#YuukaPC-98.list_characters1, #YuukaPC-98.tiered_characters1 {
    background-position: -1740px 0;
}
#AlicePC-98.list_characters1, #AlicePC-98.tiered_characters1 {
    background-position: -1800px 0;
}
#Luize.list_characters1, #Luize.tiered_characters1 {
    background-position: -1860px 0;
}
#MaiPC-98.list_characters1, #MaiPC-98.tiered_characters1 {
    background-position: -1920px 0;
}
#Sara.list_characters1, #Sara.tiered_characters1 {
    background-position: -1980px 0;
}
#Shinki.list_characters1, #Shinki.tiered_characters1 {
    background-position: -2040px 0;
}
#Yuki.list_characters1, #Yuki.tiered_characters1 {
    background-position: -2100px 0;
}
#Yumeko.list_characters1, #Yumeko.tiered_characters1 {
    background-position: -2160px 0;
}
#Cirno.list_characters1, #Cirno.tiered_characters1 {
    background-position: -2220px 0;
}
#Daiyousei.list_characters1, #Daiyousei.tiered_characters1 {
    background-position: -2280px 0;
}
#FlandreScarlet.list_characters1, #FlandreScarlet.tiered_characters1 {
    background-position: -2340px 0;
}
#HongMeiling.list_characters1, #HongMeiling.tiered_characters1 {
    background-position: -2400px 0;
}
#Koakuma.list_characters1, #Koakuma.tiered_characters1 {
    background-position: -2460px 0;
}
#PatchouliKnowledge.list_characters1, #PatchouliKnowledge.tiered_characters1 {
    background-position: -2520px 0;
}
#RemiliaScarlet.list_characters1, #RemiliaScarlet.tiered_characters1 {
    background-position: -2580px 0;
}
#Rumia.list_characters1, #Rumia.tiered_characters1 {
    background-position: -2640px 0;
}
#SakuyaIzayoi.list_characters1, #SakuyaIzayoi.tiered_characters1 {
    background-position: -2700px 0;
}
#AliceMargatroid.list_characters1, #AliceMargatroid.tiered_characters1 {
    background-position: -2760px 0;
}
#Chen.list_characters1, #Chen.tiered_characters1 {
    background-position: -2820px 0;
}
#LettyWhiterock.list_characters1, #LettyWhiterock.tiered_characters1 {
    background-position: -2880px 0;
}
#LilyWhite.list_characters1, #LilyWhite.tiered_characters1 {
    background-position: -2940px 0;
}
#LunasaPrismriver.list_characters1, #LunasaPrismriver.tiered_characters1 {
    background-position: -3000px 0;
}
#LyricaPrismriver.list_characters1, #LyricaPrismriver.tiered_characters1 {
    background-position: -3060px 0;
}
#MerlinPrismriver.list_characters1, #MerlinPrismriver.tiered_characters1 {
    background-position: -3120px 0;
}
#RanYakumo.list_characters1, #RanYakumo.tiered_characters1 {
    background-position: -3180px 0;
}
#YoumuKonpaku.list_characters1, #YoumuKonpaku.tiered_characters1 {
    background-position: -3240px 0;
}
#YuyukoSaigyouji.list_characters2, #YuyukoSaigyouji.tiered_characters2 {
    background-position: -60px 0;
}
#SuikaIbuki.list_characters2, #SuikaIbuki.tiered_characters2 {
    background-position: -120px 0;
}
#EirinYagokoro.list_characters2, #EirinYagokoro.tiered_characters2 {
    background-position: -180px 0;
}
#FujiwaranoMokou.list_characters2, #FujiwaranoMokou.tiered_characters2 {
    background-position: -240px 0;
}
#KaguyaHouraisan.list_characters2, #KaguyaHouraisan.tiered_characters2 {
    background-position: -300px 0;
}
#KeineKamishirasawa.list_characters2, #KeineKamishirasawa.tiered_characters2 {
    background-position: -360px 0;
}
#MystiaLorelei.list_characters2, #MystiaLorelei.tiered_characters2 {
    background-position: -420px 0;
}
#ReisenUdongeinInaba.list_characters2, #ReisenUdongeinInaba.tiered_characters2 {
    background-position: -480px 0;
}
#TewiInaba.list_characters2, #TewiInaba.tiered_characters2 {
    background-position: -540px 0;
}
#WriggleNightbug.list_characters2, #WriggleNightbug.tiered_characters2 {
    background-position: -600px 0;
}
#AyaShameimaru.list_characters2, #AyaShameimaru.tiered_characters2 {
    background-position: -660px 0;
}
#EikiShikiYamaxanadu.list_characters2, #EikiShikiYamaxanadu.tiered_characters2 {
    background-position: -720px 0;
}
#KomachiOnozuka.list_characters2, #KomachiOnozuka.tiered_characters2 {
    background-position: -780px 0;
}
#MedicineMelancholy.list_characters2, #MedicineMelancholy.tiered_characters2 {
    background-position: -840px 0;
}
#YuukaKazami.list_characters2, #YuukaKazami.tiered_characters2 {
    background-position: -900px 0;
}
#HinaKagiyama.list_characters2, #HinaKagiyama.tiered_characters2 {
    background-position: -960px 0;
}
#KanakoYasaka.list_characters2, #KanakoYasaka.tiered_characters2 {
    background-position: -1020px 0;
}
#MinorikoAki.list_characters2, #MinorikoAki.tiered_characters2 {
    background-position: -1080px 0;
}
#MomijiInubashiri.list_characters2, #MomijiInubashiri.tiered_characters2 {
    background-position: -1140px 0;
}
#NitoriKawashiro.list_characters2, #NitoriKawashiro.tiered_characters2 {
    background-position: -1200px 0;
}
#SanaeKochiya.list_characters2, #SanaeKochiya.tiered_characters2 {
    background-position: -1260px 0;
}
#ShizuhaAki.list_characters2, #ShizuhaAki.tiered_characters2 {
    background-position: -1320px 0;
}
#SuwakoMoriya.list_characters2, #SuwakoMoriya.tiered_characters2 {
    background-position: -1380px 0;
}
#IkuNagae.list_characters2, #IkuNagae.tiered_characters2 {
    background-position: -1440px 0;
}
#TenshiHinanawi.list_characters2, #TenshiHinanawi.tiered_characters2 {
    background-position: -1500px 0;
}
#Kisume.list_characters2, #Kisume.tiered_characters2 {
    background-position: -1560px 0;
}
#KoishiKomeiji.list_characters2, #KoishiKomeiji.tiered_characters2 {
    background-position: -1620px 0;
}
#ParseeMizuhashi.list_characters2, #ParseeMizuhashi.tiered_characters2 {
    background-position: -1680px 0;
}
#RinKaenbyou.list_characters2, #RinKaenbyou.tiered_characters2 {
    background-position: -1740px 0;
}
#SatoriKomeiji.list_characters2, #SatoriKomeiji.tiered_characters2 {
    background-position: -1800px 0;
}
#UtsuhoReiuji.list_characters2, #UtsuhoReiuji.tiered_characters2 {
    background-position: -1860px 0;
}
#YamameKurodani.list_characters2, #YamameKurodani.tiered_characters2 {
    background-position: -1920px 0;
}
#YuugiHoshiguma.list_characters2, #YuugiHoshiguma.tiered_characters2 {
    background-position: -1980px 0;
}
#ByakurenHijiri.list_characters2, #ByakurenHijiri.tiered_characters2 {
    background-position: -2040px 0;
}
#IchirinKumoi.list_characters2, #IchirinKumoi.tiered_characters2 {
    background-position: -2100px 0;
}
#KogasaTatara.list_characters2, #KogasaTatara.tiered_characters2 {
    background-position: -2160px 0;
}
#MinamitsuMurasa.list_characters2, #MinamitsuMurasa.tiered_characters2 {
    background-position: -2220px 0;
}
#Nazrin.list_characters2, #Nazrin.tiered_characters2 {
    background-position: -2280px 0;
}
#NueHoujuu.list_characters2, #NueHoujuu.tiered_characters2 {
    background-position: -2340px 0;
}
#ShouToramaru.list_characters2, #ShouToramaru.tiered_characters2 {
    background-position: -2400px 0;
}
#Unzan.list_characters2, #Unzan.tiered_characters2 {
    background-position: -2460px 0;
}
#Hisoutensoku.list_characters2, #Hisoutensoku.tiered_characters2 {
    background-position: -2520px 0;
}
#HatateHimekaidou.list_characters2, #HatateHimekaidou.tiered_characters2 {
    background-position: -2580px 0;
}
#LunaChild.list_characters2, #LunaChild.tiered_characters2 {
    background-position: -2640px 0;
}
#StarSapphire.list_characters2, #StarSapphire.tiered_characters2 {
    background-position: -2700px 0;
}
#SunnyMilk.list_characters2, #SunnyMilk.tiered_characters2 {
    background-position: -2760px 0;
}
#KyoukoKasodani.list_characters2, #KyoukoKasodani.tiered_characters2 {
    background-position: -2820px 0;
}
#MamizouFutatsuiwa.list_characters2, #MamizouFutatsuiwa.tiered_characters2 {
    background-position: -2880px 0;
}
#MononobenoFuto.list_characters2, #MononobenoFuto.tiered_characters2 {
    background-position: -2940px 0;
}
#SeigaKaku.list_characters2, #SeigaKaku.tiered_characters2 {
    background-position: -3000px 0;
}
#SoganoTojiko.list_characters2, #SoganoTojiko.tiered_characters2 {
    background-position: -3060px 0;
}
#ToyosatomiminoMiko.list_characters2, #ToyosatomiminoMiko.tiered_characters2 {
    background-position: -3120px 0;
}
#YoshikaMiyako.list_characters2, #YoshikaMiyako.tiered_characters2 {
    background-position: -3180px 0;
}
#HatanoKokoro.list_characters2, #HatanoKokoro.tiered_characters2 {
    background-position: -3240px 0;
}
#DoremySweet.list_characters3, #DoremySweet.tiered_characters3 {
    background-position: -60px 0;
}
#HecatiaLapislazuli.list_characters3, #HecatiaLapislazuli.tiered_characters3 {
    background-position: -120px 0;
}
#Junko.list_characters3, #Junko.tiered_characters3 {
    background-position: -180px 0;
}
#Ringo.list_characters3, #Ringo.tiered_characters3 {
    background-position: -240px 0;
}
#SagumeKishin.list_characters3, #SagumeKishin.tiered_characters3 {
    background-position: -300px 0;
}
#Seiran.list_characters3, #Seiran.tiered_characters3 {
    background-position: -360px 0;
}
#BenbenTsukumo.list_characters3, #BenbenTsukumo.tiered_characters3 {
    background-position: -420px 0;
}
#KagerouImaizumi.list_characters3, #KagerouImaizumi.tiered_characters3 {
    background-position: -480px 0;
}
#RaikoHorikawa.list_characters3, #RaikoHorikawa.tiered_characters3 {
    background-position: -540px 0;
}
#SeijaKijin.list_characters3, #SeijaKijin.tiered_characters3 {
    background-position: -600px 0;
}
#Sekibanki.list_characters3, #Sekibanki.tiered_characters3 {
    background-position: -660px 0;
}
#ShinmyoumaruSukuna.list_characters3, #ShinmyoumaruSukuna.tiered_characters3 {
    background-position: -720px 0;
}
#Wakasagihime.list_characters3, #Wakasagihime.tiered_characters3 {
    background-position: -780px 0;
}
#YatsuhashiTsukumo.list_characters3, #YatsuhashiTsukumo.tiered_characters3 {
    background-position: -840px 0;
}
#SumirekoUsami.list_characters3, #SumirekoUsami.tiered_characters3 {
    background-position: -900px 0;
}
#JoonYorigami.list_characters3, #JoonYorigami.tiered_characters3 {
    background-position: -960px 0;
}
#ShionYorigami.list_characters3, #ShionYorigami.tiered_characters3 {
    background-position: -1020px 0;
}
#AunnKomano.list_characters3, #AunnKomano.tiered_characters3 {
    background-position: -1080px 0;
}
#EternityLarva.list_characters3, #EternityLarva.tiered_characters3 {
    background-position: -1140px 0;
}
#MaiTeireida.list_characters3, #MaiTeireida.tiered_characters3 {
    background-position: -1200px 0;
}
#NarumiYatadera.list_characters3, #NarumiYatadera.tiered_characters3 {
    background-position: -1260px 0;
}
#NemunoSakata.list_characters3, #NemunoSakata.tiered_characters3 {
    background-position: -1320px 0;
}
#OkinaMatara.list_characters3, #OkinaMatara.tiered_characters3 {
    background-position: -1380px 0;
}
#SatonoNishida.list_characters3, #SatonoNishida.tiered_characters3 {
    background-position: -1440px 0;
}
#EikaEbisu.list_characters3, #EikaEbisu.tiered_characters3 {
    background-position: -1500px 0;
}
#KeikiHaniyasushin.list_characters3, #KeikiHaniyasushin.tiered_characters3 {
    background-position: -1560px 0;
}
#KutakaNiwatari.list_characters3, #KutakaNiwatari.tiered_characters3 {
    background-position: -1620px 0;
}
#MayumiJoutouguu.list_characters3, #MayumiJoutouguu.tiered_characters3 {
    background-position: -1680px 0;
}
#SakiKurokoma.list_characters3, #SakiKurokoma.tiered_characters3 {
    background-position: -1740px 0;
}
#UrumiUshizaki.list_characters3, #UrumiUshizaki.tiered_characters3 {
    background-position: -1800px 0;
}
#YachieKicchou.list_characters3, #YachieKicchou.tiered_characters3 {
    background-position: -1860px 0;
}
#FortuneTeller.list_characters3, #FortuneTeller.tiered_characters3 {
    background-position: -1920px 0;
}
#HiedanoAkyuu.list_characters3, #HiedanoAkyuu.tiered_characters3 {
    background-position: -1980px 0;
}
#KasenIbaraki.list_characters3, #KasenIbaraki.tiered_characters3 {
    background-position: -2040px 0;
}
#KosuzuMotoori.list_characters3, #KosuzuMotoori.tiered_characters3 {
    background-position: -2100px 0;
}
#ReisenII.list_characters3, #ReisenII.tiered_characters3 {
    background-position: -2160px 0;
}
#RinnosukeMorichika.list_characters3, #RinnosukeMorichika.tiered_characters3 {
    background-position: -2220px 0;
}
#Tokiko.list_characters3, #Tokiko.tiered_characters3 {
    background-position: -2280px 0;
}
#WatatsukinoToyohime.list_characters3, #WatatsukinoToyohime.tiered_characters3 {
    background-position: -2340px 0;
}
#WatatsukinoYorihime.list_characters3, #WatatsukinoYorihime.tiered_characters3 {
    background-position: -2400px 0;
}
#MaribelHearn.list_characters3, #MaribelHearn.tiered_characters3 {
    background-position: -2460px 0;
}
#RenkoUsami.list_characters3, #RenkoUsami.tiered_characters3 {
    background-position: -2520px 0;
}
#MiyoiOkunoda.list_characters3, #MiyoiOkunoda.tiered_characters3 {
    background-position: -2580px 0;
}
#MikeGoutokuji.list_characters3, #MikeGoutokuji.tiered_characters3 {
    background-position: -2640px 0;
}
#TakaneYamashiro.list_characters3, #TakaneYamashiro.tiered_characters3 {
    background-position: -2700px 0;
}
#SannyoKomakusa.list_characters3, #SannyoKomakusa.tiered_characters3 {
    background-position: -2760px 0;
}
#MisumaruTamatsukuri.list_characters3, #MisumaruTamatsukuri.tiered_characters3 {
    background-position: -2820px 0;
}
#TsukasaKudamaki.list_characters3, #TsukasaKudamaki.tiered_characters3 {
    background-position: -2880px 0;
}
#MegumuIizunamaru.list_characters3, #MegumuIizunamaru.tiered_characters3 {
    background-position: -2940px 0;
}
#ChimataTenkyuu.list_characters3, #ChimataTenkyuu.tiered_characters3 {
    background-position: -3000px 0;
}
#MomoyoHimemushi.list_characters3, #MomoyoHimemushi.tiered_characters3 {
    background-position: -3060px 0;
}
#YuumaToutetsu.list_characters3, #YuumaToutetsu.tiered_characters3 {
    background-position: -3120px 0;
}
#FiveMagicStones.list_characters3, #FiveMagicStones.tiered_characters3 {
    background-position: -3180px 0;
}
#MarisaPC-98LLS.list_characters3, #MarisaPC-98LLS.tiered_characters3 {
    background-position: -3240px 0;
}
#YuukaPC-98Stage5.list_characters3, #YuukaPC-98Stage5.tiered_characters3 {
    background-position: -3300px 0;
}
#YukiandMai.list_characters3, #YukiandMai.tiered_characters3 {
    background-position: -3360px 0;
}
#AlicePC-98Extra.list_characters3, #AlicePC-98Extra.tiered_characters3 {
    background-position: -3420px 0;
}
#YuyukoSaigyoujiResurrectionButterfly.list_characters3, #YuyukoSaigyoujiResurrectionButterfly.tiered_characters3 {
    background-position: -3480px 0;
}
#KaguyaHouraisanLastSpells.list_characters3, #KaguyaHouraisanLastSpells.tiered_characters3 {
    background-position: -3540px 0;
}
#YuyukoSaigyoujiTD.list_characters3, #YuyukoSaigyoujiTD.tiered_characters3 {
    background-position: -3600px 0;
}
#OkinaMataraExtra.list_characters3, #OkinaMataraExtra.tiered_characters3 {
    background-position: -3660px 0;
}
#StoryofEasternWonderland.list_works, #StoryofEasternWonderland.tiered_works {
    background-position: -60px 0;
}
#PhantasmagoriaofDimDream.list_works, #PhantasmagoriaofDimDream.tiered_works {
    background-position: -120px 0;
}
#LotusLandStory.list_works, #LotusLandStory.tiered_works {
    background-position: -180px 0;
}
#MysticSquare.list_works, #MysticSquare.tiered_works {
    background-position: -240px 0;
}
#EmbodimentofScarletDevil.list_works, #EmbodimentofScarletDevil.tiered_works {
    background-position: -300px 0;
}
#PerfectCherryBlossom.list_works, #PerfectCherryBlossom.tiered_works {
    background-position: -360px 0;
}
#ImmaterialandMissingPower.list_works, #ImmaterialandMissingPower.tiered_works {
    background-position: -420px 0;
}
#ImperishableNight.list_works, #ImperishableNight.tiered_works {
    background-position: -480px 0;
}
#PhantasmagoriaofFlowerView.list_works, #PhantasmagoriaofFlowerView.tiered_works {
    background-position: -540px 0;
}
#ShoottheBullet.list_works, #ShoottheBullet.tiered_works {
    background-position: -600px 0;
}
#MountainofFaith.list_works, #MountainofFaith.tiered_works {
    background-position: -660px 0;
}
#ScarletWeatherRhapsody.list_works, #ScarletWeatherRhapsody.tiered_works {
    background-position: -720px 0;
}
#SubterraneanAnimism.list_works, #SubterraneanAnimism.tiered_works {
    background-position: -780px 0;
}
#UndefinedFantasticObject.list_works, #UndefinedFantasticObject.tiered_works {
    background-position: -840px 0;
}
#TouhouHisoutensoku.list_works, #TouhouHisoutensoku.tiered_works {
    background-position: -900px 0;
}
#DoubleSpoiler.list_works, #DoubleSpoiler.tiered_works {
    background-position: -960px 0;
}
#GreatFairyWars.list_works, #GreatFairyWars.tiered_works {
    background-position: -1020px 0;
}
#TenDesires.list_works, #TenDesires.tiered_works {
    background-position: -1080px 0;
}
#HopelessMasquerade.list_works, #HopelessMasquerade.tiered_works {
    background-position: -1140px 0;
}
#DoubleDealingCharacter.list_works, #DoubleDealingCharacter.tiered_works {
    background-position: -1200px 0;
}
#ImpossibleSpellCard.list_works, #ImpossibleSpellCard.tiered_works {
    background-position: -1260px 0;
}
#UrbanLegendinLimbo.list_works, #UrbanLegendinLimbo.tiered_works {
    background-position: -1320px 0;
}
#LegacyofLunaticKingdom.list_works, #LegacyofLunaticKingdom.tiered_works {
    background-position: -1380px 0;
}
#AntinomyofCommonFlowers.list_works, #AntinomyofCommonFlowers.tiered_works {
    background-position: -1440px 0;
}
#HiddenStarinFourSeasons.list_works, #HiddenStarinFourSeasons.tiered_works {
    background-position: -1500px 0;
}
#VioletDetector.list_works, #VioletDetector.tiered_works {
    background-position: -1560px 0;
}
#WilyBeastandWeakestCreature.list_works, #WilyBeastandWeakestCreature.tiered_works {
    background-position: -1620px 0;
}
#UnconnectedMarketeers.list_works, #UnconnectedMarketeers.tiered_works {
    background-position: -1680px 0;
}
#TouhouSangetsusei.list_works, #TouhouSangetsusei.tiered_works {
    background-position: -1740px 0;
}
#TouhouBougetsushou.list_works, #TouhouBougetsushou.tiered_works {
    background-position: -1800px 0;
}
#WildandHornedHermit.list_works, #WildandHornedHermit.tiered_works {
    background-position: -1860px 0;
}
#CuriositiesofLotusAsia.list_works, #CuriositiesofLotusAsia.tiered_works {
    background-position: -1920px 0;
}
#ForbiddenScrollery.list_works, #ForbiddenScrollery.tiered_works {
    background-position: -1980px 0;
}
#BohemianArchiveinJapaneseRed.list_works, #BohemianArchiveinJapaneseRed.tiered_works {
    background-position: -2040px 0;
}
#PerfectMementoinStrictSense.list_works, #PerfectMementoinStrictSense.tiered_works {
    background-position: -2100px 0;
}
#TheGrimoireofMarisa.list_works, #TheGrimoireofMarisa.tiered_works {
    background-position: -2160px 0;
}
#SymposiumofPost-mysticism.list_works, #SymposiumofPost-mysticism.tiered_works {
    background-position: -2220px 0;
}
#AlternativeFactsinEasternUtopia.list_works, #AlternativeFactsinEasternUtopia.tiered_works {
    background-position: -2280px 0;
}
#DollsinPseudoParadise.list_works, #DollsinPseudoParadise.tiered_works {
    background-position: -2340px 0;
}
#GhostlyFieldClub.list_works, #GhostlyFieldClub.tiered_works {
    background-position: -2400px 0;
}
#ChangeabilityofStrangeDream.list_works, #ChangeabilityofStrangeDream.tiered_works {
    background-position: -2460px 0;
}
#Retrospective53minutes.list_works, #Retrospective53minutes.tiered_works {
    background-position: -2520px 0;
}
#AkyuusUntouchedScoreVolume1.list_works, #AkyuusUntouchedScoreVolume1.tiered_works {
    background-position: -2580px 0;
}
#AkyuusUntouchedScoreVolume2.list_works, #AkyuusUntouchedScoreVolume2.tiered_works {
    background-position: -2640px 0;
}
#AkyuusUntouchedScoreVolume3.list_works, #AkyuusUntouchedScoreVolume3.tiered_works {
    background-position: -2700px 0;
}
#AkyuusUntouchedScoreVolume4.list_works, #AkyuusUntouchedScoreVolume4.tiered_works {
    background-position: -2760px 0;
}
#AkyuusUntouchedScoreVolume5.list_works, #AkyuusUntouchedScoreVolume5.tiered_works {
    background-position: -2820px 0;
}
#MagicalAstronomy.list_works, #MagicalAstronomy.tiered_works {
    background-position: -2880px 0;
}
#UnknownFlowerMesmerizingJourney.list_works, #UnknownFlowerMesmerizingJourney.tiered_works {
    background-position: -2940px 0;
}
#TrojanGreenAsteroid.list_works, #TrojanGreenAsteroid.tiered_works {
    background-position: -3000px 0;
}
#Neo-traditionalismofJapan.list_works, #traditionalismofJapan.tiered_works {
    background-position: -3060px 0;
}
#DrLatencysFreakReport.list_works, #DrLatencysFreakReport.tiered_works {
    background-position: -3120px 0;
}
#DatelessBarOldAdam.list_works, #DatelessBarOldAdam.tiered_works {
    background-position: -3180px 0;
}
#GouyokuIbun.list_works, #GouyokuIbun.tiered_works {
    background-position: -3240px 0;
}
#TheGrimoireofUsami.list_works, #TheGrimoireofUsami.tiered_works {
    background-position: -3300px 0;
}
#FoulDetectiveSatori.list_works, #FoulDetectiveSatori.tiered_works {
    background-position: -3360px 0;
}
#LotusEaters.list_works, #LotusEaters.tiered_works {
    background-position: -3420px 0;
}
#EoSDReimuB.list_shots1, #EoSDReimuB.tiered_shots1 {
    background-position: -60px 0;
}
#EoSDMarisaA.list_shots1, #EoSDMarisaA.tiered_shots1 {
    background-position: -120px 0;
}
#EoSDMarisaB.list_shots1, #EoSDMarisaB.tiered_shots1 {
    background-position: -180px 0;
}
#PCBReimuA.list_shots1, #PCBReimuA.tiered_shots1 {
    background-position: -240px 0;
}
#PCBReimuB.list_shots1, #PCBReimuB.tiered_shots1 {
    background-position: -300px 0;
}
#PCBMarisaA.list_shots1, #PCBMarisaA.tiered_shots1 {
    background-position: -360px 0;
}
#PCBMarisaB.list_shots1, #PCBMarisaB.tiered_shots1 {
    background-position: -420px 0;
}
#PCBSakuyaA.list_shots1, #PCBSakuyaA.tiered_shots1 {
    background-position: -480px 0;
}
#PCBSakuyaB.list_shots1, #PCBSakuyaB.tiered_shots1 {
    background-position: -540px 0;
}
#INBorderTeam.list_shots1, #INBorderTeam.tiered_shots1 {
    background-position: -600px 0;
}
#INMagicTeam.list_shots1, #INMagicTeam.tiered_shots1 {
    background-position: -660px 0;
}
#INScarletTeam.list_shots1, #INScarletTeam.tiered_shots1 {
    background-position: -720px 0;
}
#INGhostTeam.list_shots1, #INGhostTeam.tiered_shots1 {
    background-position: -780px 0;
}
#INReimu.list_shots1, #INReimu.tiered_shots1 {
    background-position: -840px 0;
}
#INYukari.list_shots1, #INYukari.tiered_shots1 {
    background-position: -900px 0;
}
#INMarisa.list_shots1, #INMarisa.tiered_shots1 {
    background-position: -960px 0;
}
#INAlice.list_shots1, #INAlice.tiered_shots1 {
    background-position: -1020px 0;
}
#INSakuya.list_shots1, #INSakuya.tiered_shots1 {
    background-position: -1080px 0;
}
#INRemilia.list_shots1, #INRemilia.tiered_shots1 {
    background-position: -1140px 0;
}
#INYoumu.list_shots1, #INYoumu.tiered_shots1 {
    background-position: -1200px 0;
}
#INYuyuko.list_shots1, #INYuyuko.tiered_shots1 {
    background-position: -1260px 0;
}
#PoFVReimu.list_shots1, #PoFVReimu.tiered_shots1 {
    background-position: -1320px 0;
}
#PoFVMarisa.list_shots1, #PoFVMarisa.tiered_shots1 {
    background-position: -1380px 0;
}
#PoFVSakuya.list_shots1, #PoFVSakuya.tiered_shots1 {
    background-position: -1440px 0;
}
#PoFVYoumu.list_shots1, #PoFVYoumu.tiered_shots1 {
    background-position: -1500px 0;
}
#PoFVReisen.list_shots1, #PoFVReisen.tiered_shots1 {
    background-position: -1560px 0;
}
#PoFVCirno.list_shots1, #PoFVCirno.tiered_shots1 {
    background-position: -1620px 0;
}
#PoFVLyrica.list_shots1, #PoFVLyrica.tiered_shots1 {
    background-position: -1680px 0;
}
#PoFVMystia.list_shots1, #PoFVMystia.tiered_shots1 {
    background-position: -1740px 0;
}
#PoFVTewi.list_shots1, #PoFVTewi.tiered_shots1 {
    background-position: -1800px 0;
}
#PoFVAya.list_shots1, #PoFVAya.tiered_shots1 {
    background-position: -1860px 0;
}
#PoFVMedicine.list_shots1, #PoFVMedicine.tiered_shots1 {
    background-position: -1920px 0;
}
#PoFVYuuka.list_shots1, #PoFVYuuka.tiered_shots1 {
    background-position: -1980px 0;
}
#PoFVKomachi.list_shots1, #PoFVKomachi.tiered_shots1 {
    background-position: -2040px 0;
}
#PoFVEiki.list_shots1, #PoFVEiki.tiered_shots1 {
    background-position: -2100px 0;
}
#MoFReimuA.list_shots1, #MoFReimuA.tiered_shots1 {
    background-position: -2160px 0;
}
#MoFReimuB.list_shots1, #MoFReimuB.tiered_shots1 {
    background-position: -2220px 0;
}
#MoFReimuC.list_shots1, #MoFReimuC.tiered_shots1 {
    background-position: -2280px 0;
}
#MoFMarisaA.list_shots1, #MoFMarisaA.tiered_shots1 {
    background-position: -2340px 0;
}
#MoFMarisaB.list_shots1, #MoFMarisaB.tiered_shots1 {
    background-position: -2400px 0;
}
#MoFMarisaC.list_shots1, #MoFMarisaC.tiered_shots1 {
    background-position: -2460px 0;
}
#SAReimuA.list_shots1, #SAReimuA.tiered_shots1 {
    background-position: -2520px 0;
}
#SAReimuB.list_shots1, #SAReimuB.tiered_shots1 {
    background-position: -2580px 0;
}
#SAReimuC.list_shots1, #SAReimuC.tiered_shots1 {
    background-position: -2640px 0;
}
#SAMarisaA.list_shots1, #SAMarisaA.tiered_shots1 {
    background-position: -2700px 0;
}
#SAMarisaB.list_shots1, #SAMarisaB.tiered_shots1 {
    background-position: -2760px 0;
}
#SAMarisaC.list_shots1, #SAMarisaC.tiered_shots1 {
    background-position: -2820px 0;
}
#UFOReimuA.list_shots1, #UFOReimuA.tiered_shots1 {
    background-position: -2880px 0;
}
#UFOReimuB.list_shots1, #UFOReimuB.tiered_shots1 {
    background-position: -2940px 0;
}
#UFOMarisaA.list_shots1, #UFOMarisaA.tiered_shots1 {
    background-position: -3000px 0;
}
#UFOMarisaB.list_shots1, #UFOMarisaB.tiered_shots1 {
    background-position: -3060px 0;
}
#UFOSanaeA.list_shots1, #UFOSanaeA.tiered_shots1 {
    background-position: -3120px 0;
}
#UFOSanaeB.list_shots1, #UFOSanaeB.tiered_shots1 {
    background-position: -3180px 0;
}
#TDReimu.list_shots1, #TDReimu.tiered_shots1 {
    background-position: -3240px 0;
}
#TDMarisa.list_shots1, #TDMarisa.tiered_shots1 {
    background-position: -3300px 0;
}
#TDSanae.list_shots1, #TDSanae.tiered_shots1 {
    background-position: -3360px 0;
}
#TDYoumu.list_shots1, #TDYoumu.tiered_shots1 {
    background-position: -3420px 0;
}
#DDCReimuA.list_shots1, #DDCReimuA.tiered_shots1 {
    background-position: -3480px 0;
}
#DDCReimuB.list_shots1, #DDCReimuB.tiered_shots1 {
    background-position: -3540px 0;
}
#DDCMarisaA.list_shots1, #DDCMarisaA.tiered_shots1 {
    background-position: -3600px 0;
}
#DDCMarisaB.list_shots1, #DDCMarisaB.tiered_shots1 {
    background-position: -3660px 0;
}
#DDCSakuyaB.list_shots2, #DDCSakuyaB.tiered_shots2 {
    background-position: -60px 0;
}
#LoLKReimu.list_shots2, #LoLKReimu.tiered_shots2 {
    background-position: -120px 0;
}
#LoLKMarisa.list_shots2, #LoLKMarisa.tiered_shots2 {
    background-position: -180px 0;
}
#LoLKSanae.list_shots2, #LoLKSanae.tiered_shots2 {
    background-position: -240px 0;
}
#LoLKReisen.list_shots2, #LoLKReisen.tiered_shots2 {
    background-position: -300px 0;
}
#HSiFSReimuSpring.list_shots2, #HSiFSReimuSpring.tiered_shots2 {
    background-position: -360px 0;
}
#HSiFSReimuSummer.list_shots2, #HSiFSReimuSummer.tiered_shots2 {
    background-position: -420px 0;
}
#HSiFSReimuAutumn.list_shots2, #HSiFSReimuAutumn.tiered_shots2 {
    background-position: -480px 0;
}
#HSiFSReimuWinter.list_shots2, #HSiFSReimuWinter.tiered_shots2 {
    background-position: -540px 0;
}
#HSiFSCirnoSpring.list_shots2, #HSiFSCirnoSpring.tiered_shots2 {
    background-position: -600px 0;
}
#HSiFSCirnoSummer.list_shots2, #HSiFSCirnoSummer.tiered_shots2 {
    background-position: -660px 0;
}
#HSiFSCirnoAutumn.list_shots2, #HSiFSCirnoAutumn.tiered_shots2 {
    background-position: -720px 0;
}
#HSiFSCirnoWinter.list_shots2, #HSiFSCirnoWinter.tiered_shots2 {
    background-position: -780px 0;
}
#HSiFSAyaSpring.list_shots2, #HSiFSAyaSpring.tiered_shots2 {
    background-position: -840px 0;
}
#HSiFSAyaSummer.list_shots2, #HSiFSAyaSummer.tiered_shots2 {
    background-position: -900px 0;
}
#HSiFSAyaAutumn.list_shots2, #HSiFSAyaAutumn.tiered_shots2 {
    background-position: -960px 0;
}
#HSiFSAyaWinter.list_shots2, #HSiFSAyaWinter.tiered_shots2 {
    background-position: -1020px 0;
}
#HSiFSMarisaSpring.list_shots2, #HSiFSMarisaSpring.tiered_shots2 {
    background-position: -1080px 0;
}
#HSiFSMarisaSummer.list_shots2, #HSiFSMarisaSummer.tiered_shots2 {
    background-position: -1140px 0;
}
#HSiFSMarisaAutumn.list_shots2, #HSiFSMarisaAutumn.tiered_shots2 {
    background-position: -1200px 0;
}
#HSiFSMarisaWinter.list_shots2, #HSiFSMarisaWinter.tiered_shots2 {
    background-position: -1260px 0;
}
#WBaWCReimuWolf.list_shots2, #WBaWCReimuWolf.tiered_shots2 {
    background-position: -1320px 0;
}
#WBaWCReimuOtter.list_shots2, #WBaWCReimuOtter.tiered_shots2 {
    background-position: -1380px 0;
}
#WBaWCReimuEagle.list_shots2, #WBaWCReimuEagle.tiered_shots2 {
    background-position: -1440px 0;
}
#WBaWCMarisaWolf.list_shots2, #WBaWCMarisaWolf.tiered_shots2 {
    background-position: -1500px 0;
}
#WBaWCMarisaOtter.list_shots2, #WBaWCMarisaOtter.tiered_shots2 {
    background-position: -1560px 0;
}
#WBaWCMarisaEagle.list_shots2, #WBaWCMarisaEagle.tiered_shots2 {
    background-position: -1620px 0;
}
#WBaWCYoumuWolf.list_shots2, #WBaWCYoumuWolf.tiered_shots2 {
    background-position: -1680px 0;
}
#WBaWCYoumuOtter.list_shots2, #WBaWCYoumuOtter.tiered_shots2 {
    background-position: -1740px 0;
}
#WBaWCYoumuEagle.list_shots2, #WBaWCYoumuEagle.tiered_shots2 {
    background-position: -1800px 0;
}
#UMReimu.list_shots2, #UMReimu.tiered_shots2 {
    background-position: -1860px 0;
}
#UMMarisa.list_shots2, #UMMarisa.tiered_shots2 {
    background-position: -1920px 0;
}
#UMSakuya.list_shots2, #UMSakuya.tiered_shots2 {
    background-position: -1980px 0;
}
#UMSanae.list_shots2, #UMSanae.tiered_shots2 {
    background-position: -2040px 0;
}
#SoEWReimuA.list_shots2, #SoEWReimuA.tiered_shots2 {
    background-position: -2100px 0;
}
#SoEWReimuB.list_shots2, #SoEWReimuB.tiered_shots2 {
    background-position: -2160px 0;
}
#SoEWReimuC.list_shots2, #SoEWReimuC.tiered_shots2 {
    background-position: -2220px 0;
}
#PoDDReimu.list_shots2, #PoDDReimu.tiered_shots2 {
    background-position: -2280px 0;
}
#PoDDMima.list_shots2, #PoDDMima.tiered_shots2 {
    background-position: -2340px 0;
}
#PoDDMarisa.list_shots2, #PoDDMarisa.tiered_shots2 {
    background-position: -2400px 0;
}
#PoDDEllen.list_shots2, #PoDDEllen.tiered_shots2 {
    background-position: -2460px 0;
}
#PoDDKotohime.list_shots2, #PoDDKotohime.tiered_shots2 {
    background-position: -2520px 0;
}
#PoDDKana.list_shots2, #PoDDKana.tiered_shots2 {
    background-position: -2580px 0;
}
#PoDDRikako.list_shots2, #PoDDRikako.tiered_shots2 {
    background-position: -2640px 0;
}
#PoDDChiyuri.list_shots2, #PoDDChiyuri.tiered_shots2 {
    background-position: -2700px 0;
}
#PoDDYumemi.list_shots2, #PoDDYumemi.tiered_shots2 {
    background-position: -2760px 0;
}
#LLSReimuA.list_shots2, #LLSReimuA.tiered_shots2 {
    background-position: -2820px 0;
}
#LLSReimuB.list_shots2, #LLSReimuB.tiered_shots2 {
    background-position: -2880px 0;
}
#LLSMarisaA.list_shots2, #LLSMarisaA.tiered_shots2 {
    background-position: -2940px 0;
}
#LLSMarisaB.list_shots2, #LLSMarisaB.tiered_shots2 {
    background-position: -3000px 0;
}
#MSReimu.list_shots2, #MSReimu.tiered_shots2 {
    background-position: -3060px 0;
}
#MSMarisa.list_shots2, #MSMarisa.tiered_shots2 {
    background-position: -3120px 0;
}
#MSMima.list_shots2, #MSMima.tiered_shots2 {
    background-position: -3180px 0;
}
#MSYuuka.list_shots2, #MSYuuka.tiered_shots2 {
    background-position: -3240px 0;
}
#PoFVMerlin.list_shots2, #PoFVMerlin.tiered_shots2 {
    background-position: -3300px 0;
}
#PoFVLunasa.list_shots2, #PoFVLunasa.tiered_shots2 {
    background-position: -3360px 0;
}
#HSiFSReimuExtra.list_shots2, #HSiFSReimuExtra.tiered_shots2 {
    background-position: -3420px 0;
}
#HSiFSCirnoExtra.list_shots2, #HSiFSCirnoExtra.tiered_shots2 {
    background-position: -3480px 0;
}
#HSiFSAyaExtra.list_shots2, #HSiFSAyaExtra.tiered_shots2 {
    background-position: -3540px 0;
}
#HSiFSMarisaExtra.list_shots2, #HSiFSMarisaExtra.tiered_shots2 {
    background-position: 60px 0;
}
