@font-face {
  font-family: Felipa;
  font-display: swap;
  src: url('../shared/Felipa-Regular.woff2') format('woff2'),
       url('../shared/Felipa-Regular.woff') format('woff');
}
body.webp {
    background: url('tiers.webp') center no-repeat fixed;
    background-size: cover;
}
body.no-webp {
    background: url('tiers.jpg') center no-repeat fixed;
    background-size: cover;
}
a:link.dropdown_button {
    color: #a0a0a0;
}
a:visited.dropdown_button {
    color: #a0a0a0;
}
a:link {
    color: #1e90ff;
}
a:active {
    color: red;
}
a:visited {
    color: #ff69b4;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
    margin: 15px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
h3 {
    font-family: 'Felipa';
    font-size: 28px;
}
p {
    margin: 10px;
}
label {
    padding-right: 5px;
}
input[type=number] {
    height: 20px;
}
li {
    list-style-position: inside;
}
.tier_header {
    font-size: 32px;
    width: 120px;
    height: 120px;
    max-width: 120px;
    border: 1px solid #606060;
    word-wrap: break-word;
}
.tier_content {
    text-align: left;
    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
}
.list {
    width: 80px;
    height: 80px;
    display: inline-block;
    background-image: url('../shared/spritesheet80x80.png');
}
.tiered {
    width: 120px;
    height: 120px;
    display: inline-block;
    background-image: url('../shared/spritesheet.png');
}
.name {
    margin-top: 10px;
}
.colour {
    margin-bottom: 10px;
}
.confirmation {
    color: #00A000;
}
.error {
    color: orange;
}
.mobile_button {
    margin: 10px;
}
.left {
    text-align: left;
}
.hidden {
    display: none;
}
.mobile_add {
    margin: 10px;
}
.tierview_screenshot_button {
    margin-left: 10px;
}
.outline {
    border: 2px solid #ddd;
}
.dropdowns {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    width: 50%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_button {
    text-decoration: none;
    cursor: default;
}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: #1b232e;
    border: 1px solid #000;
    min-width: 120px;
    opacity: 1.0;
    z-index: 1;
}
.dropdown_content p {
    margin: 4px;
}
.dropdown_right {
    right: 0;
}
.dropdown:hover .dropdown_content {
    display: block;
}
.dropdown_content:hover .dropdown_content {
    display: block;
}
.nav_left {
    float: left;
    margin-left: 4px;
}
.nav_right {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
#wrap {
    max-height: 77%;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 48%;
    right: 5px;
    top: 5px;
}
#ext_mobile {
    display: none;
}
#buttons, #characters, #show, #wrap {
    background-color: #1b232e;
    font: 14px verdana, sans-serif;
    border: 1px solid #000;
    text-align: center;
    position: fixed;
    color: #a0a0a0;
}
#tier_list_container_mobile {
    overflow-y: auto;
    top: 50px;
    right: 5px;
    bottom: 100px;
    width: auto;
}
#tier_list_table {
    width: 100%;
}
#tier_name {
    width: 120px;
}
#characters {
    overflow-y: auto;
    max-height: 98%;
    min-height: 10%;
    width: 48%;
    left: 5px;
    top: 5px;
}
#characters div:not(:nth-child(1)) {
    border-top: 1px solid #606060;
}
#buttons {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    max-height: 25%;
    max-width: 48%;
    bottom: 5px;
    right: 5px;
}
#instructions, #instructions_mobile, #button_split, #information_button,
#view_button, #mobile_button_split, #menu_button, #switch_button, #add_tier_box_mobile {
    display: none;
}
#show {
    display: none;
    border: none;
    bottom: 10px;
    right: 5%;
}
#modal {
    font: 14px verdana, sans-serif;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 3%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,.4);
    color: #000;
}
#modal_inner {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    display: none;
    overflow-y: auto;
}
#import {
    width: 80%;
    height: 400px;
}
#artist_form, #settings_table {
    margin: 15px auto;
}
#mobile_addtotier {
     min-width: 25px;
     height: 25px;
     margin: 10px;
}
#screenshot_base64 {
    width: 95%;
    height: 50%;
}
#erase_all_button {
    margin: 10px;
}
#add_tier_desktop {
    float: left;
}
#save_link {
    text-decoration: none;
    margin: 5px;
}
/* Characters */
#MarisaKirisame {
    background-position: 0 0;
}
#ReimuHakurei.list {
    background-position: -80px 0;
}
#ReimuHakurei.tiered {
    background-position: -120px 0;
}
#Elis.list {
    background-position: -160px 0;
}
#Elis.tiered {
    background-position: -240px 0;
}
#Kikuri.list {
    background-position: -240px 0;
}
#Kikuri.tiered {
    background-position: -360px 0;
}
#Konngara.list {
    background-position: -320px 0;
}
#Konngara.tiered {
    background-position: -480px 0;
}
#Mima.list {
    background-position: -400px 0;
}
#Mima.tiered {
    background-position: -600px 0;
}
#ReimuPC-98.list {
    background-position: -480px 0;
}
#ReimuPC-98.tiered {
    background-position: -720px 0;
}
#Sariel.list {
    background-position: -560px 0;
}
#Sariel.tiered {
    background-position: -840px 0;
}
#SinGyokuF.list {
    background-position: -640px 0;
}
#SinGyokuF.tiered {
    background-position: -960px 0;
}
#SinGyokuM.list {
    background-position: -720px 0;
}
#SinGyokuM.tiered {
    background-position: -1080px 0;
}
#YuugenMagan.list {
    background-position: -800px 0;
}
#YuugenMagan.tiered {
    background-position: -1200px 0;
}
#EvilEyeSigma.list {
    background-position: -880px 0;
}
#EvilEyeSigma.tiered {
    background-position: -1320px 0;
}
#Genjii.list {
    background-position: -960px 0;
}
#Genjii.tiered {
    background-position: -1440px 0;
}
#MarisaPC-98.list {
    background-position: -1040px 0;
}
#MarisaPC-98.tiered {
    background-position: -1560px 0;
}
#Meira.list {
    background-position: -1120px 0;
}
#Meira.tiered {
    background-position: -1680px 0;
}
#Rika.list {
    background-position: -1200px 0;
}
#Rika.tiered {
    background-position: -1800px 0;
}
#ChiyuriKitashirakawa.list {
    background-position: -1280px 0;
}
#ChiyuriKitashirakawa.tiered {
    background-position: -1920px 0;
}
#Ellen.list {
    background-position: -1360px 0;
}
#Ellen.tiered {
    background-position: -2040px 0;
}
#KanaAnaberal.list {
    background-position: -1440px 0;
}
#KanaAnaberal.tiered {
    background-position: -2160px 0;
}
#Kotohime.list {
    background-position: -1520px 0;
}
#Kotohime.tiered {
    background-position: -2280px 0;
}
#Mimi-chan.list {
    background-position: -1600px 0;
}
#Mimi-chan.tiered {
    background-position: -2400px 0;
}
#RikakoAsakura.list {
    background-position: -1680px 0;
}
#RikakoAsakura.tiered {
    background-position: -2520px 0;
}
#Ruukoto.list {
    background-position: -1760px 0;
}
#Ruukoto.tiered {
    background-position: -2640px 0;
}
#YumemiOkazaki.list {
    background-position: -1840px 0;
}
#YumemiOkazaki.tiered {
    background-position: -2760px 0;
}
#Elly.list {
    background-position: -1920px 0;
}
#Elly.tiered {
    background-position: -2880px 0;
}
#Gengetsu.list {
    background-position: -2000px 0;
}
#Gengetsu.tiered {
    background-position: -3000px 0;
}
#Kurumi.list {
    background-position: -2080px 0;
}
#Kurumi.tiered {
    background-position: -3120px 0;
}
#Mugetsu.list {
    background-position: -2160px 0;
}
#Mugetsu.tiered {
    background-position: -3240px 0;
}
#Orange.list {
    background-position: -2240px 0;
}
#Orange.tiered {
    background-position: -3360px 0;
}
#YuukaPC-98.list {
    background-position: -2320px 0;
}
#YuukaPC-98.tiered {
    background-position: -3480px 0;
}
#AlicePC-98.list {
    background-position: -2400px 0;
}
#AlicePC-98.tiered {
    background-position: -3600px 0;
}
#Luize.list {
    background-position: -2480px 0;
}
#Luize.tiered {
    background-position: -3720px 0;
}
#MaiPC-98.list {
    background-position: -2560px 0;
}
#MaiPC-98.tiered {
    background-position: -3840px 0;
}
#Sara.list {
    background-position: -2640px 0;
}
#Sara.tiered {
    background-position: -3960px 0;
}
#Shinki.list {
    background-position: -2720px 0;
}
#Shinki.tiered {
    background-position: -4080px 0;
}
#Yuki.list {
    background-position: -2800px 0;
}
#Yuki.tiered {
    background-position: -4200px 0;
}
#Yumeko.list {
    background-position: -2880px 0;
}
#Yumeko.tiered {
    background-position: -4320px 0;
}
#Cirno.list {
    background-position: -2960px 0;
}
#Cirno.tiered {
    background-position: -4440px 0;
}
#Daiyousei.list {
    background-position: -3040px 0;
}
#Daiyousei.tiered {
    background-position: -4560px 0;
}
#FlandreScarlet.list {
    background-position: -3120px 0;
}
#FlandreScarlet.tiered {
    background-position: -4680px 0;
}
#HongMeiling.list {
    background-position: -3200px 0;
}
#HongMeiling.tiered {
    background-position: -4800px 0;
}
#Koakuma.list {
    background-position: -3280px 0;
}
#Koakuma.tiered {
    background-position: -4920px 0;
}
#PatchouliKnowledge.list {
    background-position: -3360px 0;
}
#PatchouliKnowledge.tiered {
    background-position: -5040px 0;
}
#RemiliaScarlet.list {
    background-position: -3440px 0;
}
#RemiliaScarlet.tiered {
    background-position: -5160px 0;
}
#Rumia.list {
    background-position: -3520px 0;
}
#Rumia.tiered {
    background-position: -5280px 0;
}
#SakuyaIzayoi.list {
    background-position: -3600px 0;
}
#SakuyaIzayoi.tiered {
    background-position: -5400px 0;
}
#AliceMargatroid.list {
    background-position: -3680px 0;
}
#AliceMargatroid.tiered {
    background-position: -5520px 0;
}
#Chen.list {
    background-position: -3760px 0;
}
#Chen.tiered {
    background-position: -5640px 0;
}
#LettyWhiterock.list {
    background-position: -3840px 0;
}
#LettyWhiterock.tiered {
    background-position: -5760px 0;
}
#LilyWhite.list {
    background-position: -3920px 0;
}
#LilyWhite.tiered {
    background-position: -5880px 0;
}
#LunasaPrismriver.list {
    background-position: -4000px 0;
}
#LunasaPrismriver.tiered {
    background-position: -6000px 0;
}
#LyricaPrismriver.list {
    background-position: -4080px 0;
}
#LyricaPrismriver.tiered {
    background-position: -6120px 0;
}
#MerlinPrismriver.list {
    background-position: -4160px 0;
}
#MerlinPrismriver.tiered {
    background-position: -6240px 0;
}
#RanYakumo.list {
    background-position: -4240px 0;
}
#RanYakumo.tiered {
    background-position: -6360px 0;
}
#YoumuKonpaku.list {
    background-position: -4320px 0;
}
#YoumuKonpaku.tiered {
    background-position: -6480px 0;
}
#YukariYakumo.list {
    background-position: -4400px 0;
}
#YukariYakumo.tiered {
    background-position: -6600px 0;
}
#YuyukoSaigyouji.list {
    background-position: -4480px 0;
}
#YuyukoSaigyouji.tiered {
    background-position: -6720px 0;
}
#SuikaIbuki.list {
    background-position: -4560px 0;
}
#SuikaIbuki.tiered {
    background-position: -6840px 0;
}
#EirinYagokoro.list {
    background-position: -4640px 0;
}
#EirinYagokoro.tiered {
    background-position: -6960px 0;
}
#FujiwaranoMokou.list {
    background-position: -4720px 0;
}
#FujiwaranoMokou.tiered {
    background-position: -7080px 0;
}
#KaguyaHouraisan.list {
    background-position: -4800px 0;
}
#KaguyaHouraisan.tiered {
    background-position: -7200px 0;
}
#KeineKamishirasawa.list {
    background-position: -4880px 0;
}
#KeineKamishirasawa.tiered {
    background-position: -7320px 0;
}
#MystiaLorelei.list {
    background-position: -4960px 0;
}
#MystiaLorelei.tiered {
    background-position: -7440px 0;
}
#ReisenUdongeinInaba.list {
    background-position: -5040px 0;
}
#ReisenUdongeinInaba.tiered {
    background-position: -7560px 0;
}
#TewiInaba.list {
    background-position: -5120px 0;
}
#TewiInaba.tiered {
    background-position: -7680px 0;
}
#WriggleNightbug.list {
    background-position: -5200px 0;
}
#WriggleNightbug.tiered {
    background-position: -7800px 0;
}
#AyaShameimaru.list {
    background-position: -5280px 0;
}
#AyaShameimaru.tiered {
    background-position: -7920px 0;
}
#EikiShikiYamaxanadu.list {
    background-position: -5360px 0;
}
#EikiShikiYamaxanadu.tiered {
    background-position: -8040px 0;
}
#KomachiOnozuka.list {
    background-position: -5440px 0;
}
#KomachiOnozuka.tiered {
    background-position: -8160px 0;
}
#MedicineMelancholy.list {
    background-position: -5520px 0;
}
#MedicineMelancholy.tiered {
    background-position: -8280px 0;
}
#YuukaKazami.list {
    background-position: -5600px 0;
}
#YuukaKazami.tiered {
    background-position: -8400px 0;
}
#HinaKagiyama.list {
    background-position: -5680px 0;
}
#HinaKagiyama.tiered {
    background-position: -8520px 0;
}
#KanakoYasaka.list {
    background-position: -5760px 0;
}
#KanakoYasaka.tiered {
    background-position: -8640px 0;
}
#MinorikoAki.list {
    background-position: -5840px 0;
}
#MinorikoAki.tiered {
    background-position: -8760px 0;
}
#MomijiInubashiri.list {
    background-position: -5920px 0;
}
#MomijiInubashiri.tiered {
    background-position: -8880px 0;
}
#NitoriKawashiro.list {
    background-position: -6000px 0;
}
#NitoriKawashiro.tiered {
    background-position: -9000px 0;
}
#SanaeKochiya.list {
    background-position: -6080px 0;
}
#SanaeKochiya.tiered {
    background-position: -9120px 0;
}
#ShizuhaAki.list {
    background-position: -6160px 0;
}
#ShizuhaAki.tiered {
    background-position: -9240px 0;
}
#SuwakoMoriya.list {
    background-position: -6240px 0;
}
#SuwakoMoriya.tiered {
    background-position: -9360px 0;
}
#IkuNagae.list {
    background-position: -6320px 0;
}
#IkuNagae.tiered {
    background-position: -9480px 0;
}
#TenshiHinanawi.list {
    background-position: -6400px 0;
}
#TenshiHinanawi.tiered {
    background-position: -9600px 0;
}
#Kisume.list {
    background-position: -6480px 0;
}
#Kisume.tiered {
    background-position: -9720px 0;
}
#KoishiKomeiji.list {
    background-position: -6560px 0;
}
#KoishiKomeiji.tiered {
    background-position: -9840px 0;
}
#ParseeMizuhashi.list {
    background-position: -6640px 0;
}
#ParseeMizuhashi.tiered {
    background-position: -9960px 0;
}
#RinKaenbyou.list {
    background-position: -6720px 0;
}
#RinKaenbyou.tiered {
    background-position: -10080px 0;
}
#SatoriKomeiji.list {
    background-position: -6800px 0;
}
#SatoriKomeiji.tiered {
    background-position: -10200px 0;
}
#UtsuhoReiuji.list {
    background-position: -6880px 0;
}
#UtsuhoReiuji.tiered {
    background-position: -10320px 0;
}
#YamameKurodani.list {
    background-position: -6960px 0;
}
#YamameKurodani.tiered {
    background-position: -10440px 0;
}
#YuugiHoshiguma.list {
    background-position: -7040px 0;
}
#YuugiHoshiguma.tiered {
    background-position: -10560px 0;
}
#ByakurenHijiri.list {
    background-position: -7120px 0;
}
#ByakurenHijiri.tiered {
    background-position: -10680px 0;
}
#IchirinKumoi.list {
    background-position: -7200px 0;
}
#IchirinKumoi.tiered {
    background-position: -10800px 0;
}
#KogasaTatara.list {
    background-position: -7280px 0;
}
#KogasaTatara.tiered {
    background-position: -10920px 0;
}
#MinamitsuMurasa.list {
    background-position: -7360px 0;
}
#MinamitsuMurasa.tiered {
    background-position: -11040px 0;
}
#Nazrin.list {
    background-position: -7440px 0;
}
#Nazrin.tiered {
    background-position: -11160px 0;
}
#NueHoujuu.list {
    background-position: -7520px 0;
}
#NueHoujuu.tiered {
    background-position: -11280px 0;
}
#ShouToramaru.list {
    background-position: -7600px 0;
}
#ShouToramaru.tiered {
    background-position: -11400px 0;
}
#Unzan.list {
    background-position: -7680px 0;
}
#Unzan.tiered {
    background-position: -11520px 0;
}
#Hisoutensoku.list {
    background-position: -7760px 0;
}
#Hisoutensoku.tiered {
    background-position: -11640px 0;
}
#HatateHimekaidou.list {
    background-position: -7840px 0;
}
#HatateHimekaidou.tiered {
    background-position: -11760px 0;
}
#LunaChild.list {
    background-position: -7920px 0;
}
#LunaChild.tiered {
    background-position: -11880px 0;
}
#StarSapphire.list {
    background-position: -8000px 0;
}
#StarSapphire.tiered {
    background-position: -12000px 0;
}
#SunnyMilk.list {
    background-position: -8080px 0;
}
#SunnyMilk.tiered {
    background-position: -12120px 0;
}
#KyoukoKasodani.list {
    background-position: -8160px 0;
}
#KyoukoKasodani.tiered {
    background-position: -12240px 0;
}
#MamizouFutatsuiwa.list {
    background-position: -8240px 0;
}
#MamizouFutatsuiwa.tiered {
    background-position: -12360px 0;
}
#MononobenoFuto.list {
    background-position: -8320px 0;
}
#MononobenoFuto.tiered {
    background-position: -12480px 0;
}
#SeigaKaku.list {
    background-position: -8400px 0;
}
#SeigaKaku.tiered {
    background-position: -12600px 0;
}
#SoganoTojiko.list {
    background-position: -8480px 0;
}
#SoganoTojiko.tiered {
    background-position: -12720px 0;
}
#ToyosatomiminoMiko.list {
    background-position: -8560px 0;
}
#ToyosatomiminoMiko.tiered {
    background-position: -12840px 0;
}
#YoshikaMiyako.list {
    background-position: -8640px 0;
}
#YoshikaMiyako.tiered {
    background-position: -12960px 0;
}
#HatanoKokoro.list {
    background-position: -8720px 0;
}
#HatanoKokoro.tiered {
    background-position: -13080px 0;
}
#Clownpiece.list {
    background-position: -8800px 0;
}
#Clownpiece.tiered {
    background-position: -13200px 0;
}
#DoremySweet.list {
    background-position: -8880px 0;
}
#DoremySweet.tiered {
    background-position: -13320px 0;
}
#HecatiaLapislazuli.list {
    background-position: -8960px 0;
}
#HecatiaLapislazuli.tiered {
    background-position: -13440px 0;
}
#Junko.list {
    background-position: -9040px 0;
}
#Junko.tiered {
    background-position: -13560px 0;
}
#Ringo.list {
    background-position: -9120px 0;
}
#Ringo.tiered {
    background-position: -13680px 0;
}
#SagumeKishin.list {
    background-position: -9200px 0;
}
#SagumeKishin.tiered {
    background-position: -13800px 0;
}
#Seiran.list {
    background-position: -9280px 0;
}
#Seiran.tiered {
    background-position: -13920px 0;
}
#BenbenTsukumo.list {
    background-position: -9360px 0;
}
#BenbenTsukumo.tiered {
    background-position: -14040px 0;
}
#KagerouImaizumi.list {
    background-position: -9440px 0;
}
#KagerouImaizumi.tiered {
    background-position: -14160px 0;
}
#RaikoHorikawa.list {
    background-position: -9520px 0;
}
#RaikoHorikawa.tiered {
    background-position: -14280px 0;
}
#SeijaKijin.list {
    background-position: -9600px 0;
}
#SeijaKijin.tiered {
    background-position: -14400px 0;
}
#Sekibanki.list {
    background-position: -9680px 0;
}
#Sekibanki.tiered {
    background-position: -14520px 0;
}
#ShinmyoumaruSukuna.list {
    background-position: -9760px 0;
}
#ShinmyoumaruSukuna.tiered {
    background-position: -14640px 0;
}
#Wakasagihime.list {
    background-position: -9840px 0;
}
#Wakasagihime.tiered {
    background-position: -14760px 0;
}
#YatsuhashiTsukumo.list {
    background-position: -9920px 0;
}
#YatsuhashiTsukumo.tiered {
    background-position: -14880px 0;
}
#SumirekoUsami.list {
    background-position: -10000px 0;
}
#SumirekoUsami.tiered {
    background-position: -15000px 0;
}
#JoonYorigami.list {
    background-position: -10080px 0;
}
#JoonYorigami.tiered {
    background-position: -15120px 0;
}
#ShionYorigami.list {
    background-position: -10160px 0;
}
#ShionYorigami.tiered {
    background-position: -15240px 0;
}
#AunnKomano.list {
    background-position: -10240px 0;
}
#AunnKomano.tiered {
    background-position: -15360px 0;
}
#EternityLarva.list {
    background-position: -10320px 0;
}
#EternityLarva.tiered {
    background-position: -15480px 0;
}
#MaiTeireida.list {
    background-position: -10400px 0;
}
#MaiTeireida.tiered {
    background-position: -15600px 0;
}
#NarumiYatadera.list {
    background-position: -10480px 0;
}
#NarumiYatadera.tiered {
    background-position: -15720px 0;
}
#NemunoSakata.list {
    background-position: -10560px 0;
}
#NemunoSakata.tiered {
    background-position: -15840px 0;
}
#OkinaMatara.list {
    background-position: -10640px 0;
}
#OkinaMatara.tiered {
    background-position: -15960px 0;
}
#SatonoNishida.list {
    background-position: -10720px 0;
}
#SatonoNishida.tiered {
    background-position: -16080px 0;
}
#EikaEbisu.list {
    background-position: -10800px 0;
}
#EikaEbisu.tiered {
    background-position: -16200px 0;
}
#KeikiHaniyasushin.list {
    background-position: -10880px 0;
}
#KeikiHaniyasushin.tiered {
    background-position: -16320px 0;
}
#KutakaNiwatari.list {
    background-position: -10960px 0;
}
#KutakaNiwatari.tiered {
    background-position: -16440px 0;
}
#MayumiJoutouguu.list {
    background-position: -11040px 0;
}
#MayumiJoutouguu.tiered {
    background-position: -16560px 0;
}
#SakiKurokoma.list {
    background-position: -11120px 0;
}
#SakiKurokoma.tiered {
    background-position: -16680px 0;
}
#UrumiUshizaki.list {
    background-position: -11200px 0;
}
#UrumiUshizaki.tiered {
    background-position: -16800px 0;
}
#YachieKicchou.list {
    background-position: -11280px 0;
}
#YachieKicchou.tiered {
    background-position: -16920px 0;
}
#FortuneTeller.list {
    background-position: -11360px 0;
}
#FortuneTeller.tiered {
    background-position: -17040px 0;
}
#HiedanoAkyuu.list {
    background-position: -11440px 0;
}
#HiedanoAkyuu.tiered {
    background-position: -17160px 0;
}
#KasenIbaraki.list {
    background-position: -11520px 0;
}
#KasenIbaraki.tiered {
    background-position: -17280px 0;
}
#KosuzuMotoori.list {
    background-position: -11600px 0;
}
#KosuzuMotoori.tiered {
    background-position: -17400px 0;
}
#ReisenII.list {
    background-position: -11680px 0;
}
#ReisenII.tiered {
    background-position: -17520px 0;
}
#RinnosukeMorichika.list {
    background-position: -11760px 0;
}
#RinnosukeMorichika.tiered {
    background-position: -17640px 0;
}
#Tokiko.list {
    background-position: -11840px 0;
}
#Tokiko.tiered {
    background-position: -17760px 0;
}
#WatatsukinoToyohime.list {
    background-position: -11920px 0;
}
#WatatsukinoToyohime.tiered {
    background-position: -17880px 0;
}
#WatatsukinoYorihime.list {
    background-position: -12000px 0;
}
#WatatsukinoYorihime.tiered {
    background-position: -18000px 0;
}
#MaribelHearn.list {
    background-position: -12080px 0;
}
#MaribelHearn.tiered {
    background-position: -18120px 0;
}
#RenkoUsami.list {
    background-position: -12160px 0;
}
#RenkoUsami.tiered {
    background-position: -18240px 0;
}
#MiyoiOkunoda.list {
    background-position: -12240px 0;
}
#MiyoiOkunoda.tiered {
    background-position: -18360px 0;
}
@media screen and (max-width: 1300px) {
    .dropdowns {
        width: 100%;
    }
    .nav_left {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 100%;
    }
    .nav_right {
        display: none;
    }
    #ext_mobile {
        display: inline-block;
    }
}
@media screen and (max-width: 1100px) and (max-height: 800px) {
    body.no-webp, body.webp {
        background: #1b232e;
    }
    #wrap, #buttons, #msg_container, #show, #characters, #modal_inner {
        font-size: 12px;
    }
}
@media only screen and (((max-width: 800px) and (orientation: portrait)) or ((max-width: 640px) and (orientation: landscape))) {
    body.no-webp, body.webp {
        background: #1b232e;
    }
    h1 {
        margin: 5px;
        font-size: 28px;
    }
    h2 {
        font-size: 28px;
    }
    p {
        margin: 2px;
    }
    .button {
        width: 48%;
        height: 25px;
        font-size: 12px;
    }
    .tier_header {
        width: 60px;
        height: 60px;
    }
    .list, .tiered {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
    .instructions {
        display: block;
    }
    .dropdowns {
        width: 100%;
    }
    .nav_left {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .nav_right {
        display: none;
    }
    #wrap {
        top: 5px;
        bottom: 5px;
        right: 5px;
        left: 5px;
        width: auto;
        height: 100%;
        max-height: 100%;
    }
    #ext_mobile {
        display: inline-block;
    }
    #information_button, #view_button, #mobile_button_split, #menu_button, #switch_button {
        display: inline;
    }
    #nav, #menu, #credits, #instructions, #tier_list_container, #tier_list_tfoot,
    #sort_selection, #toggle, #instructions_list {
        display: none;
    }
    #instructions, #instructions_mobile {
        display: block;
    }
    #add_tier_box_mobile {
        display: table-row;
    }
    #tier_list_container {
        bottom: 100px;
        max-height: 71%;
        overflow-y: auto;
        border: 1px solid black;
    }
    #wrap, #buttons, #msg_container, #show, #characters {
        font: 12px verdana, sans-serif;
    }
    #add_tier_mobile {
        width: auto;
        height: 25px;
        font-size: 12px;
    }
    #ReimuHakurei.list, #ReimuHakurei.tiered {
        background-position: -60px 0;
    }
    #Elis.list, #Elis.tiered {
        background-position: -120px 0;
    }
    #Kikuri.list, #Kikuri.tiered {
        background-position: -180px 0;
    }
    #Konngara.list, #Konngara.tiered {
        background-position: -240px 0;
    }
    #Mima.list, #Mima.tiered {
        background-position: -300px 0;
    }
    #ReimuPC-98.list, #ReimuPC-98.tiered {
        background-position: -360px 0;
    }
    #Sariel.list, #Sariel.tiered {
        background-position: -420px 0;
    }
    #SinGyokuF.list, #SinGyokuF.tiered {
        background-position: -480px 0;
    }
    #SinGyokuM.list, #SinGyokuM.tiered {
        background-position: -540px 0;
    }
    #YuugenMagan.list, #YuugenMagan.tiered {
        background-position: -600px 0;
    }
    #EvilEyeSigma.list, #EvilEyeSigma.tiered {
        background-position: -660px 0;
    }
    #Genjii.list, #Genjii.tiered {
        background-position: -720px 0;
    }
    #MarisaPC-98.list, #MarisaPC-98.tiered {
        background-position: -780px 0;
    }
    #Meira.list, #Meira.tiered {
        background-position: -840px 0;
    }
    #Rika.list, #Rika.tiered {
        background-position: -900px 0;
    }
    #ChiyuriKitashirakawa.list, #ChiyuriKitashirakawa.tiered {
        background-position: -960px 0;
    }
    #Ellen.list, #Ellen.tiered {
        background-position: -1020px 0;
    }
    #KanaAnaberal.list, #KanaAnaberal.tiered {
        background-position: -1080px 0;
    }
    #Kotohime.list, #Kotohime.tiered {
        background-position: -1140px 0;
    }
    #Mimi-chan.list, #Mimi-chan.tiered {
        background-position: -1200px 0;
    }
    #RikakoAsakura.list, #RikakoAsakura.tiered {
        background-position: -1260px 0;
    }
    #Ruukoto.list, #Ruukoto.tiered {
        background-position: -1320px 0;
    }
    #YumemiOkazaki.list, #YumemiOkazaki.tiered {
        background-position: -1380px 0;
    }
    #Elly.list, #Elly.tiered {
        background-position: -1440px 0;
    }
    #Gengetsu.list, #Gengetsu.tiered {
        background-position: -1500px 0;
    }
    #Kurumi.list, #Kurumi.tiered {
        background-position: -1560px 0;
    }
    #Mugetsu.list, #Mugetsu.tiered {
        background-position: -1620px 0;
    }
    #Orange.list, #Orange.tiered {
        background-position: -1680px 0;
    }
    #YuukaPC-98.list, #YuukaPC-98.tiered {
        background-position: -1740px 0;
    }
    #AlicePC-98.list, #AlicePC-98.tiered {
        background-position: -1800px 0;
    }
    #Luize.list, #Luize.tiered {
        background-position: -1860px 0;
    }
    #MaiPC-98.list, #MaiPC-98.tiered {
        background-position: -1920px 0;
    }
    #Sara.list, #Sara.tiered {
        background-position: -1980px 0;
    }
    #Shinki.list, #Shinki.tiered {
        background-position: -2040px 0;
    }
    #Yuki.list, #Yuki.tiered {
        background-position: -2100px 0;
    }
    #Yumeko.list, #Yumeko.tiered {
        background-position: -2160px 0;
    }
    #Cirno.list, #Cirno.tiered {
        background-position: -2220px 0;
    }
    #Daiyousei.list, #Daiyousei.tiered {
        background-position: -2280px 0;
    }
    #FlandreScarlet.list, #FlandreScarlet.tiered {
        background-position: -2340px 0;
    }
    #HongMeiling.list, #HongMeiling.tiered {
        background-position: -2400px 0;
    }
    #Koakuma.list, #Koakuma.tiered {
        background-position: -2460px 0;
    }
    #PatchouliKnowledge.list, #PatchouliKnowledge.tiered {
        background-position: -2520px 0;
    }
    #RemiliaScarlet.list, #RemiliaScarlet.tiered {
        background-position: -2580px 0;
    }
    #Rumia.list, #Rumia.tiered {
        background-position: -2640px 0;
    }
    #SakuyaIzayoi.list, #SakuyaIzayoi.tiered {
        background-position: -2700px 0;
    }
    #AliceMargatroid.list, #AliceMargatroid.tiered {
        background-position: -2760px 0;
    }
    #Chen.list, #Chen.tiered {
        background-position: -2820px 0;
    }
    #LettyWhiterock.list, #LettyWhiterock.tiered {
        background-position: -2880px 0;
    }
    #LilyWhite.list, #LilyWhite.tiered {
        background-position: -2940px 0;
    }
    #LunasaPrismriver.list, #LunasaPrismriver.tiered {
        background-position: -3000px 0;
    }
    #LyricaPrismriver.list, #LyricaPrismriver.tiered {
        background-position: -3060px 0;
    }
    #MerlinPrismriver.list, #MerlinPrismriver.tiered {
        background-position: -3120px 0;
    }
    #RanYakumo.list, #RanYakumo.tiered {
        background-position: -3180px 0;
    }
    #YoumuKonpaku.list, #YoumuKonpaku.tiered {
        background-position: -3240px 0;
    }
    #YukariYakumo.list, #YukariYakumo.tiered {
        background-position: -3300px 0;
    }
    #YuyukoSaigyouji.list, #YuyukoSaigyouji.tiered {
        background-position: -3360px 0;
    }
    #SuikaIbuki.list, #SuikaIbuki.tiered {
        background-position: -3420px 0;
    }
    #EirinYagokoro.list, #EirinYagokoro.tiered {
        background-position: -3480px 0;
    }
    #FujiwaranoMokou.list, #FujiwaranoMokou.tiered {
        background-position: -3540px 0;
    }
    #KaguyaHouraisan.list, #KaguyaHouraisan.tiered {
        background-position: -3600px 0;
    }
    #KeineKamishirasawa.list, #KeineKamishirasawa.tiered {
        background-position: -3660px 0;
    }
    #MystiaLorelei.list, #MystiaLorelei.tiered {
        background-position: -3720px 0;
    }
    #ReisenUdongeinInaba.list, #ReisenUdongeinInaba.tiered {
        background-position: -3780px 0;
    }
    #TewiInaba.list, #TewiInaba.tiered {
        background-position: -3840px 0;
    }
    #WriggleNightbug.list, #WriggleNightbug.tiered {
        background-position: -3900px 0;
    }
    #AyaShameimaru.list, #AyaShameimaru.tiered {
        background-position: -3960px 0;
    }
    #EikiShikiYamaxanadu.list, #EikiShikiYamaxanadu.tiered {
        background-position: -4020px 0;
    }
    #KomachiOnozuka.list, #KomachiOnozuka.tiered {
        background-position: -4080px 0;
    }
    #MedicineMelancholy.list, #MedicineMelancholy.tiered {
        background-position: -4140px 0;
    }
    #YuukaKazami.list, #YuukaKazami.tiered {
        background-position: -4200px 0;
    }
    #HinaKagiyama.list, #HinaKagiyama.tiered {
        background-position: -4260px 0;
    }
    #KanakoYasaka.list, #KanakoYasaka.tiered {
        background-position: -4320px 0;
    }
    #MinorikoAki.list, #MinorikoAki.tiered {
        background-position: -4380px 0;
    }
    #MomijiInubashiri.list, #MomijiInubashiri.tiered {
        background-position: -4440px 0;
    }
    #NitoriKawashiro.list, #NitoriKawashiro.tiered {
        background-position: -4500px 0;
    }
    #SanaeKochiya.list, #SanaeKochiya.tiered {
        background-position: -4560px 0;
    }
    #ShizuhaAki.list, #ShizuhaAki.tiered {
        background-position: -4620px 0;
    }
    #SuwakoMoriya.list, #SuwakoMoriya.tiered {
        background-position: -4680px 0;
    }
    #IkuNagae.list, #IkuNagae.tiered {
        background-position: -4740px 0;
    }
    #TenshiHinanawi.list, #TenshiHinanawi.tiered {
        background-position: -4800px 0;
    }
    #Kisume.list, #Kisume.tiered {
        background-position: -4860px 0;
    }
    #KoishiKomeiji.list, #KoishiKomeiji.tiered {
        background-position: -4920px 0;
    }
    #ParseeMizuhashi.list, #ParseeMizuhashi.tiered {
        background-position: -4980px 0;
    }
    #RinKaenbyou.list, #RinKaenbyou.tiered {
        background-position: -5040px 0;
    }
    #SatoriKomeiji.list, #SatoriKomeiji.tiered {
        background-position: -5100px 0;
    }
    #UtsuhoReiuji.list, #UtsuhoReiuji.tiered {
        background-position: -5160px 0;
    }
    #YamameKurodani.list, #YamameKurodani.tiered {
        background-position: -5220px 0;
    }
    #YuugiHoshiguma.list, #YuugiHoshiguma.tiered {
        background-position: -5280px 0;
    }
    #ByakurenHijiri.list, #ByakurenHijiri.tiered {
        background-position: -5340px 0;
    }
    #IchirinKumoi.list, #IchirinKumoi.tiered {
        background-position: -5400px 0;
    }
    #KogasaTatara.list, #KogasaTatara.tiered {
        background-position: -5460px 0;
    }
    #MinamitsuMurasa.list, #MinamitsuMurasa.tiered {
        background-position: -5520px 0;
    }
    #Nazrin.list, #Nazrin.tiered {
        background-position: -5580px 0;
    }
    #NueHoujuu.list, #NueHoujuu.tiered {
        background-position: -5640px 0;
    }
    #ShouToramaru.list, #ShouToramaru.tiered {
        background-position: -5700px 0;
    }
    #Unzan.list, #Unzan.tiered {
        background-position: -5760px 0;
    }
    #Hisoutensoku.list, #Hisoutensoku.tiered {
        background-position: -5820px 0;
    }
    #HatateHimekaidou.list, #HatateHimekaidou.tiered {
        background-position: -5880px 0;
    }
    #LunaChild.list, #LunaChild.tiered {
        background-position: -5940px 0;
    }
    #StarSapphire.list, #StarSapphire.tiered {
        background-position: -6000px 0;
    }
    #SunnyMilk.list, #SunnyMilk.tiered {
        background-position: -6060px 0;
    }
    #KyoukoKasodani.list, #KyoukoKasodani.tiered {
        background-position: -6120px 0;
    }
    #MamizouFutatsuiwa.list, #MamizouFutatsuiwa.tiered {
        background-position: -6180px 0;
    }
    #MononobenoFuto.list, #MononobenoFuto.tiered {
        background-position: -6240px 0;
    }
    #SeigaKaku.list, #SeigaKaku.tiered {
        background-position: -6300px 0;
    }
    #SoganoTojiko.list, #SoganoTojiko.tiered {
        background-position: -6360px 0;
    }
    #ToyosatomiminoMiko.list, #ToyosatomiminoMiko.tiered {
        background-position: -6420px 0;
    }
    #YoshikaMiyako.list, #YoshikaMiyako.tiered {
        background-position: -6480px 0;
    }
    #HatanoKokoro.list, #HatanoKokoro.tiered {
        background-position: -6540px 0;
    }
    #Clownpiece.list, #Clownpiece.tiered {
        background-position: -6600px 0;
    }
    #DoremySweet.list, #DoremySweet.tiered {
        background-position: -6660px 0;
    }
    #HecatiaLapislazuli.list, #HecatiaLapislazuli.tiered {
        background-position: -6720px 0;
    }
    #Junko.list, #Junko.tiered {
        background-position: -6780px 0;
    }
    #Ringo.list, #Ringo.tiered {
        background-position: -6840px 0;
    }
    #SagumeKishin.list, #SagumeKishin.tiered {
        background-position: -6900px 0;
    }
    #Seiran.list, #Seiran.tiered {
        background-position: -6960px 0;
    }
    #BenbenTsukumo.list, #BenbenTsukumo.tiered {
        background-position: -7020px 0;
    }
    #KagerouImaizumi.list, #KagerouImaizumi.tiered {
        background-position: -7080px 0;
    }
    #RaikoHorikawa.list, #RaikoHorikawa.tiered {
        background-position: -7140px 0;
    }
    #SeijaKijin.list, #SeijaKijin.tiered {
        background-position: -7200px 0;
    }
    #Sekibanki.list, #Sekibanki.tiered {
        background-position: -7260px 0;
    }
    #ShinmyoumaruSukuna.list, #ShinmyoumaruSukuna.tiered {
        background-position: -7320px 0;
    }
    #Wakasagihime.list, #Wakasagihime.tiered {
        background-position: -7380px 0;
    }
    #YatsuhashiTsukumo.list, #YatsuhashiTsukumo.tiered {
        background-position: -7440px 0;
    }
    #SumirekoUsami.list, #SumirekoUsami.tiered {
        background-position: -7500px 0;
    }
    #JoonYorigami.list, #JoonYorigami.tiered {
        background-position: -7560px 0;
    }
    #ShionYorigami.list, #ShionYorigami.tiered {
        background-position: -7620px 0;
    }
    #AunnKomano.list, #AunnKomano.tiered {
        background-position: -7680px 0;
    }
    #EternityLarva.list, #EternityLarva.tiered {
        background-position: -7740px 0;
    }
    #MaiTeireida.list, #MaiTeireida.tiered {
        background-position: -7800px 0;
    }
    #NarumiYatadera.list, #NarumiYatadera.tiered {
        background-position: -7860px 0;
    }
    #NemunoSakata.list, #NemunoSakata.tiered {
        background-position: -7920px 0;
    }
    #OkinaMatara.list, #OkinaMatara.tiered {
        background-position: -7980px 0;
    }
    #SatonoNishida.list, #SatonoNishida.tiered {
        background-position: -8040px 0;
    }
    #EikaEbisu.list, #EikaEbisu.tiered {
        background-position: -8100px 0;
    }
    #KeikiHaniyasushin.list, #KeikiHaniyasushin.tiered {
        background-position: -8160px 0;
    }
    #KutakaNiwatari.list, #KutakaNiwatari.tiered {
        background-position: -8220px 0;
    }
    #MayumiJoutouguu.list, #MayumiJoutouguu.tiered {
        background-position: -8280px 0;
    }
    #SakiKurokoma.list, #SakiKurokoma.tiered {
        background-position: -8340px 0;
    }
    #UrumiUshizaki.list, #UrumiUshizaki.tiered {
        background-position: -8400px 0;
    }
    #YachieKicchou.list, #YachieKicchou.tiered {
        background-position: -8460px 0;
    }
    #FortuneTeller.list, #FortuneTeller.tiered {
        background-position: -8520px 0;
    }
    #HiedanoAkyuu.list, #HiedanoAkyuu.tiered {
        background-position: -8580px 0;
    }
    #KasenIbaraki.list, #KasenIbaraki.tiered {
        background-position: -8640px 0;
    }
    #KosuzuMotoori.list, #KosuzuMotoori.tiered {
        background-position: -8700px 0;
    }
    #ReisenII.list, #ReisenII.tiered {
        background-position: -8760px 0;
    }
    #RinnosukeMorichika.list, #RinnosukeMorichika.tiered {
        background-position: -8820px 0;
    }
    #Tokiko.list, #Tokiko.tiered {
        background-position: -8880px 0;
    }
    #WatatsukinoToyohime.list, #WatatsukinoToyohime.tiered {
        background-position: -8940px 0;
    }
    #WatatsukinoYorihime.list, #WatatsukinoYorihime.tiered {
        background-position: -9000px 0;
    }
    #MaribelHearn.list, #MaribelHearn.tiered {
        background-position: -9060px 0;
    }
    #RenkoUsami.list, #RenkoUsami.tiered {
        background-position: -9120px 0;
    }
    #MiyoiOkunoda.list, #MiyoiOkunoda.tiered {
        background-position: -9180px 0;
    }
}
@media only screen and (max-width: 800px) and (orientation: portrait) {
    #characters {
        width: auto;
        top: 50px;
        right: 5px;
        bottom: 18%;
    }
    #buttons {
        max-width: 98%;
        padding-top: 5px;
        left: 5px;
        height: 16%;
        min-height: 50px;
    }
    #modal {
        padding-top: 10%;
    }
    #modal_inner {
        max-height: 75%;
    }
    h1 {
        margin: 5px;
        font-size: 28px;
    }
}
@media only screen and (max-width: 640px) and (orientation: landscape) {
    #title {
        display: none;
    }
    #characters {
        width: auto;
        top: 2%;
        right: 5px;
        bottom: 25%;
    }
    #buttons {
        max-width: 98%;
        padding-top: 5px;
        left: 5px;
        height: 22%;
        min-height: 50px;
    }
    #modal {
        padding-top: 2%;
    }
}
@media only screen and (max-height: 350px) {
    #information_button, #view_button, #mobile_button_split, #menu_button, #switch_button {
        display: inline;
    }
    #menu, #credits, #characters, #tier_list_tfoot, #nav, #sort_selection, #instructions_text, #instructions_list, #toggle {
        display: none;
    }
    #tier_list_container, #instructions, #instructions_mobile {
        display: block;
    }
    #add_tier_box_mobile {
        display: table-row;
    }
    #wrap {
        top: 5px;
        bottom: 5px;
        right: 5px;
        left: 5px;
        width: auto;
        height: 100%;
        max-height: 100%;
    }
    #tier_list_container {
        bottom: 100px;
        max-height: 71%;
        overflow-y: auto;
        border: 1px solid black;
    }
    #wrap, #buttons, #msg_container, #show, #characters, #modal_inner {
        font-size: 12px;
    }
    #add_tier_mobile {
        width: auto;
        height: 25px;
        font-size: 12px;
    }
    h1 {
        margin: 5px;
        font-size: 28px;
    }
}
@media only screen and (max-height: 250px) {
    #buttons {
        display: none;
    }
}
@media only screen and (max-height: 150px) {
    #title {
        display: none;
    }
}
