.webp body {
    background: url('tiers.webp') center no-repeat fixed;
    background-size: cover;
}
.no-js body, .no-webp body {
    background: url('tiers.jpg') center no-repeat fixed;
    background-size: cover;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
    margin: 15px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
}
h3 {
    font-family: 'Felipa';
    font-size: 28px;
}
p {
    margin: 10px;
}
label {
    padding-right: 5px;
}
a:link {
    color: #1e90ff;
}
a:active {
    color: red;
}
a:visited {
    color: #ff69b4;
}
input[type=number] {
    height: 20px;
}
.tier_header {
    font-size: 32px;
    width: 120px;
    height: 120px;
    max-width: 120px;
    border: 1px solid #606060;
    word-wrap: break-word;
}
.tier_content {
    text-align: left;
    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
}
.list {
    width: 80px;
    height: 80px;
}
.tiered {
    width: 120px;
    height: 120px;
}
.name {
    margin-top: 10px;
}
.colour {
    margin-bottom: 10px;
}
.confirmation {
    color: green;
}
.error {
    color: orange;
}
.mobile_button {
    margin: 10px;
}
.left {
    text-align: left;
}
#buttons, #characters, #show, #wrap {
    background-color: #1b232e;
    font: 14px verdana, sans-serif;
    border: 1px solid #000;
    text-align: center;
    position: fixed;
    color: #a0a0a0;
}
#wrap {
    max-height: 77%;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 48%;
    right: 5px;
    top: 5px;
}
#tier_list_container_mobile {
    overflow-y: auto;
    top: 50px;
    right: 5px;
    bottom: 100px;
    width: auto;
}
#tier_list_table {
    width: 100%;
}
#tier_name {
    width: 120px;
}
#characters {
    overflow-y: auto;
    max-height: 98%;
    min-height: 10%;
    width: 48%;
    left: 5px;
    top: 5px;
}
#characters div:not(:nth-child(1)) {
    border-top: 1px solid #606060;
}
#buttons {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    max-height: 25%;
    max-width: 48%;
    bottom: 5px;
    right: 5px;
}
#instructions, #instructions_mobile, #button_split, #information_button,
#view_button, #mobile_button_split, #menu_button, #switch_button, #add_tier_box_mobile {
    display: none;
}
#show {
    display: none;
    border: none;
    bottom: 10px;
    right: 5%;
}
#modal {
    font: 14px verdana, sans-serif;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 3%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,.4);
    color: #000;
}
#modal_inner {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    display: none;
    overflow-y: auto;
}
#import {
    width: 80%;
    height: 400px;
}
#artist_form, #settings_table {
    margin: 15px auto;
}
#toggle_instructions {
    color: #1e90ff;
    text-decoration: underline;
}
#mobile_addtotier {
     min-width: 25px;
     height: 25px;
     margin: 10px;
}
#erase_all_button {
    margin: 10px;
}
@media screen and (max-width: 1100px) and (max-height: 800px) {
    .no-js body, .no-webp body, .webp body {
        background: #1b232e;
    }
}
@media only screen and (((min-device-width: 320px) and (max-device-width: 800px) and (orientation: portrait)) or
((min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape))) {
    .no-js body, .no-webp body, .webp body {
        background: #1b232e;
    }
    #information_button, #view_button, #mobile_button_split, #menu_button, #switch_button {
        display: inline;
    }
    #nav, #menu, #credits, #instructions, #tier_list_container, #tier_list_tfoot,
    #sort_selection, #toggle, #instructions_list {
        display: none;
    }
    #instructions, #instructions_mobile {
        display: block;
    }
    #add_tier_box_mobile {
        display: table-row;
    }
    #wrap {
        top: 5px;
        bottom: 5px;
        right: 5px;
        left: 5px;
        width: auto;
        height: 100%;
        max-height: 100%;
    }
    #tier_list_container {
        bottom: 100px;
        max-height: 71%;
        overflow-y: auto;
        border: 1px solid black;
    }
    #wrap, #buttons, #msg_container, #show, #characters {
        font: 12px verdana, sans-serif;
    }
    #add_tier_mobile {
        width: auto;
        height: 25px;
        font-size: 12px;
    }
    .button {
        width: 48%;
        height: 25px;
        font-size: 12px;
    }
    .tier_header, .list, .tiered {
        width: 60px;
        height: 60px;
    }
    .instructions {
        display: block;
    }
    p {
        margin: 2px;
    }
    h1 {
        margin: 5px;
        font-size: 28px;
    }
    h2 {
        font-size: 28px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) and (orientation: portrait) {
    #characters {
        width: auto;
        top: 50px;
        right: 5px;
        bottom: 18%;
    }
    #buttons {
        max-width: 98%;
        padding-top: 5px;
        left: 5px;
        height: 16%;
        min-height: 50px;
    }
    #modal {
        padding-top: 10%;
    }
    #modal_inner {
        max-height: 75%;
    }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
    #title {
        display: none;
    }
    #characters {
        width: auto;
        top: 2%;
        right: 5px;
        bottom: 25%;
    }
    #buttons {
        max-width: 98%;
        padding-top: 5px;
        left: 5px;
        height: 22%;
        min-height: 50px;
    }
    #modal {
        padding-top: 2%;
    }
}
@media only screen and (max-height: 320px) {
    #information_button, #view_button, #mobile_button_split, #menu_button, #switch_button {
        display: inline;
    }
    #menu, #credits, #characters, #tier_list_tfoot, #init, #buttons {
        display: none;
    }
    #tier_list_container, #instructions, #instructions_mobile {
        display: block;
    }
    #add_tier_box_mobile {
        display: table-row;
    }
    #wrap {
        top: 5px;
        bottom: 5px;
        right: 5px;
        left: 5px;
        width: auto;
        height: 100%;
        max-height: 100%;
    }
    #tier_list_container {
        bottom: 100px;
        max-height: 71%;
        overflow-y: auto;
        border: 1px solid black;
    }
    #wrap, #buttons, #msg_container, #show, #characters {
        font: 12px verdana, sans-serif;
    }
    #add_tier_mobile {
        width: auto;
        height: 25px;
        font-size: 12px;
    }
    .tier_header, .list, .tiered {
        width: 60px;
        height: 60px;
    }
}
