@font-face {
  font-family: Felipa;
  font-display: swap;
  src: url('../shared/Felipa-Regular.woff2') format('woff2'),
       url('../shared/Felipa-Regular.woff') format('woff');
}
body.webp {
    background: url('index.webp') center no-repeat fixed;
    background-size: cover;
}
body.no-webp {
    background: url('index.jpg') center no-repeat fixed;
    background-size: cover;
}
div {
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}
h1 {
    font-family: 'Felipa';
    font-size: 48px;
}
h2 {
    font-family: 'Felipa';
    font-size: 36px;
    margin: 20px;
    clear: both;
}
hr {
    clear: both;
}
ul {
    margin: 0px 10% 0px;
}
li {
    list-style-position: inside;
    margin: 3px;
}
p {
    margin: 2px;
}
.wide {
    margin: 10px;
}
.wide-top {
    margin-top: 10px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
}
.left {
    float: left;
    width: 50%;
}
.right {
    float: right;
    width: 50%;
}
#wrap {
    border: 1px solid #000;
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    opacity: 0.8;
    font: 14px verdana,sans-serif;
}
#links {
    float: left;
}
#hy {
    float: right;
}
#map {
    width: 53%;
}
#tiers {
    width: 68%;
}
@media only screen and (min-width:1000px) and (max-width:1400px) {
    #wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (min-width:800px) and (max-width:1000px) {
    #wrap {
        margin-left: 15%;
        margin-right: 15%;
    }
    #avatar {
        width: 95%;
    }
}
@media only screen and (max-width:800px) {
    #wrap {
        margin-left: 0;
        margin-right: 0;
    }
    #avatar {
        width: 95%;
    }
}
@media only screen and (min-width:320px) and (max-width:800px) and (orientation:portrait) {
    #wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    #avatar, #map, #tiers {
        width: 95%;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    ul {
        margin: 0px 0% 0px;
    }
    li {
        margin: 0px;
    }
}
@media only screen and (min-width:480px) and (max-width:640px) and (orientation:landscape) {
    #wrap {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    #avatar, #map, #tiers {
        width: 95%;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    ul {
        margin: 0px 0% 0px;
    }
    li {
        margin: 0px;
    }
}
